[2019-05-19 06:00] #141 closed

[2019-05-19 06:38] mainawycliffe commented on #143
Closed by https://github.com/zino-app/graphql-flutter/pull/248

[2019-05-19 06:38] #143 closed

[2019-05-19 08:51] HofmannZ commented on #235
:tada: This issue has been resolved in version 1.0.1-beta.8 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.1-beta.8%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-19 08:52] HofmannZ commented on #198
:tada: This issue has been resolved in version 1.0.1-beta.8 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.1-beta.8%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-19 08:52] HofmannZ commented on #270
:tada: This issue has been resolved in version 1.0.1-beta.8 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.1-beta.8%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-19 08:52] HofmannZ commented on #244
:tada: This issue has been resolved in version 1.0.1-beta.8 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.1-beta.8%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-19 09:03] smkhalsa commented on #273
@micimize good question.

In the case of Apollo, the render prop function provides a `mutate` function and a `MutationResponse` object. I believe the `mutate` function returns a Promise once the client receives a server response, and the `MutationResponse` updates immediately with the optimistic response. However, I haven't dug into the source to validate.

The above approach makes sense to me. Si

[2019-05-19 10:35] smkhalsa opened #278 "Move "update" function from flutter component to client"
In line with [Apollo](https://github.com/apollographql/apollo-client/blob/master/packages/apollo-client/src/core/QueryManager.ts#L134), we should add an `update` function as well as a `refetchQueries` array within the `MutationOptions` of QueryManager's `mutate` function,

[2019-05-20 08:34] mohammadanton commented on #190
I already update to 1.0.0-beta.1 but after mutation, the query keep giving old data.

this is my mutation
    final QueryResult result = await client2.mutate(
      MutationOptions(
        document: mutation.addChat,
        variables: {
          'roomId': roomId,
          'content': content,
          'idUser': idUser
        }
      )
    );

and this is my client
  GraphQLClient client2 = Gr

[2019-05-20 09:03] HofmannZ commented on #190
@mohammadanton could you try out version `1.0.1-beta.9`?

[2019-05-20 09:12] mainawycliffe commented on #262
Should we copy the one from [Angular ](https://github.com/angular/angular/blob/master/CONTRIBUTING.md)and make the necessary changes?

[2019-05-20 09:19] HofmannZ commented on #262
@mainawycliffe Yeah, that might actually be the quickest way to do it.

[2019-05-20 09:20] mainawycliffe commented on #262
I will create a pull request, alongside a change log for the GraphQL client package

[2019-05-20 16:18] Kyle-Mendes commented on #234
Couldn't `refetch` be optional? And then , in `builder` `graphql_flutter` could check `if (refetch != null)`? Or am I misunderstanding the issue

[2019-05-20 16:20] Kyle-Mendes commented on #220
@mainawycliffe

I think I'm getting to the bottom of this.  I believe that the above code snippet actually works, and the operation is added back to the stream and requested again.

However, I think that when the new operation resolves successfully, it is not triggering an update in `state` any where, so the `builder` for `gql` isn't getting the new results, and therefore isn't re-rendering.

I'm

[2019-05-20 18:03] HofmannZ commented on #208
:tada: This issue has been resolved in version 1.0.1-beta.10 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.1-beta.10%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 18:03] HofmannZ commented on #242
:tada: This issue has been resolved in version 1.0.1-beta.10 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.1-beta.10%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 18:50] anirudhsharma392 opened #285 "getting error in the code given below after updating the flutter to Flutter 1.5.4-hotfix.2 ."
can't assign httpLink to link.

static HttpLink httpLink = HttpLink(
    uri: " .."
  );
  ValueNotifier<GraphQLClient> client1 = ValueNotifier(
    GraphQLClient(cache: InMemoryCache(), link: httpLink//error is here
),
  );

error: The argument type 'HttpLink' can't be assigned to the parameter type 'Link'. (argument_type_not_assignable

[2019-05-20 20:07] HofmannZ commented on #208
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #242
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #235
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #198
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #270
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #72
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #127
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #190
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #186
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #183
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #155
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #109
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #103
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #75
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #74
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #61
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #21
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:07] HofmannZ commented on #14
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:08] HofmannZ commented on #244
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-20 20:10] #242 closed

[2019-05-20 20:11] #208 closed

[2019-05-20 22:16] mainawycliffe commented on #285
You need to cast the error `httpLink as Link`
`

[2019-05-21 01:18] yunyu opened #288 "data is not returned from mutate if FetchPolicy.noCache is used"
If you pass in a `MutationOptions` to `GraphQLClient.mutate` that specifies `fetchPolicy: FetchPolicy.noCache`, the `data` field is set to null in the returned `QueryResult`:

https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/core/query_manager.dart#L133

This behavior is slightly... unexpected.

[2019-05-21 08:05] smkhalsa opened #290 "Synchronously return data from cache if available"
I'd like to use the [Hero](https://flutter.dev/docs/development/ui/animations/hero-animations) widget when navigating between screens. However, it requires that the shared widget be available upon first paint on both screens. The data property is currently always null on the initial render, even if results (or partial normalized results) are available in the cache.

I propose that we adjust the cl

[2019-05-21 23:03] #285 closed

[2019-05-21 23:08] HofmannZ commented on #288
:tada: This issue has been resolved in version 1.0.2-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.2-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-22 03:09] #288 closed

[2019-05-22 04:31] CalebJTSmith opened #291 "How do I find the key to write to cache on mutation?"
I've tried a few different things.. but im stumped on how to handle this. I have a basic query that is returning a list of items and caching with NormalizedInMemoryCache. I have a mutation that adds an item to that list - the result returns back the same list of data.

[code]
[code]
[code]
I am trying to find the key for the cache so I can override the current cached list of "lists" and add the ne

[2019-05-22 09:59] lassesteffen opened #292 "Allow Http Link uri to be an async function"
**Is your feature request related to a problem? Please describe.**
I am trying to build a multi tenant setup using this awesome library. When the user logs in this tenant key will be stored in shared prefs. This key will then be part of my uri which is like 'https://$tenantKey.server.com'. I want this uri to be set on an httpclient which wrapping my whole application and has the MaterialApp as a c

[2019-05-23 20:39] CalebJTSmith commented on #291
I ended up going to route of utilizing `bloc` state instead following examples. Ended up being the smoothest route anyway so im pleased with it.

[2019-05-23 20:39] #291 closed

[2019-05-24 04:27] mainawycliffe commented on #291
@CalebJTSmith Hi, its great you found a solution. Would you mind contributing an example, we are still short on those.

[2019-05-24 04:44] mainawycliffe commented on #292
Have you tried separating the authentication and authenticated routes? This way, you redirect user to the route section that is not wrapped by the `GraphQLProvider` Widget when they are not logged in. If they are logged in (i.e. the tenantKey exists) then construct you URL and create a HTTPLink, and allow access to authenticated section, and once a user logouts, clear shared prefs and redirect to

[2019-05-24 10:14] kei42 commented on #72
Hello,
I've been trying to use the package on web platform with graphql: ^1.0.1 for websockets and it seems that the file socket_client.dart depends on dart:io is it normal ?
I've been trying to implement it based on this thread : https://github.com/zino-app/graphql-flutter/issues/231

Thanks.

[2019-05-24 13:52] micimize opened #295 "make `graphql/client.dart` web compatible"
We've received a handful of complaints about the `dart:io` dependency, which makes `graphql/client.dart` [incompatible](https://api.dartlang.org/stable/2.3.1/dart-io/dart-io-library.html) with web:

This should be avoidable.

Current progress and corresponding MR:

- [x] memory persistent #325
- [x] GraphQL upload file #328
- [x] websocket #323

[2019-05-24 13:56] micimize commented on #72
@kei42 @klavs  just made #295 to track the `dart:io` issue

[2019-05-24 13:56] #72 closed

[2019-05-24 13:59] yunyu opened #296 "Query widgets with FetchPolicy.cacheOnly don't update if contents initially not in cache"
**Describe the bug**
If you create a Query widget with `FetchPolicy.cacheOnly` and that widget renders before the cache is populated with the corresponding key, the widget does not ever re-render. This does not occur when the value is already in the cache when the widget first renders.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Query widget with `FetchPolicy.cacheOnly`
2. After

[2019-05-24 14:03] micimize commented on #295
`dart:io` is used:
* in `lib/src/cache/in_memory.dart` for persistence
* in `lib/src/core/raw_operation_data.dart` for `File` handling
* in `lib/src/link/http/link_http.dart` for `File` upload logic
* in `lib/src/socket_client.dart` for `CompressionOptions`, `WebSocket`, and `WebSocketStatus`

[2019-05-24 14:16] micimize commented on #295
We can probably replace file logic with https://pub.dev/packages/file, but it seems like `WebSockets` will require some toggle logic between `dart:io` and `dart:html`. I think we can do a [conditional export](https://github.com/sass/dart-sass/blob/3b6730369bdff9bb7859411c82e4b21f194d2514/lib/src/io.dart)

[2019-05-24 14:17] adelcasse commented on #295
Considering Websocket (that's our pain point with @kei42 for now), I've come across this lib https://github.com/dart-lang/web_socket_channel

Maybe a solution would be to use it or take inspiration to wrap both dart:io and dart:html Websocket implementations ?

[2019-05-24 14:36] micimize commented on #295
@adelcasse that's the right direction - maybe something more minimalist, idk much about websockets though. I'm not sure exactly, but I think we can leverage the conditional export to avoid any api differences between the platform (as opposed to shared interface with injection).

It'll probably be a bit before I have the time to get to this

[2019-05-24 14:38] adelcasse commented on #295
beware on conditional import as I think the implementations on io and html are not the same (different methods, ...). @kei42 might confirm as he tried but we have pull different code conditionally, not only imports

[2019-05-24 14:48] micimize opened #297 "refactor: Clean up caching submodule"
- [x] **refactor**: The cache submodule is kinda a huge mess of hasty inheritance
- [x] **api tuning**
  - [x] we should have a more descriptive top-level cache export like` GraphQLCache`
  - [x] Consider implementing the same interface as [quiver.cache](https://pub.dev/documentation/quiver/latest/quiver.cache/quiver.cache-library.html)
- [ ] **standalone** Almost all of the cache logic could be l

[2019-05-24 15:02] kei42 commented on #295
Indeed as far as I've seen there is no "connect" method in dart:html and there are no stream handling either.
 To connect on dart:html you just need this line:
`WebSocket(url,
          protocols: protocols);`
where as for dart:io
`WebSocket.connect(url,
          protocols: protocols,
          headers: headers,
          compression: config.compression);`

[2019-05-24 15:33] micimize commented on #295
yeah, we'd need a wrapping/normalizing interface and platform-specific implementations in the style of `web_socket_channel`. It would also be a great standalone `websocket` module.

[2019-05-25 05:54] HofmannZ commented on #288
:tada: This issue has been resolved in version 1.1.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-25 06:53] HofmannZ opened #299 "Publication of the flutter package fails"
The publication of the `graphql_flutter` package fails because of `Your pubspec.yaml must not override non-dev dependencies`.

The full output:
[code]

[2019-05-25 20:10] lassesteffen commented on #292
Sounds like a good idea, thanks I am going to see if I can make that work!

[2019-05-26 06:09] ArpanKIIT2017 commented on #169
Its very frustrating trying to use Subscriptions here. Although I got an idea by going through your code, its still hard to make it work. Websocket also connected but there are errors. So need a thorough documentation. I planned to use subscription in my app but had to stick with polling.

[2019-05-27 23:49] micimize commented on #299
This is because I added
[code]
Pretty annoying behavior for us, given the co-development / monorepo setup - [tracked here](https://github.com/dart-lang/pub/issues/1867).

I'm about to do some unrelated work and will comment out before PRing, which should clear this up for now

[2019-05-28 00:12] micimize commented on #296
Do you mean "Create a Query widget with ~FetchPolicy.noCach~ FetchPolicy.cacheOnly"?

I think this is probably because I'm throwing an exception if `cacheOnly` yields nothing, which:
* prevents any kind of results from being placed on the stream blocking render
* prevents query `lifecycle` from being updated

If I'm right, adding an `optimisticResult` with an `OptimisticCache` would be a viable wo

[2019-05-28 00:14] yunyu commented on #296
@micimize Oops, sorry about the typo. I will try out the workaround!

[2019-05-28 00:47] micimize commented on #290
Thinking out loud:
The first way I can think of to do this is to move `initialData`handling into `ObservableQuery` so that the widget looks something like
[code]
Which can then decide if it's loading, optimistic, etc.

* There's already a `ObservableQuery.previousResult`, which we would privatize
* add `get latestResult => _previousResult ?? QueryResult(loading: true)`
* break `addOptimisticQueryR

[2019-05-28 01:05] micimize commented on #290
Okay, yeah we can just break that logic into `eagerlyResolveQuery` and then call it again on `fetchQuery` if the options have changed

[2019-05-28 01:17] micimize commented on #292
Yeah, for this particular use case, authenticated routes is probably best.

This kind of `HttpLink` customization is also a good example of why it needs to be more extensible (#267)

[2019-05-28 01:26] micimize commented on #278
`update` logic exists but needs to be moved from `graphql_flutter`
We should also add `refetchQueries` - but only the part they don't [want to deprecate](https://github.com/apollographql/react-apollo/blob/master/src/Mutation.tsx#L205-L213)

Right now all "safe" queries are re-resolved from the cache on mutation, so there's that 😅

[2019-05-28 01:37] micimize opened #300 "Rework Subscription widget/api"
The Subscription widget's api is not in line with the rest of the library, and in general feels clunky and fragile

[2019-05-28 01:40] micimize commented on #169
The `starwars` example [fully functioning subscription example](https://github.com/zino-app/graphql-flutter/blob/master/examples/starwars/lib/reviews/review_subscription.dart). I'm leaving this open until we have more rigorous docs, which would be a welcome contribution (and I think is a doable first issue going off of the example)

[2019-05-28 01:42] micimize commented on #55
closed with #286

[2019-05-28 01:42] #55 closed

[2019-05-28 01:44] micimize commented on #102
I believe this is resolved in other PRs, given it's age. Feel free to reopen if it's still an issue

[2019-05-28 01:44] #102 closed

[2019-05-28 01:54] micimize commented on #231
It uses `graphql_flutter` rather than `graphql/client.dart`, but the [`starwars` example](https://github.com/zino-app/graphql-flutter/blob/master/examples/starwars) has fully functioning subscriptions. It also uses an easily runnable [test server](https://github.com/micimize/angel-starwars-test-server), so @chenxianqi hopefully you can use it as a starting point for figuring out standalone subscri

[2019-05-28 01:54] #231 closed

[2019-05-28 21:27] micimize commented on #296
I think I'm wrong, to some extent - the `Exception` gets caught and transformed into a `GraphQLError`

[2019-05-29 02:16] ArpanKIIT2017 commented on #134
Not yet solved...I am also facing this issue. Although my websocket works perfectly with my react app.

[2019-05-29 06:52] mainawycliffe commented on #134
what version of this app are you using?

[2019-05-29 07:18] ArpanKIIT2017 commented on #134
Version 1.0.0+4
I had to customize your code and make the following change to get it working:

`dynamic toJson() {
    final Map<String, dynamic> jsonMap = <String, dynamic>{};
    jsonMap['type'] = type;

    if (payload != null) {
      jsonMap['payload'] = json.encode(payload);
    }

    //return json.encode(jsonMap); Removed this line
    return jsonMap; // Instead returned the Map directly a

[2019-05-29 07:22] mainawycliffe commented on #134
Can you please check if this [example ](https://github.com/zino-app/graphql-flutter/tree/master/examples/starwars) is going to help, i know the documentation may not be up to date. It has a working subscription and is easy to get up and running on your device.

[2019-05-29 13:07] truongsinh commented on #134
@ArpanKIIT2017 suggestion seems to be correct, I'm working on this.

[2019-05-29 16:12] #134 closed

[2019-05-29 16:28] micimize commented on #221
closed by #303

[2019-05-29 16:28] #221 closed

[2019-05-29 17:15] micimize commented on #153
We should really just add a `responseType` enum or something, as there are so many aspects to this basic problem.

A result can be some vector of loading, eagerly returned from cache,  optimistic only, optimistic with partially normalized results from cache, eager with the previous call to the query, etc, etc.

Will take more consideration

[2019-05-29 17:16] micimize commented on #121
This is expected behavior - the 1st result with data is with results from the cache, then the second is the result from the network.

with `fetchPolicy: FetchPolicy.noCache` there is no "double tap". It would be good to allow the user to more straightforwardly distinguish result types, which I'm going to fold into #153

[2019-05-29 17:16] #121 closed

[2019-05-29 17:50] mainawycliffe commented on #273
I am looking at the code and mutate functions already return the future. It behaves and just like the Query method behaves for the most part.

[2019-05-29 17:54] smkhalsa commented on #273
@mainawycliffe it looks like the mutation on QueryManager does return a future, but the [runMutation](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql_flutter/lib/src/widgets/mutation.dart#L8) function in the Mutation Widget returns void.

Seems like this should be an easy fix.

[2019-05-29 19:02] mainawycliffe commented on #273
@smkhalsa actually i don't think it needs a fix in this case. Since this the widget the results of a mutation are received by the parent widget of the mutation widget via `StreamBuilder` in the same way the Query widget does.

[2019-05-29 19:05] mainawycliffe commented on #262
I think this should be close now.

[2019-05-29 19:06] smkhalsa commented on #273
So here's a use case: I have a list of posts and an overlay textinput widget to add a new post. When I submit a new post, I close the overlay and using the update function add the new post to the list. Once the mutation Future returns successfully, I want to show a snackbar at the bottom of the screen confirming that my post was successfully added.

[2019-05-29 19:16] mainawycliffe commented on #273
I am spit-balling here but i would look at the `onCompleted` and `update` method exposed by the widget. You can pass a callback to the `onCompleted` method and it will be called once the mutation is complete or dispatch a state change (this would work with any state management solution - bloc, redux) indicating mutation is complete.

[2019-05-29 19:20] smkhalsa commented on #273
But why wouldn't we want to Mutate function to return a future? Just in terms of organization, dealing with the side effects based on the response of a mutation in the same place you're calling the function just makes more sense.

[2019-05-29 19:29] mainawycliffe commented on #273
Am not opposed to that. The concern i have is if we convert `runMutation` into a `Future<QueryResults>` defeats the purpose of using a widget. You would use the Mutation Widget, then you would have to manually subscribe to the returned future, this is kind of repetitive. If this is the use case, you can call the mutation method directly, without the [mutation method](https://github.com/zino-app/gr

[2019-05-29 19:35] ArpanKIIT2017 commented on #169
I shall try my best setting up a documentation for the Subscription API. It took me days to figure out. @micimize 's starwars example helped. I had to fix another bug in local in your codebase to get things woking (now under another issue). For people not being able to set up subscriptions kindly follow the startwars example for the time being.

[2019-05-29 21:04] #262 closed

[2019-05-29 21:04] HofmannZ commented on #262
#287

[2019-05-29 21:05] HofmannZ commented on #299
Should be fixed in #306

[2019-05-29 22:33] HofmannZ commented on #134
:tada: This issue has been resolved in version 1.1.1-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.1.1-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-29 23:12] HofmannZ commented on #246
:tada: This issue has been resolved in version 1.1.1-beta.2 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.1.1-beta.2%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-29 23:12] HofmannZ commented on #299
:tada: This issue has been resolved in version 1.1.1-beta.2 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.1.1-beta.2%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-29 23:21] micimize commented on #273
This is tough - it does kind of feel like apollo is making a mistake here
<details>
<summary>I'm pretty sure their Promise is optimistic and binding logic to this api surface area could result in unexpected results
</summary>
<br/>

Apollo usually doesn't externalize the optimistic state, and just pretends `optimisticResults` are real results. `runMutation` pretty transparently passes down to [`Qu

[2019-05-29 23:21] #299 closed

[2019-05-29 23:22] #246 closed

[2019-05-30 07:38] huang12zheng opened #308 "uuidFromObject would throw a error in example"
**Describe the bug**
A clear and concise description of what the bug is.
when:
object['id'] is int,it will throw a error
where it is:
[code]
**Expected behavior**
final String id = "${object['id']}";  // line 7

[2019-05-30 07:54] huang12zheng opened #309 "When I use Cache,idName would be '_id'"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I use `Cache.Sometimes` I want an `_id`, But `Function typenameDataIdFromObject` get an `id`.

**Describe the solution you'd like**

**Describe alternatives you've considered**

make a wrapper for `typenameDataIdFromObject`, solutions as follow

[code]

**Additional context**

[2019-05-30 10:19] truongsinh commented on #308
Thanks for reporting, can you make a PR to fix this?

[2019-05-30 12:09] huang12zheng commented on #308
Yes, but it takes some time to learn pull request

[2019-05-30 18:14] eusdima commented on #308
wouldn't ```object['id'].toString()``` be a cleaner fix?

[2019-05-30 18:16] eusdima commented on #309
Good addition, can you open a PR for that?

[2019-05-30 23:01] anirudhsharma392 opened #310 "How can i make simple subscription request ?"
I am really frustrated.Can't make a simple subscription request.

[code]

[2019-05-30 23:37] truongsinh commented on #226
1 part I would definitely recommend is to have proper test coverage (unit and widget level)

[2019-05-30 23:44] truongsinh commented on #128
@micimize I see that you add this `Queued for Work`. Any particular design in mind yet? Should we instead discuss in #153 and implement different `responseType`?

[2019-05-30 23:46] truongsinh commented on #128
Is this related to #290 as well?

[2019-05-31 00:21] truongsinh commented on #177
closed by #193

[2019-05-31 00:21] #177 closed

[2019-05-31 02:47] evarzot commented on #40
Hello, all! I'm sorry if I'm resurrecting a 'zombie thread' here but I just wanted to add how to work around this in case anyone is having trouble with this:

From the client class in examples:

GraphQLClient client() {
  // Workaround for self-signed certificate execption (to be used in dev mode only)
  HttpClient _httpClient = new HttpClient()
  _httpClient.badCertificateCallback = (X509Certific

[2019-05-31 04:57] mainawycliffe commented on #310
Please for the time being, follow the starwars example [here](https://github.com/zino-app/graphql-flutter/tree/master/examples/starwars), we are committed to having documentation for all APIs as soon as possible.

[2019-05-31 04:57] mainawycliffe commented on #310
https://github.com/zino-app/graphql-flutter/issues/169

[2019-05-31 10:40] huang12zheng commented on #308
I think they are just the same.
and "${object['id']}" is more simple.
@eusdima

[2019-05-31 10:50] anirudhsharma392 opened #315 "How to initialize a socketClient for subscription widget??"
I cant make a successful connection for subscription

[code]
it gives me error that

[code]
please help

[2019-05-31 13:03] mainawycliffe commented on #308
I have to agree with @eusdima for clarity purpose, in this case, `object['id'].toString()` is cleaner and clearer since its the only thing being assigned to the variable. This `"${object['id']}"` makes sense only when it is part of a larger string.

[2019-05-31 14:55] #310 closed

[2019-05-31 17:00] micimize commented on #308
fixed in #317

[2019-05-31 17:00] #308 closed

[2019-05-31 17:10] micimize opened #319 "custom library-level exceptions"
As pointed out in #177

It would also make it easier / possible for users to have different logic for different errors, i.e. ignore network related issues when using the cache.

Worth noting that without something like #201, it will be easy for a user making heavy use of the offline queue to shoot themselves in the foot by pretending mutations succeeded when they didn't and will never run again.

[2019-05-31 17:12] micimize commented on #128
@truongsinh it is - I'm actually closing this in favor of #290, #153, and the newly created #319.

As @lucasavila00 noted, it's expected behavior, it's just confusing and unclear to the user what the best way to handle it is

[2019-05-31 17:12] #128 closed

[2019-05-31 17:19] mainawycliffe commented on #315
For the time being, please follow this example [here](https://github.com/zino-app/graphql-flutter/tree/master/examples/starwars) which has a working subscription. Hope it helps you, as we work on documentation for subscriptions and other APIs.

[2019-05-31 17:28] micimize commented on #309
Just make your own custom user-land function for now:

[code]

Noted though, I think the best solution would be to add something like:
[code]

[2019-05-31 17:29] #309 closed

[2019-05-31 22:15] anirudhsharma392 commented on #315
No, that's not helping.

[2019-05-31 22:48] anirudhsharma392 opened #322 "I want to pass authToken in header with clientSocket to make successful connection.But getting error"
[code]
Error:
[code]
I am making this websocket  for subscription.
Really frustrated.
please help;

[2019-06-01 02:08] huang12zheng commented on #322
@anirudhsharma392 If it's not particularly simple,I think it provides a minimal reproducible Repositories being useful.

[2019-06-01 02:28] truongsinh commented on #322
Please see https://stackoverflow.com/a/4361358/1326678

[2019-06-01 02:38] huang12zheng commented on #309
I think it so cool. So I want to take a PR for packages/graphql/lib/src/cache/normalized_in_memory.dart.
@micimize

[2019-06-01 10:23] anirudhsharma392 commented on #322
So, do i need make connection open. I mean without any authentication for connection.

[2019-06-01 12:27] anirudhsharma392 commented on #322
Can i sending it as part of a query parameter in URL or  send the authToken within payload.

[2019-06-01 12:54] truongsinh commented on #322
How would have you done it with a webapp/JavaScript file?

[2019-06-01 12:56] anirudhsharma392 commented on #322
i got this just need to pass in  init payload,Thanks though

final WebSocketLink socketLink = WebSocketLink(
      url:'ws://staginggraphql-xxxxxxx/graphql',
      config: SocketClientConfig(
      initPayload:{"authToken":"${centralstate.GraphQLToken}"},
      autoReconnect: true,
      inactivityTimeout: Duration(seconds: 30),
    ),
    );

    ValueNotifier<GraphQLClient> client = ValueNotifie

[2019-06-01 12:56] #322 closed

[2019-06-01 15:49] HofmannZ commented on #308
:tada: This issue has been resolved in version 1.1.1-beta.3 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.1.1-beta.3%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-01 16:19] micimize commented on #144
@mainawycliffe looking at [apollo's `ObservableQuery.fetchMore`](https://github.com/apollographql/apollo-client/blob/7eaf4132cd2cd6244260777799406aaa03fcf377/packages/apollo-client/src/core/ObservableQuery.ts#L330), they:
* fetch the query with updated variables once as a unique query
* merge the results _and variables_ based on the user-defined `updateQuery`
* mutate the previous/base query and r

[2019-06-01 18:01] mainawycliffe commented on #144
With that in mind, i can make it work now.

[2019-06-02 21:52] #315 closed

[2019-06-03 01:48] codewine opened #327 "how to set timeout for graphql request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-06-03 05:18] truongsinh commented on #295
@micimize I took the liberty to update your original issue description to include checklist. Hopefully, after merging all 3 PRs, we can run client on browser.

[2019-06-03 16:06] anirudhsharma392 opened #329 "How to wait for connection acknowledgement and then start subscription."
[code]
this loading function do not gives me live update about the connection.
it always returns true

[2019-06-03 19:29] mbellezi commented on #153
Maybe change QueryResult introducing fields like networkLoading and fromCache. This way is possible to know if a result is coming from the cache while waiting for a Network updated response.

[2019-06-06 02:01] joprice commented on #273
On the same vein @smkhalsa's comments, some widgets use `Future`s for controlling their state, like `Dismissible`, which has `confirmDismiss`. I tried using the client directly to work around this, and then after digging into the code, realized that this doesn't run the same cache updating and rebroadcasting logic as the `Mutation` widget, so I tried creating a `Completer` instead, which I fulfill

[2019-06-07 00:03] truongsinh commented on #295
All boxes (that we know of) are checked. Maybe the next step is to have an example in Flutter for Web / AngularDart?

[2019-06-08 01:13] micimize commented on #295
@truongsinh that would be ideal, but could be left for another issue. If you, @adelcasse, or @kei42 use/have used it in the wild successfully that's enough for me to close this one.

[2019-06-09 12:47] micimize opened #333 "refetchQueries optoin for client.mutate"
Broken out from #278
Like apollo, we should add `refetchQueries` array within the `MutationOptions` of QueryManager's `mutate` function. We will not add support for simple mutation names as they but only the part they don't [want to deprecate it](https://github.com/apollographql/react-apollo/blob/master/src/Mutation.tsx#L205-L213).

Right now all "safe" queries are re-resolved from the cache on mu

[2019-06-09 12:55] micimize commented on #327
There's no builtin API for this, but a link could be made similarly to [`apollo-link-timeout`](https://github.com/drcallaway/apollo-link-timeout)

[2019-06-09 12:55] #327 closed

[2019-06-09 12:59] #292 closed

[2019-06-10 17:14] #290 closed

[2019-06-10 17:14] micimize commented on #273
`runMutation` now returns a `MultiSourceResult` that has both a `networkResult` future and a synchronous `eagerResult`

[2019-06-10 17:14] #273 closed

[2019-06-10 17:16] micimize commented on #153
Closed with a `source` attribute on `QueryResult`:
[code]

[2019-06-10 17:16] #153 closed

[2019-06-10 17:20] HofmannZ commented on #153
:tada: This issue has been resolved in version 1.1.1-beta.7 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.1.1-beta.7%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-11 03:29] bsr203 commented on #231
hi. I followed the starwars example, which works perfectly. In additions to http and ws, I also have an auth link.
[code]

I played around with the order, to see which one apply first, but seems that instead of using ws link, my subscription request end up in http uri, so gets no operation error.

How to get all these links work like; always apply auth link then Query + Mutation through http and s

[2019-06-11 10:01] Wisdom0063 commented on #144
Please has this feature been added?

[2019-06-11 12:28] bsr203 commented on #231
The below code was causing issue for me
[code]

I guess, this impose a convention on naming the subscription.

[2019-06-12 09:37] milind-mevada-stl opened #334 "Ability to set default Fetch-policy for all query requests"
I see default fetch policy for Query is `FetchPolicy.cacheFirst`.

How we can set default `fetch-policy` for Query requests? I don't want to to change at each Query requests.

[2019-06-12 21:48] aagarwal1012 opened #335 "Question: How to get cookies from the QueryResult response?"
It would be really helpful if any can tell the way to extract 'cookies' from the response {QueryResult}.

[2019-06-13 00:19] vishalchandra commented on #172
Would it be possible to get a similiar integration with Mobx and docs, and /or tutorial for the same?

[2019-06-13 00:35] micimize commented on #334
This feature doesn't exist but is feasible

[2019-06-13 00:40] micimize commented on #335
I think `cookies` are a header, so you'd have to grab them in a link

[2019-06-13 07:13] kei42 commented on #295
I'll try it this week if I have time. I'll keep you updated

[2019-06-13 10:43] aagarwal1012 commented on #335
@micimize, but how can I get headers from the QueryResult response? Since the cookie will be returned only after a successful query request.

[2019-06-13 13:40] Goolpe opened #336 "Multipart request doesn't work"
I have mutation
[code]
I try to upload file with
[code]
I get this error
[code]
http.MultipartRequest works fine

[2019-06-13 15:56] micimize commented on #335
`QueryResults` don't pass down that kind of raw data - you'll have to check for headers in a custom link and grab cookies when they're set. [Here in HttpLink](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/link/http/link_http.dart#L94) is where the raw response gets parsed.

A link for handling response cookies automatically would be a good feature, [as apollo see

[2019-06-13 22:00] aagarwal1012 commented on #335
@micimize,  #337 adds `headers` parameter for FetchResult and QueryResult, so as to get `set-cookie` value from the response headers. Thanks!

[2019-06-13 23:24] EugenePisotsky opened #338 "Is there a way to update SocketClientConfig options?"
Hello,

It's possible to send token to the server passing it through `initPayload`, but.. how to update it, when token is expired and I want to update it?

Maybe possible `initPayload` to be a function? Something like this:

[code]

So I can just manually reconnect to refresh it.

[2019-06-14 13:16] jerryzhoujw opened #339 "How can I use graphql-flutter with MultiProvider"
[code]

How can I do this above?  Just want to make auth server & graphQL service together.

I was plan to separate multi service(assume include `Auth`, `graphQL`, `store` and so on ) use `MultiProvider`, so I'd like use `GraphQLProvider` like this too, but it gives error.  Any suggestion for separation like these?

[2019-06-14 14:05] rolurq opened #340 "Provide a way to control cache ttl"
**Is your feature request related to a problem? Please describe.**
The keys in the cache depend on the query method and variables, and the cache value persist as long as the key matches. This produces a problem, in some cases I want to provide variables that change in subsequent queries but I would like to preserve the cache result in case there's one, for example sometimes I use the current date

[2019-06-14 15:37] eusdima commented on #339
@hofmannZ you did it for our apps, can you share with him how you did the multi provider?

[2019-06-14 22:28] gonuit opened #341 "Is there any easy way of navigating to another screen after successful mutation call?"
Is there any easy way of navigating to another screen after successful mutation call?
For example, I want to log in by mutation, then when I got credentials from mutation result I want to navigate to another screen.
How to do that efficiently?

[2019-06-15 13:52] #341 closed

[2019-06-15 23:00] micimize commented on #340
These are interesting proposals - it would help if you could find some analogous proposals or features in `apollo-client`. We mostly try to follow it's designs.

[2019-06-15 23:35] yunyu commented on #336
Also seeing this!

[2019-06-17 00:24] mainawycliffe commented on #339
`GraphQLProvider` is just a widget, which wraps around an inherited widget. This inherited widget is the one that pump down the client to all descendants, so that when you use the `Query` widget, it can access the client from the `GraphQLProvider`.

One solution i can think of is to pass the client itself:

[code]

And the either use the dart client or create `GraphQLProvider` Widget at the approp

[2019-06-17 00:50] mainawycliffe commented on #144
@Wisdom0063 been caught at work lately, but i will find sometime and wrap up this, this week.

[2019-06-17 01:28] jerryzhoujw commented on #339
yes, I use `GraphQLProvider` as child of `MultiProvider` for now,  Thank you @mainawycliffe

[2019-06-18 12:54] lassesteffen commented on #292
Sorry for not replying any more! I tried to make this work but got kinda stuck at understanding how to implement this. From my understanding you are saying that if i have routes A, B and C where B and C need to have the GraphQLProvider that uses the tenant Key. How would I wrap them in a widget thats having the new provider? Right now the only graphqlProvider is wrapped around my MaterialApp which

[2019-06-18 14:47] mainawycliffe commented on #292
You have to remove the widget at the very top of the widget tree, then place it somewhere in the widget tree that it will cover the routes you want to use graphql when you have the tenant key. The provider is just an inherited widget, for some cases, it makes sense to put it at the very top of the widget tree so all access to the client, but for others you can place somewhere else where it makes s

[2019-06-18 15:30] micimize commented on #292
in my app, I have a simple `AuthenticationProvider` right below my `MaterialApp`, which is still below the `ClientProvider`:
[code]

Hypothetically, this would allow me to have non-authenticated routes where `Bearer` isn't checked (I don't have any yet though).

#### Implementation of `AuthProvider`:
[code]

#### Implementation of `ClientProvider`:
[code]

[2019-06-19 11:19] lassesteffen commented on #292
Thanks for the responses. There is one thing I still can not wrap my head around.

But which Widget would be over the set of authenticated routes. The only widget that is above all routes is MaterialApp. I am not sure how one would place a set of widgets under a graphql widget without importing that graphql widget in all of the widgets.

Seems like I am mussing something fundamental about Flutter

[2019-06-19 12:33] micimize commented on #292
@lassesteffen I'd recommend my approach - there are [other approaches to navigation](https://medium.com/coding-with-flutter/flutter-case-study-multiple-navigators-with-bottomnavigationbar-90eb6caa6dbf) that moving the client works for. You could use something like [`onGenerateRoute`](https://stackoverflow.com/a/48227916), to inject a component between a `MaterialApp` and its `routes`, but just han

[2019-06-19 13:36] chenxianqi commented on #231
I'm sorry that I don't have time to look at it. Thank you for your positive response.

[2019-06-20 01:34] chenxianqi opened #343 "Starwars example of subscription"
I can't run the example perfectly, I tried to execute and waited for the following error
![image](https://user-images.githubusercontent.com/27764334/59811922-8e875500-933e-11e9-833d-9fd7c1589713.png)
![image](https://user-images.githubusercontent.com/27764334/59811930-947d3600-933e-11e9-946a-3d2e7f3669a9.png)
![image](https://user-images.githubusercontent.com/27764334/59811939-9e069e00-933e-11e9-9

[2019-06-20 01:36] chenxianqi commented on #343
![image](https://user-images.githubusercontent.com/27764334/59811990-d0180000-933e-11e9-9d2f-2a491561fc09.png)

[2019-06-21 12:43] truongsinh commented on #336
hi, what version/branch are you using? it's true that in recent versions, to support both web and flutter, we support `http.MultipartRequest` only, but we also tried to have partial backward compatibility with deprecation warning.

[2019-06-22 06:05] jerryzhoujw opened #344 "graphql_flutter return LazyCacheMap, built_value deserializeWith JSON String, how to make them work together"
`graphql_flutter` return `LazyCacheMap`, `built_value` `deserializeWith` `JSON String`,  how to make them work together.

 1. I use `graphql_flutter` to fetch data, and response give the result data as `LazyCacheMap`.
 2. And using `built_value` for data model & data serialization, but since `deserializeWith` working with `JSON String`.

What's the best way to work with them together ?

- Should I

[2019-06-22 15:51] dali546 opened #345 "Undefined Location null error when querying"
I've looked through other issues but can't find a solution. When I am making a query with my client, i get an error where all data is null

**To Reproduce**
Steps to reproduce the behavior:
[code]
[code]
I am using Flutter BLoC so i am calling the query in my BLoC method
[code]
I have tried both with and without ValueNotifier and with and without wrapping MaterialApp in a GraphQLProvider. same res

[2019-06-22 17:43] micimize commented on #343
This is an [introspection issue with angel-starwars-test-server](https://github.com/micimize/angel-starwars-test-server/issues/1) - tested and the actual subscription should still work fine:
[code]

[2019-06-22 17:52] micimize commented on #345
See if the result `hasErrors` or is `loading`

[2019-06-22 17:53] dali546 commented on #345
Never mind.
A simple fact of knowing that localhost on my Android device does not mean my PC

[2019-06-22 17:53] #345 closed

[2019-06-22 17:55] dali546 commented on #345
#186 is similar

[2019-06-24 16:50] micimize commented on #344
In [`graphql-to-dart`](https://github.com/micimize/graphql-to-dart/blob/master/example/lib/starwars_graphql_serializers.dart) I use `json_serializable`. I haven't used `built_value`

[2019-06-24 17:24] Wisdom0063 opened #346 "Query refetch not working"
[code]

[2019-06-26 06:41] manvendrasah opened #347 "Adding Authorization token not working."
**Describe the bug**
I am using below code for my ClientProvider, partially borrowed from the StarWars Example.

I am adding a JWT token using concat as mentioned in the doc. Still i keep getting [App is not authenticated: Undefined location] error.

What am i doing wrong ?

     import 'package:graphql_flutter/graphql_flutter.dart';
     import 'package:flutter/material.dart';
     import './netw

[2019-06-26 09:17] Goolpe commented on #336
@truongsinh I'm using ^1.1.1-beta.7

[2019-06-26 09:41] manvendrasah commented on #347
Solved by changing code :

     final HttpLink httpLink = HttpLink(uri: uri);

     final AuthLink authLink = AuthLink(
    getToken: () => 'ZXlKaGJHY2lPaUpJVXpJMU5pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmhjSEJKYm1adklqcDdJbTVoYldVaU9pSndZWEpsYm5SQmNIQWlMQ0owZVhCbElqb2ljM1JoZEdsakluMHNJbWxoZENJNk1UVXhPRGcyTURNd015d2laWGh3SWpveE9ETTBORE0yTXpBemZRLjktRW5oV2VTUjlzNWtCY2NfYldjVjRXbVhpTUtCWHdiaVdmQ19meG5xdlk6Og=

[2019-06-26 09:41] #347 closed

[2019-06-26 10:34] bicho19 commented on #292
@micimize i am wondering how you managed to use the cache provider in the previous example of yours !

[2019-06-26 20:52] lucasavila00 commented on #346
I haven't had this problem. It would be useful if you could provide a better reproduction. Try to base it on the example of this project and maybe one would help.

[2019-06-26 22:13] Wisdom0063 commented on #346
this is my code
[code]

[2019-06-26 22:16] Wisdom0063 commented on #346
This is sample of my code where I am using a refetch()
[code]

[2019-06-26 22:21] Wisdom0063 commented on #346
I have been following the documentation but it isnt working for me. Does a portion of my code where I used the refetch(). Everything else is working except that

[2019-06-27 03:08] truongsinh commented on #336
@Goolpe Just to confirm, both `graphql` and `graphql_flutter` are at `1.1.1-beta.7` right? and do you use any graphql cache?

[2019-06-27 11:09] bearchit commented on #144
Any progress in this issue?

[2019-06-27 11:55] mainawycliffe commented on #144
I have made some progress, will be available for testing either today or tomorrow.

[2019-06-27 12:30] JeffersonCarvalh0 commented on #346
I'm also experiencing a similar issue. I'm trying to use refetch with the `RefreshIndicator` widget, but new data isn't being fetched

[2019-06-27 13:01] guilhermedecampo commented on #346
@lucasavila00 	can you add here the snippet that works for you?

[2019-06-27 14:01] micimize commented on #292
@bicho19 I'm not using `CacheProvider` anywhere, but I think it should behave normally

[2019-06-27 14:10] micimize commented on #344
Closing this as its mostly a support question

[2019-06-27 14:10] #344 closed

[2019-06-27 14:14] micimize commented on #343
closing as I failed to reproduce, and the issue is at least in part a `angel-starwars-test-server` issue. The issue might have been that you changed the host block, weren't running from a simulator, or had some other local connection issue like in #212

[code]

[2019-06-27 14:14] #343 closed

[2019-06-27 14:32] micimize commented on #346
My best guess is that there's some issue with the observable query `lifecycle` updating in your specific scenario. Please provide more details, like `fetchPolicy` and possibly the `lifecycle` when you break the debugger on `refetch()` and descend into it's context

Also, if you're results get populated from the cache first, maybe it'll work after the first network request completes.

Also, format

[2019-06-27 14:44] Wisdom0063 commented on #346
I didn't provide any fetchPolicy in my code. So I guess I am using the default

[2019-06-28 05:51] manvendrasah commented on #341
Can you post your solution here? I am facing the same problem.

[2019-06-28 09:42] chenxianqi opened #349 "Subscription channel"
How can I listen to the contents of the relevant channel?
such as：
RN Library
https://github.com/kesha-antonov/react-native-action-cable
![image](https://user-images.githubusercontent.com/27764334/60333564-f3405080-99cb-11e9-9692-9b8f398dfc57.png)

[2019-06-28 10:49] mainawycliffe commented on #144
I have a first iteration of the fetch more feature [here](https://github.com/mainawycliffe/graphql-flutter/tree/fetchmore), please try it and see if it solves your use case, and provide feedback here.

[2019-06-28 11:10] mainawycliffe commented on #144
Here is a working example

[2019-06-28 12:52] lucasavila00 commented on #176
Is there a reason not to implement this after #199 has been merged?

[2019-06-28 13:33] lucasavila00 commented on #176
I implemented it on my fork on the query manager itself. I think the cache doesn't need to know about the Operation as how to generate a key.

Client:
[code]

Query Manager:
[code]

[2019-06-28 15:13] mainawycliffe commented on #59
@micimize i like the concept by the dartdoc tool, it will make it easier to keep the docs is up to to date. I will start exploring this over the weekend. May be soon we can have a docs site.

[2019-06-28 15:14] mainawycliffe commented on #59
@HofmannZ I see you are assigned this issues, any progress?

[2019-06-28 15:52] micimize commented on #176
@lucasavila00 yeah I was just modeling it on apollo, but I also prefer keeping the cache more generic.
Your implementation looks good to me - would be a welcome PR (on `beta`)

[2019-06-28 18:15] lemonbuzz opened #351 "QueryResult loading not 'true' when changing variables (in QueryOptions)"
So basically, when I fetch the first time(first build), QueryResult 'loading' property returns 'true' which is expected. However when I change the parameters of my query(dynamically, which triggers a rebuild), the loading property stays 'false', but I still end up getting the new data.

Is there something wrong with my approach?

[2019-06-28 20:53] lucasavila00 commented on #144
I have an idea. It's kind of like @wwwdata 's idea, but instead of keeping more data in the state we'd have a component called QueryFetchMore that gives a list of QueryResults instead of a QueryResult.
This way we still have refetch and cache support out of the box without having to make a breaking change.

[I have a working example here](https://github.com/lucasavila00/graphql-flutter/blob/fork2/

[2019-06-29 01:24] mainawycliffe commented on #144
@lucasavila00 The reason i didn't take that approach is because we are trying to closely match this library APIs to those of react-apollo. You can see how react-apollo does it the docs [here](https://www.apollographql.com/docs/react/features/pagination.html).

Here is an example from react-apollo:

[code]
As you can see the fetchMore method is passed by the builder, which you can trigger anytime a

[2019-06-29 14:21] lucasavila00 commented on #144
I know apollo and I really like their api.
The problem in doing this like they do is that they inject __typename into their queries and they have all the types cached and normalized. That way if you refetch someting that was used in FetchMore it will be transparently updated for you.
The current implementation of graphql_flutter does not inject __typename into the queries and does not cache and no

[2019-06-29 14:25] lucasavila00 commented on #176
I plan to submit it with tests.
I'm in a kind of busy week but soon I'll submit it.

[2019-06-29 14:41] mainawycliffe commented on #144
I don't mind you supporting your own idea, but IMO i don't think we should branch from apollo implementation unless we have to. I don't think this feature warrants a new `FetchMore` Widget on top of the current Query Widget. Your concerns about cache and normalization can be addressed, because under the hood, the two implementation do the same thing, and the key difference being how the `FetchMore

[2019-06-29 19:22] lucasavila00 commented on #144
The user gets back a List of QueryResults and do with it as they please.
The real problem right now is inject __typename into the queries but I don't know how hard is it to implement this feature.

[2019-06-29 20:53] mainawycliffe commented on #144
That's the purpose of the updateQuery method. The user passes the parts of the query that have change changed and an updateQuery method, which is a call back. Once the results are returned, the the call back is used to merge the results of the previous results with new results, getting a single query results. This is then sladd to the query stream trigerring a rebuild. All decisions from how to ru

[2019-06-30 15:28] chenxianqi commented on #349
@mainawycliffe
Hey, can you answer my question? Actually, I'm connected to the server, but I don't know how to listen to the data on a particular channel. Thank

[2019-06-30 15:53] mainawycliffe commented on #349
Hi, sorry I hadn't come across your question, too many notifications on my inbox. I would like more details to be able to assist you better. But in summary, GraphQL Subscription, are a lot similar to Queries, but use Subscription keyword instead of query.

For your case, am guessing your query would like:

[code]

This will allow you to subscribe to that channel, by channelId. To use the subscript

[2019-07-01 03:21] mainawycliffe commented on #351
Can you try and call [setState](https://api.flutter.dev/flutter/widgets/State/setState.html) after changing the variables. Please note, this will cause you entire stateful widget to rebuild, but for your case it might have the desired effect.

The other option, is to wait until we have finalized the `fetchMore` feature, this would be a good use case for it.

[2019-07-01 03:25] lemonbuzz commented on #351
Yeah setState is already in place! Everything is fine on the rebuild, the query gets called but loading is false

[2019-07-01 03:25] mainawycliffe commented on #351
Are you using caching? What is your fetchPolicy?

[2019-07-01 03:28] lemonbuzz commented on #351
Default fetchPolicy. For cache its InMemoryCache

[2019-07-01 03:33] mainawycliffe commented on #351
The default one is cache first, which first loads data from the cache, and then looks for fresh data from the network. When new data is received, it replaces the stale data. Set the fetch policy to Network Only and see if it works as you want it to.

[2019-07-01 22:00] anirudhsharma392 opened #353 "How to clear up the cache??"

[2019-07-02 12:45] anirudhsharma392 commented on #353
if i pop the screen and navigate back to the same screen.Then instead of running the query again it shows me the older results.

[2019-07-02 12:51] mainawycliffe commented on #353
Am not sure if it's possible to clear the cache, @micimize would answer this better. But for your case, it seems as if you need live data, not cached data. If this is the case, i would suggest switching to a different fetch policy - `networkOnly` or `noCache`. The first one will fetch the data from the network but cache it while the second one fetches the data from the network and doesn't cache at

[2019-07-02 14:15] lemonbuzz commented on #351
Yeah I already tried all the different fetch policies. Not sure what is going on

[2019-07-02 15:26] #336 closed

[2019-07-02 16:29] micimize opened #354 "Cache invalidation/deletion options"
If I'm not mistaken, cache entities currently live forever. This is not good.

The [related apollo discussion](https://github.com/apollographql/apollo-feature-requests/issues/4)  probably has some good ideas

[2019-07-02 16:31] micimize commented on #353
If you're using default network sessions you should see old results briefly, followed by resolved results from the network.

Cache invalidation/TTL is a larger issue - just created [an issue to track it](https://github.com/zino-app/graphql-flutter/issues/354)

[2019-07-02 16:31] #353 closed

[2019-07-02 20:13] anirudhsharma392 commented on #353
thanks @mainawycliffe  it solves my current issue.

[2019-07-03 03:16] truongsinh commented on #59
Can't we use https://pub.dev/documentation/graphql/latest/graphql/graphql-library.html ? Inline doc generated by pub.dev is also widely used by Flutter 1st party plugin.

Otherwise, we can make use of Flutter web, github and netlify for a static website.

[2019-07-03 03:38] mainawycliffe commented on #59
The `dartdoc` tool suggested above does the same thing, but allows you to add extra markdown documentation. But to be honest, this kind of documentation are good for advanced users but not beginners.

Flutter for web would be a mess, it would be the same using Angular or React to create a docs site, its possible it just not suitable. What we need is a Static Site Generator like Hugo or Gatsby whic

[2019-07-03 07:59] bCliks commented on #242
Following the same, try to connect my websocket server (hasura), using the latest beta version `graphql_flutter: 1.1.1-beta.7` I am getting the following error **start received before the connection is initialised**.
here attached the full log.

[code]
Any idea? is there anything I missed?
@micimize @gideonairex
[code]

[2019-07-03 09:16] bCliks commented on #353
Same issue for me.  @anirudhsharma392 how you fixed?  How did you change the cache & fetch policy. Any code sample?

Thanks

[2019-07-03 12:14] truongsinh commented on #242
Possibly related to https://github.com/apollographql/apollo-client/issues/3967 ?

[2019-07-03 12:15] truongsinh commented on #59
I believe inline doc /  https://pub.dev/documentation can also have markdown, even code snippet.

[2019-07-03 12:32] bCliks commented on #242
@truongsinh I think so. Is we need to add `lazy: true` in `SocketClientConfig`. Does this package support currently this property `lazy`? Seems there is no option to do that.  🤔

[2019-07-03 13:41] mainawycliffe commented on #59
I would much prefer this style of docs https://felangel.github.io/bloc/#/, with recipes and clear cut documentation that is easy to read for all developers. Then we can link to the API Reference for someone interested in digging into the APIs - and this already exist on pub.dev, just a simple link to the API reference.

[2019-07-03 15:42] micimize commented on #242
@bCliks try removing the `json.encode`, if that doesn't work, see if you can get it to work with `1.0.0`, and if so it might be a regression.

[2019-07-04 04:06] bCliks commented on #242
@micimize  Removed `json.encode` and tried with both  `1.1.1-beta.7` & `1.0.0`. And getting same validation failed error.
` code: validation-failed, message: subscription must select only one top level field`

[code]

[code]

[2019-07-04 07:56] eusdima commented on #354
@micimize do you think some sort of simple `garbage collector` would work?
Invalidating `cache keys` based on:
- `expire date`(default 7 days or something like that).
- `persistent storage limit`(128MB by default) and `in-memory limit`(should be configurable for device ram size and scale based on that).
- not enough space left for a new `key`.

Also adding to `cache` should have some boundaries:
-

[2019-07-04 11:56] JeffersonCarvalh0 commented on #346
@micimize I debugged the code here, and could state that my query lifecicle is `PENDING` and my fetch policy is `cacheAndNetwork`. What can possibly the issue in this case?

[2019-07-04 13:18] JeffersonCarvalh0 commented on #346
Even when my `fetchPolicy` is `networkOnly`, the status keeps `PENDING`

[2019-07-04 20:29] micimize commented on #242
@bCliks this is a different error - it looks like it's working but the subscription is malformed. Try with something like graphiql

[2019-07-04 20:29] friebetill opened #355 "SocketException is unusable"
**Describe the bug**
SocketException are converted into a GraphQL error, but then unfortunately are almost unusable, since the message string is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a query to an IP address without a server.
2. Catch GraghQL Error and see that the message string is empty

**Expected behavior**
First I expected that the SocketException will be thrown di

[2019-07-04 21:02] micimize commented on #354
One thing we could do is just make the cache's `Map` storage injectable and default it to [`LruMap`](https://api.flutter.dev/flutter/quiver.collection/LruMap-class.html).

I think ideally, caching and persistent storage are concerns we externalize/generalize so that pretty much anything with a `Map` interface can be used, and we just provide defaults.

For example, we make a separate package, `per

[2019-07-04 21:08] micimize commented on #346
@JeffersonCarvalh0 to clarify, you:
1. run a query with `fetchPolicy=networkOnly`
2. get results from the network, no logged errors, the component renders with data
3. attempt to refetch, but `lifecycle=PENDING`, so it fails?

If so, this is likely a regression

[2019-07-05 04:20] bCliks commented on #242
`{errors: [{extensions: {path: $, code: validation-failed}, message: subscription must select only one top level field}]}`

@micimize
**validation-failed** Seems the Authorization header value is not send to graphql.
 Isn't it?

[2019-07-05 09:55] truongsinh commented on #355
In your example, do you expect "OS Error: Connection timedout, errno = 110"?

[2019-07-05 11:23] JeffersonCarvalh0 commented on #346
Exactly. The query that is performed when the widget is built works perfectly. The problem only happens when I try to refetch.

[2019-07-05 13:07] Wisdom0063 commented on #346
@JeffersonCarvalh0  I needed to be able to refetch so I found a hack around pollInterval. I initially set pollInterval to null so when the person clicks on the button to refetch I call setState to change pollInterval to say 2. So after the request is successful I call setState again to change pollInterval to null . It is not the best  of idea but for now don't have any option

[2019-07-05 13:18] JeffersonCarvalh0 commented on #346
Thanks, @Wisdom0063, it worked like a charm here!

[2019-07-06 08:13] friebetill commented on #355
Hmm best would be directly the SocketException, but otherwise the more information the better. Would therefore say "SocketException: OS Error: Connection timed out = 110, address = 10.101.1249, port 59768" so I guess error.toString().

[2019-07-08 07:54] chenxianqi commented on #349
Thanks, it’s a pity that I haven’t solved it yet.

[2019-07-08 08:27] mainawycliffe commented on #349
Where are you facing challenges?

[2019-07-08 16:39] fdh-cap3 opened #356 "Subscription does not emit after reconnect to Websocket"
The `Stream` returned by  the `GraphQLClient`'s `subscribe` method does not emit data after a successfull reconnect.

There is neither of `onData`, `onError` ,`onCancel` nor `onDone` firing, so there is no way to manually reconnect to the stream without doing so periodically, which is frustrating.

With successfull reconnect, as stated above I mean, that the following logs are present:
[code]
I se

[2019-07-09 15:05] tarunt815 opened #357 "Question: Working with NormalizedInMemoryCache"
I'm fairly new to Flutter and GraphQl for that matter and am struggling with working with the NormalizedInMemoryCache. I've scoured the repo issues and the internet but can't figure out how to dereference a cached mutation result.

I have a mutation that returns a nested 'User' along with its id, name, and email, but when I access results.data['User'] I see: `[@cache/reference, User/<User ID>]`. M

[2019-07-10 01:12] #357 closed

[2019-07-10 01:15] tarunt815 commented on #357
Actually figured this out. You have to perform a cache.read() on the key passed back in the result ([@cache/reference, <Key>]).

[2019-07-13 14:51] HofmannZ commented on #336
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-13 14:51] HofmannZ commented on #153
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-13 14:51] HofmannZ commented on #308
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-13 14:52] HofmannZ commented on #246
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-13 14:52] HofmannZ commented on #299
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-13 14:52] HofmannZ commented on #134
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-13 23:44] mainawycliffe commented on #351
Sorry for the late response, I would like to have a closer look at this. can you share a code to replicate, i want to have a closer look at this?

[2019-07-13 23:48] #339 closed

[2019-07-14 00:02] mainawycliffe commented on #349
This resource could help you understand how subscription can work for you https://hackernoon.com/from-zero-to-graphql-subscriptions-416b9e0284f3

[2019-07-14 10:14] guilhermedecampo commented on #346
@mainawycliffe 	this is still a problem. Why did you close the issue? Do we have a PR fixing it?

What they guys did was just a workaround.

[2019-07-14 10:21] mainawycliffe commented on #346
@guilhermedecampo I am sorry. Thought it was resolved, judging by the last comment. I am reopening it, will look in to it over the week. Can you reproduce the issue on a small repo, may be using the GitHub API?

[2019-07-16 08:41] truongsinh commented on #355
https://github.com/zino-app/graphql-flutter/pull/359 @friebetill this PR will actually just throw the original `SocketException`

[2019-07-16 13:39] lemonbuzz commented on #351
Hey thanks for the follow up! I cannot share the code, but I was able to reproduce it easily with the example provided by the graphql-flutter repo. I simply use the counter to increment the query variable `nRepositories`, but loading is always false ( except for the first initial build ). The query results eventually update (according to nRepositories) but there is no way to know if it's loading.

[2019-07-17 05:12] kasonde opened #360 "YOUR PUB.DEV DOCUMENTATION IS OUT OF DATE"
**Describe the bug**
Hi, I'm adding this here because it's rather urgent. Your documentation on pub.dev is out of date and doesn't work for version two. Things like GraphQLClient seems to have changed to Client and the like. It might be rather misleading to new users of your library as it was for me.

**To Reproduce**
Steps to reproduce the behavior:
1. Update flutter
2. Create a new app and add t

[2019-07-17 11:17] mainawycliffe commented on #360
Can you please provide more information on what is working and what is not. The documentation may be slightly out of sync, i will create a PR later today on the same.

[2019-07-17 11:19] mainawycliffe commented on #351
This will do thanks. Let me investigate and see what the issue is

[2019-07-17 11:21] kasonde commented on #360
So far HttpLink isn't what it says to be. GraphQLProvider seems to be Graphqlprovider. GraphQLClient is now Graphqlclient... That's really the only thing I've tried so far.

[2019-07-17 11:22] kasonde commented on #360
If you need to know more about what's not working, use the steps provided in the original issue. There might be more than the few ive mentioned.

[2019-07-17 11:51] mainawycliffe commented on #360
I know the docs may be slightly not up to date due to some breaking changes prior release on 2.0, but the Classes you just referenced here haven't change. You can see the example [here](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql_flutter/example/lib/graphql_widget/main.dart) using the same classes and relying on v2.0 of both `[flutter_graphql](https://pub.dartlang.org/

[2019-07-17 12:11] kasonde commented on #360
Let me try them and give you the feedback

[2019-07-17 13:25] kasonde commented on #360
@mainawycliffe I'm still experiencing the same issue. Have you tried the steps defined in the original issue?

[2019-07-17 14:29] mainawycliffe commented on #360
Did everything and it works as expected, [here](https://github.com/mainawycliffe/flutter_graphql_quick_demo)is the repo i just created. You can test it out and see if it works locally for you. Have you installed the pub packages for your application?

[2019-07-17 16:00] franzejr commented on #339
Can you guys give a more detailed example on how to use it with `MultiProvider`? Thanks!

[2019-07-17 17:16] kasonde commented on #360
I'm using VSCode as my editor/IDE and that's it. Yes I do have the package installed. I don't know....
When I install flutter_graphql instead, I get compilation errors with information on programming practices and how wrong variable types were used. No intellisense errors, just a whole lot of compilation errors.

[2019-07-17 18:08] mainawycliffe commented on #360
This is strange. What about version of Dart, Flutter? Does the example i created work and are you using `flutter_graphql` or `graphql_flutter`? And can you also please share the compilation errors you are getting and if possible the content of you pubspec file. This are the things that will help us nail down the problem.

[2019-07-17 18:18] kasonde commented on #360
So here's a log of me using flutter_graphql
[code]
On my machine with your project, the intellisense doesn't seem to be interfering with anything.

Does it matter if I specify the version number? I always prefer to be on the latest stable version regardless of the refactoring responsibilities that may arise.

[2019-07-17 18:22] kasonde commented on #360
Pardon me; here's ```flutter doctor``` output:

[code]

[2019-07-17 18:30] MarceloRab opened #361 "Loop WebSocket reconnect"
Why reconnect in looping?

`final HttpLink httpLink = HttpLink(
    uri: "http://10.0.2.2:4000/graphql");

  final AuthLink authLink = AuthLink(
      getToken: () async =>
          "Bearer --token");

  ValueNotifier<GraphQLClient> client;

     Link link = httpLink as Link;
      final WebSocketLink websocketLink = WebSocketLink(
        url: subscriptionEndpoint,
        config: SocketClientCo

[2019-07-17 18:40] mainawycliffe commented on #360
I see you using an early version of the extension `flutter_graphql-1.0.0-alpha.12` in your log, please check your `pubspec.lock` file to check version ^2.0 you have, also do a spot check on your lockfile for the versions inside it. If still are prior to 2, try running `flutter pub upgrade` to try and upgrade the dependencies.

[2019-07-17 18:47] mainawycliffe commented on #360
Dart uses version constraint to create a dependency graph, this determines which dependencies are installed. But the basic thumb of the rule is that, the latest version that is compatible with other dependencies is installed. I wrote a [post](https://codinglatte.com/posts/flutter/flutter-a-closer-look-at-how-pub-handles-dependency-versions/) on that last week.

[2019-07-17 23:34] MarceloRab commented on #361
Resolution

...

`const wsClient = new SubscriptionClient(
  subscriptionsURI,
  {
    reconnect: true,
    reconnectionAttempts: 50,
    lazy: true,
    timeout: 20000,
  },
  wsForNode
);`

AND

...

`const wsLink = new WebSocketLink({
  uri: wsClient,
  webSocketImpl: wsForNode,
  options: {
    lazy: true,
    reconnect: true,
    connectionParams: () => {
      const token = "<token>";

[2019-07-18 02:56] kasonde commented on #360
After running ```flutter pub upgrade``` all seems well. My mistake was assuming that running ```flutter pub get``` will update all my dependencies for me even when the project has been newly cloned from github. I thought it was a system wide packages update. Thanks for the tip @mainawycliffe.

[2019-07-18 02:56] #360 closed

[2019-07-18 03:57] mainawycliffe commented on #339
@franzejr currently, this library doesn't support `MultiProvider` from provider directly, this is a future we might provide it in the future. For now, the easiest way I can think of is using GraphQLProvider as a child of `MultiProvider`. Something like:

[code]

[2019-07-18 07:30] EugenePisotsky commented on #361
do you use Apollo Server? I had the same problem. Solved it by adding keepAlive:

[code]

[2019-07-18 12:26] dali546 opened #363 "Authorization Header "accessToken" was called on null"
**Describe the bug**
I am trying to create authentication for my app. If there are no user details present in the app (first time use) there is no token. I'm not too sure how to initialise my `AuthLink` when no token is present, but then change it once token is present (after login)

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Client like so:
[code]

2. Query for login:
[code]
3. Lo

[2019-07-18 13:29] dali546 commented on #363
I just realised that my accessToken is null because there is no data... i changed my if statement when producing the AuthLink to this
[code]
Can someone just tell me if this is the correct way?

[2019-07-18 16:07] rullyalves opened #364 "Subscriptions Reconnect solution"
I noticed that graphql_flutter does not have a functional reconnection of subscriptions when the internet connection is interrupted, I created an implementation to take care of that and would like to integrate with the current package, my implementation has already been tested and is fully functional

[2019-07-18 16:10] mainawycliffe commented on #364
Fee free to create a PR against beta, follow contributions guidelines [here](https://github.com/zino-app/graphql-flutter/blob/master/CONTRIBUTING.md). Make sure to include tests and if possible update documentation where necessary.

[2019-07-20 14:02] bsr203 commented on #364
@rullyalves would like to see your implementation. Thanks.

[2019-07-22 12:26] kasonde opened #365 "Add an onError callback to Mutation component"
**Describe the bug**
When using a mutation, I'm unable to tell whether there are mutation has errors or not in the onComplete callback of the mutation component. i.e

[code]

[2019-07-22 19:10] kasonde commented on #360
@mainawycliffe I've just spotted another issue where onComplete in the mutation widget doesn't return a query result. Instead it returns the response data only. This kind of gets rid of the other useful reason to use the onComplete function which is error handling. The return value of the onComplete function is dynamic. Which when an error is deliberately thrown from the server only returns ```nul

[2019-07-22 19:25] mainawycliffe commented on #365
Yes, as currently  implemented, it returns the data only and not a `QueryResult` class which would expose the error. I am not sure why this was implemented this, so i need to do some more research.

[2019-07-23 11:42] mainawycliffe commented on #365
After some initial research, the API works as expected returning data on complete, but it is missing `onError` which is a callback for catching when errors occur during mutation.

[2019-07-24 06:36] terenceponce commented on #363
I'm facing the same problem as you are. The GraphQL client is setup when the app initializes which means there's no token to be passed into `AuthLink` until the user signs in/up.

This was my attempt at solving this problem (Inspired by [an old issue](https://github.com/zino-app/graphql-flutter/issues/47):

[code]

I tried creating a new `AuthLink` that contains the token that was returned by my b

[2019-07-24 07:17] mainawycliffe commented on #363
@terenceponce why not have a multi-route approach? You can group the routes, so that each group has a different `GraphQLProvider` widget, proving client with token or not based on use case. This should work for most apart from a few edge cases. For instance, login pages would have a `GraphQLProvider` provider of their and user account pages would have `GraphQLProvider` of their with an authenticat

[2019-07-24 08:58] terenceponce commented on #363
@mainawycliffe I did the state management approach that you mentioned and it worked perfectly. Thanks for the idea!

Here's what I if anyone's curious:

[code]

For context, `AuthenticationState` is a class extending `ChangeNotifier`.

[2019-07-24 11:43] dali546 commented on #363
this works very well. thank you.

[2019-07-24 11:43] #363 closed

[2019-07-24 12:22] terenceponce commented on #363
@dali546 You're welcome! May I suggest changing the title to something more search engine friendly like "How to add authorization header after client setup?"

[2019-07-25 04:16] kasonde commented on #365
@mainawycliffe  any idea of the progress of this? Do you have any workarounds?

[2019-07-25 11:52] mainawycliffe commented on #365
@kasonde you can access errors on the `onUpdate` callback, which returns a `QueryResult` Object, check the example given [here](https://github.com/zino-app/graphql-flutter/blob/16fb1d507c44c24c0cf7da56dac304b956a95643/packages/graphql_flutter/example/lib/graphql_widget/main.dart#L211).

[code]

[2019-07-25 12:04] mainawycliffe commented on #365
@micimize should we add an `OnError` method to be called in case of error, just like the `onCompleted` callback is called in case of data?

[2019-07-27 16:33] EugenePisotsky commented on #356
I met the same issue. Also would be nice to add callback to detect that connection is lost, something like `onDisconnected`.

[2019-07-28 03:52] lucasavila00 opened #366 "Support FetchPolicy.cacheFirst on Query widget"
I'm trying to use the Query widget to query something only if it is not cached but I can't.

If I set the Fetch Policy to cacheFirst I'd like it to be the fetch policy, but since the Query widget [replaces the fetch policy ](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql_flutter/lib/src/widgets/query.dart#L37) to cacheAndNetwork I can't do this.

I don't know why the widg

[2019-07-28 08:47] mshanak opened #367 "not found in type: 'mutation_root': Undefined location when used with hasura"
**Describe the bug**
I am trying to use the package with hasura qraphql, when I try to insert data using mutation I have the following error:

`I/flutter ( 3689): [field "insert_mobile_tokens" not found in type: 'mutation_root': Undefined location]
`

are there any options that I miss?

[code]

[2019-07-28 17:44] mainawycliffe commented on #366
Yea, that line does look unnecessary, not sure why it is there.

[2019-07-28 18:02] mainawycliffe commented on #367
I haven't worked with Hasura before, so am not able to help you since the error is being generated by Hasura. One thing i have noticed, is that you are passing a variable to you mutation, which doesn't accept variables. Also can you try and run the query on `GraphiQL` and see if it works.

For more help, please provide a reproducible example.

[2019-07-28 18:18] mainawycliffe commented on #351
I see where the problem is, it return the previous data while fetching the new data. Am not sure the best way to solve this is. In such cases where the Query Options change, we could return the stale data and also set loading to true, so one can decide whether to show stale data or show a loading indicator or both (I am in favor of this). The other option is to discard the old data once the Query

[2019-07-29 13:24] dsourav opened #368 "upload mutiple asset image"
hello i want to upload images, which i am getting as assets. But i don't know how to upload it. Any code or example would be preferable.

[2019-07-29 13:42] lemonbuzz commented on #351
Hey thanks for the investigation! I don't have much time for this project anymore, so if you can point me to a quick fix I can implement myself in the library, that would be cool!

As for the actual fix, I think Apollo clears the data when the query parameters changes and loading is set to true. Your first solution is more flexible but coming from Apollo it might be off putting.

[2019-07-29 15:00] mainawycliffe commented on #368
Hi, here is an upload example https://github.com/zino-app/graphql-flutter/tree/master/packages/graphql_flutter#graphql-upload

[2019-07-29 15:05] dsourav commented on #368
i am using multiple image picker library it accept asset not file how can i upload the assets.
here is the library link:
https://github.com/Sh1d0w/multi_image_picker

[2019-07-30 11:09] lucasavila00 commented on #366
Yes, that's the same as I thought.
I was looking at [git blame and the commit that introduced it has no fixed issue](https://github.com/zino-app/graphql-flutter/commit/ce338ddb86c82c32902522da41d5c726f5afce1a).
I have been using a forked version without this overriding and I haven't found any issues yet.

Maybe @HofmannZ could shed some light on the problem as this commit was his :)

[2019-07-30 17:33] martinek commented on #351
@mainawycliffe When options change, whole new query should be created since with new variables, the query itself is different. Data do not need to be removed from cache in this case. The data is still valid as cached response for former variables. The result.data should return value for the new query though.

The simple use case for this is if you have widget that takes some item id for example. T

[2019-07-30 17:47] mainawycliffe commented on #351
@martinek Yea, i agree with what you just said. I just wasn't sure this was the way to go, and since a fetchMore/pagination feature is also in the pipeline, its wise to go ahead and clear everything when the variables are build.

@lemonbuzz from my latest my investigation, the intended function seems to be to clear data, as you have both stated, for some reason, on rebuild, the stream is not getti

[2019-07-30 17:50] mainawycliffe commented on #368
All you need is to convert whatever file you are uploading to dart.io File class type and it will work. It doesn't matter if its an asset or a file picker, if you manage that, it will work.

[2019-07-30 21:00] Ibtesam-Mahmood commented on #209
Hi, I was wondering if the link for the pseudocode for the aws appsync subscriptions could be reposted

[2019-07-31 06:39] dsourav commented on #368
can you give me some code it will help me a lot

[2019-07-31 09:46] a-aslani-dev opened #369 "Mutation return null"
**Describe the bug**
my query working and data from back-end changed but resultData in onComplete and result.errors in update return null! also result.hasError is true however i have not any error in server log

**Screenshots**
[Query Screenshot](http://up.iranblog.com/files/1564639540.png)

[Mutation Screenshot](http://up.iranblog.com/files/1564602414.png)

[Logs Screenshot](http://up.iranblog.co

[2019-07-31 15:36] micimize commented on #209
@Ibtesam-Mahmood https://gist.github.com/bobwiller/b669f3476fcd2805b4f25b96243d859a - was a markdown typo.

@bobwiller I think you'd want to implement a custom link with a mqtt client, similar in structure to how the websocket link works

[2019-07-31 17:16] mainawycliffe commented on #369
Have you tried logging errors object or inspect it to see if ts an empty object?

[2019-08-01 13:19] lemonbuzz commented on #351
Thank you! Looking forward to trying it out :)

[2019-08-02 09:22] mainawycliffe commented on #368
Hi, i have gone through the API for the package you are using. Basically, what you need to do is use the steps here to convert your asset to https://sh1d0w.github.io/multi_image_picker/#/upload?id=server-api to multipart file, as shown below:

[code]

You can now pass the multipart variable above as a variable for your mutation.

[code]

I have tested the multipart upload, and that should work wel

[2019-08-02 09:31] dsourav commented on #368
Thanks a lot but i need multiple images then how can I work with assets of array.

[2019-08-02 09:33] mainawycliffe commented on #368
Its an array, you can loop over it and create an array of multipart files.

[2019-08-02 09:36] dsourav commented on #368
I got it I am closing the issue...

[2019-08-02 09:36] #368 closed

[2019-08-03 16:10] TanaseHagi commented on #295
Any progress on this?

[2019-08-03 19:16] micimize commented on #295
@TanaseHagi `graphql/client.dart` should be usable on web today. I left it open while awaiting confirmation, but I think it's better to close it and open a new issue if someone reports problems

[2019-08-03 19:16] #295 closed

[2019-08-03 19:37] micimize opened #371 "Consider QueryResult.rawFetchResult"
Occasionally a user will want a simple way to access protocol-level data, such as headers and cookies (#335) without having to write a custom link. Rather than adding more protocol-level fields to the `QueryResult`, we should consider adding an "escape hatch" to getting ther raw `FetchResult`

[2019-08-03 19:38] micimize commented on #335
closing in favor of considering a `rawFetchResult` getter (#371)

[2019-08-03 19:38] #335 closed

[2019-08-04 18:54] micimize opened #372 "Consider more customizable fetchMore api options"
There is some merit to the idea of exposing all query options in the `fetchMore` api -
While certainly `networkOnly` is the expected use case, there's not really that much reason
to assume paging from the cache is never going to be a user want.

however, for now we'll exclude these options in favor of sticking close to the apollo api

[2019-08-04 19:09] micimize commented on #372
result of thinking about #350

[2019-08-04 19:13] micimize commented on #355
closed by #359

[2019-08-04 19:13] #355 closed

[2019-08-05 16:26] micimize commented on #369
The error is that your client is misconfigured, and thus is failing to reach the the server: #212

This should have it's own, intelligible error - sorry for the confusion

[2019-08-05 16:26] #369 closed

[2019-08-05 16:58] micimize commented on #365
@mainawycliffe yes - appropriating this issue for that.

I think we should take the opportunity to implement an analogue to [`ApolloError`](https://github.com/apollographql/apollo-client/blob/7eaf4132cd2cd6244260777799406aaa03fcf377/packages/apollo-client/src/errors/ApolloError.ts#L33) as a step towards #319 (making it a breaking api change) and implement `onError(OurCustomErrorClass)`, bringing u

[2019-08-06 08:55] lookfirst opened #374 "Crash serializing json_serializable objects"
Included package: graphql client V2.0.1

I'm using one of my model objects as variables for a mutation. I am passing in List of these objects as a graphql variable. For some reason, in `raw_operation_data.dart:toKey()`, `json.encoder()` is crashing with this error:

![image](https://user-images.githubusercontent.com/85355/62525566-d831ed80-b861-11e9-82a8-f94c40259f8b.png)

As you can see, if I rem

[2019-08-06 08:58] mainawycliffe commented on #365
I will get on this over the weekend.

[2019-08-06 09:10] lookfirst commented on #374
I just worked around this issue by pre .toJson()'ing my json_serializable model classes first...

[code]

[2019-08-06 20:14] Gerrel commented on #355
@micimize I have a issue with this fix in v2.0.1.

I get the following error when using the Query Widget and try the 'no connection' scenario:
[code]

How to catch the SocketException in this example widget?

[code]

[2019-08-06 23:20] micimize commented on #355
@Gerrel I think you'll want something like https://github.com/jhomlala/catcher for now

[2019-08-06 23:24] micimize commented on #374
https://api.dartlang.org/stable/2.4.0/dart-convert/jsonEncode.html

So we shoud add the default behavior to our encoder

[2019-08-07 01:50] lookfirst commented on #374
I should add, this method potentially generates an absurdly long key. What you should be doing is taking a hash of the string and using that as the key.

[2019-08-07 07:16] Gerrel commented on #355
ah thanks did not know this nifty library.

[2019-08-07 21:21] dmh2000 commented on #169
I ginned up some reasonably simple working examples of using this package in a standalone Dart program and a Flutter app. Its located in my repo at https://github.com/dmh2000/Flutter-GraphqlX.  The examples show how to make simple query, mutation and subscription requests. It includes a simple node.js graphql server to test against.

[2019-08-08 23:50] mainawycliffe commented on #144
This issue can now be closed, it is currently available on beta and will be released to stable soon. If you come  across any new bugs, issues, please create a new issue.

[2019-08-08 23:50] #144 closed

[2019-08-12 23:50] ryankauk commented on #355
Hey, was wondering how can you try catch the SocketException error.

When using ...
[code]
it doesn't get caught. I get "Unhandled Exception: SocketException: OS Error: Connection refused, errno = 61, address = localhost, port = 55657"

[2019-08-13 01:24] micimize commented on #355
@ryankauk it is converted into a graphql error and added to the list of errors on the `QueryResult`

[2019-08-13 17:37] ryankauk commented on #355
The application crashes because of the error, if it's added to the graphql list of errors then it shouldn't be thrown like the rest of them, I had to make my own graphql link in order to listen to forward(operation) stream and on the error handler add to the stream (adding error to graphql) to remove it's error output.

[2019-08-13 18:08] micimize commented on #355
@ryankauk hmm, then I'm not sure. Try debugging further and open a separate issue with more information (preferably off of `beta`).
But at a glance, it doesn't look to me like the error can be from that block. IDK how it'd crash your app without throwing something

[2019-08-13 18:12] micimize commented on #374
@lookfirst I think we could even just use `object.hashCode`. PRs welcome, naturally

[2019-08-13 18:32] ryankauk opened #380 "SocketException is crashing application"
**Describe the bug**
I cannot handle the SocketException error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/ryankauk/graphqlFlutterSocketException
2. Install and run flutter application. (I'm using VsCode Start Debugging using Flutter extension)
3. You'll see the error thrown

**Expected behavior**
The error should be at the minimum be able to handled in try catc

[2019-08-13 18:34] kdkul commented on #364
@mainawycliffe @rullyalves any idea when this solution will be available? I am looking for this solution to implement in one of my project. @rullyalves thanks for valuable solution.

[2019-08-13 18:42] mainawycliffe commented on #364
@rullyalves are you able to create a PR for this?

[2019-08-13 19:02] ryankauk commented on #355
@micimize alright I made an issue with a repo to show the issue. [https://github.com/zino-app/graphql-flutter/issues/380](url)

[2019-08-15 14:56] lemonbuzz commented on #351
Any news on this :)?

[2019-08-15 18:59] mainawycliffe commented on #351
@lemonbuzz not yet, haven't had any success into identifying where the issue is. Any ideas @micimize?

[2019-08-16 09:52] Sewdn opened #381 "No deepmerge when writing queryresults to cache"
**Describe the bug**
Multiple queries of same documents are conflicting. Only the result of the lastly executed query is in cache. It seems that no deepmerge is executed with the existing cache, when writing a new document to cache

**To Reproduce**
Steps to reproduce the behavior:
- setup a query to list a set of documents, only resolving a few fields.
- setup a detail query to fetch a document d

[2019-08-18 05:57] ryankauk opened #382 "Question: Does anyone have a recommended implementation for graphql files with flutter"
Hey I would really like to use .graphql so I could use intellisense for them to hook it up to a schema for validation/help writing the query variables and structures.

[2019-08-19 17:23] Sewdn opened #383 "Tips on how to debug cache"
Hi!

We are currently struggling with implementing offline experience reading all queries with cacheOnly fetchPolicy and only using cacheAndNetwork policy if it is certain we have connection (and service is available).

Could someone give advice on
- how to inspect the current runTime cache?
- how to inspect the device's persistent offline storage cache?

Furthermore, we sometimes notice QueryResu

[2019-08-20 02:06] serendipity1004 commented on #357
how did you resollve this? What should I pass into the key as cache.read()?

[2019-08-20 02:11] serendipity1004 commented on #57
what do I pass in as the key to reading cache?

[2019-08-20 08:30] javi11 opened #385 "Union types query"
Hi, first of all thanks for this amazing library.

I don't know if this is the correct place to put this but here i go:

I just started to creating an app consuming a third party graphQL API and now i'm facing the issue that i have to do the following query:

[code]

I know that this library do not support fragments but still you know if there is another way to do this query with this library? I'm

[2019-08-20 11:32] serendipity1004 opened #386 "Pagination with nested document returns same new data for both fetchMoreResultData and previousResultData"
I currently have settings like below

[code]

and I am updating cache like below

[code]

Cache is getting updated very nicely; however, the change is just not reflected on the screen. I am currently using this under statelesswidget.

Now, when I change the cache to `NormalizedCache` or `OptimisticCache`, I can get the changes to be reflected on the screen; however, I encounter another problem whe

[2019-08-20 11:36] Nazacheres commented on #220
@Kyle-Mendes Greetings, I got exactly the same issue. I currently can't understand why does the class which calls this API, doesn't wait for the listener to finish its work. So currently, after
`              await controller.addStream(forward(operation));`
Data is being processed in my API class and it doesn't wait for the second call. @Kyle-Mendes how have you solved it?

[2019-08-20 11:48] Nazacheres commented on #220
@Kyle-Mendes Aha, I just reviewed your last comment. Seems like we are at the same point. @mainawycliffe I guess the problem here, is that
`await controller.addStream(forward(operation));`
Doesn't stop the stream from returning request's response. Correspondingly even if you will redo the request, Future won't be interested in the other result, cause probably you call it same as me:
[code]

[2019-08-20 11:49] Nazacheres commented on #220
@mainawycliffe Can I please get some help on that? What else can I do to help you investigate that?

[2019-08-20 11:54] mainawycliffe commented on #220
@Nazacheres this slipped my mind, I have yet to implement similar functionality, so I don't have a working sample but I will investigate and report back over the weekend. If you can share a reproducible sample repo, it would really save some time.

@Kyle-Mendes did you ever find a solution, and if so can you please share.

[2019-08-20 12:10] mainawycliffe commented on #386
What problem are you facing when getting `previousResultsData` when using FetchMore?

[2019-08-20 12:18] serendipity1004 commented on #386
@mainawycliffe

HI, now I am able to reproduce the issue.

import 'package:flutter/material.dart';
import 'package:graphql_flutter/graphql_flutter.dart';

Flutter test page
[code]

Graphql Server Types

[code]

Graphql Server Resolvers

[code]

My environment

[code]

If you run this code, instead of getting new data attached to listview, you loose all the previous data and only get displayed new

[2019-08-20 12:19] serendipity1004 commented on #386
@mainawycliffe
Also, if you look at the commented `print`s in the first code, they display exactly the same ids, which I do not believe is correct either.

[2019-08-20 13:23] bsr203 commented on #385
Hi. I am just a user of this lib. Where does it say fragments are not supported. I do use fragments and it works fine. I also see them used in the [example](https://github.com/zino-app/graphql-flutter/blob/master/examples/starwars/lib/episode/hero_query.dart)

[2019-08-20 13:45] mainawycliffe commented on #386
When you using `NormalizedCache` and `OptimisticCache`, getting the data is not straightforward as discussed [here](https://github.com/zino-app/graphql-flutter/tree/master/packages/graphql_flutter#normalization). You need to cast the data before using it:

[code]

[2019-08-20 13:53] javi11 commented on #385
:O then my bad i didn't found that example. I just searched fragments on issues and i got this issue https://github.com/zino-app/graphql-flutter/issues/113 so i thought it was not implemented since i didn't found any other related issue.

Okey then i close it, then for sure my error is because i did something wrong ;)

Thanks :)

[2019-08-20 13:53] #385 closed

[2019-08-20 14:04] bsr203 commented on #385
@javi11 no problem. we are all learning through struggling :-)

[2019-08-20 14:16] micimize commented on #57
@serendipity1004 that depends on what you're trying to read. Operations have a [`.toKey()`](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/core/raw_operation_data.dart#L64) method that is used for getting the cache key, but if you're getting the current value of a normalized entity then you just need the result of your [`dataIdFromObject`](https://github.com/zino-

[2019-08-20 14:43] Kyle-Mendes commented on #220
I did not find a solution yet.  I am still unable to get the widget to re-render when my added stream completes.

We did a little work-around for now, though.  We added to the `auth-link` to check if the token was valid BEFORE setting the `authentication` header.  It's not ideal, but it works for now.

[2019-08-20 14:56] Nazacheres commented on #220
@Kyle-Mendes So on each request, you check if the token is correct? Do you do it by encoding the token and calculating the time, or making an additional request?

[2019-08-20 15:04] Kyle-Mendes commented on #220
@Nazacheres For our API, we get back an `expires_at` time stamp. So, we check to see if the token is expired before setting the header.  If it is, we refresh the token, attach it, and then make the request.

It's not ideal, since tokens can expire for other reasons, so a true solution using the `stream` would definitely be preferable.

[2019-08-20 15:05] Nazacheres commented on #220
@Kyle-Mendes I am currently working on another workaround will let you know till the end of tomorrow.  Thank you for your help.

[2019-08-20 17:09] Nazacheres commented on #220
@Kyle-Mendes I managed to fix it! My understanding of streams in dart probably far from perfect, however here is my solution based on how I imagine streams working. This is my whole custom link:
[code]
And here is method refreshToken:
[code]
As you can see instead of forwarding request, I am forwarding custom future (which then is converted to stream).
In this method, I am forwarding the request t

[2019-08-20 17:28] xclud opened #387 "Query widget keeps requesting in v2.1"
I have a Query widget on the page. It keeps requesting to the server with rate of tens of requests per second. After a little while it throws a SocketException (Which i guess is caused by too many open ports).

And it never shows the contents (My case a ListView) but rather showing a progressbar (result.loading is always true).

I have a little server at home for development purposes. My servers g

[2019-08-20 17:32] mainawycliffe commented on #387
Have you configured polling by any chance under QueryOptions? And could you please share a reproducible example.

[2019-08-20 17:38] xclud commented on #387
[code]

I used ClientProvider from this repository like this:

[code]

[2019-08-20 17:50] mainawycliffe commented on #387
Do you mean `GraphQLProvider` instead of `ClientProvider`?

[2019-08-20 18:11] xclud commented on #387
Here is the ClientProvider. I took it from /example directory (Or i don't remember?) few weeks ago.

[code]

[2019-08-20 19:55] xclud commented on #387
Sorry for bothering you. It was my fault.

For other people who may encounter my problem:

I was a `stateful` `MyApp` class as in `void main() => runApp(MyApp());` and deciding what to put in `MaterialApp.home` depending on some state value.

It turned out the MyApp class must inherit from `StatelessWidget` always, having state variable or not.

This problem appeared with v2.0 too. And after i fix

[2019-08-20 19:55] #387 closed

[2019-08-21 02:47] serendipity1004 commented on #386
@mainawycliffe yea I know and I am using the normalization method as described in the example. Also, as you can see, casting is being implemented correctly.

[2019-08-21 02:51] serendipity1004 commented on #386
@mainawycliffe I can confirm that both `previousResultData` and `fetchMoreData` are returning exactly the same data. When you run this, in the first query you get 0~19. Then in second you get 20~39 + 20~39 and next 40~69 + 40~69 and so on.

What about just normal `InMemoryCache`? Is there not a way to make the query reflect the changes made in `InMemoryCache`?

[2019-08-21 03:44] serendipity1004 commented on #386
@mainawycliffe

now I can confirm that this is problem with nested pagination. Pagination without nested object pagination works as expected but nested object pagination returns same data for both previous data and fetched data.

https://github.com/zino-app/graphql-flutter/issues/386#issuecomment-522987704 this is the code that fetches nested pagination data

below is the code that fetches not nes

[2019-08-21 04:30] serendipity1004 commented on #386
My guess was correct. If I tag the key of the cache with unique values for every iteration, the previousFetchData value does not get overwritten.

We need to implement something like https://www.apollographql.com/docs/react/features/pagination/#the-connection-directive as presented in apollo-graphql.

For those of you having same problem as I am, currently the only way to solve this problem is by

[2019-08-21 05:35] ryankauk opened #388 "didUpdateWidget causing issues"
**Describe the bug**
I'm using the Mutation widget for running the graphql
It took me some time to hunt this down. Seems like a few things.

1. Initial cause is when setState is ran along side with runMutation(). As well as requestFocus(), it seems this in turn causes the Mutation widget to call didUpdateWidget. Now at this point it does a check against initiated options variables to the old widge

[2019-08-21 06:27] mainawycliffe commented on #386
I am not well familiar with the caching part of this package, I would have to look into it to whether this is possible and how to do it. Maybe @micimize can help.

[2019-08-21 06:40] mainawycliffe commented on #386
If I understand your problem correctly, it seems due to the nested fields in your query, the normalization key is the same for the subsequent fetch more queries, hence they get overridden in the cache. So, am guessing here maybe you should look at your `typenameDataIdFromObject` that generates the cache key. If you are using the default one and due to the nested fields nature, I can see why the ca

[2019-08-21 06:42] mainawycliffe commented on #366
@lucasavila00 can you PR this?

[2019-08-21 06:43] #349 closed

[2019-08-21 08:57] serendipity1004 opened #389 "Mutation makes Query to re-run"
when I have Mutation and Query inside the same StatelessWidget, mutation call makes query to run again. Is this an intended behaviour? It is very problematic when you want to create infinite scroll and maybe perform actions on each item (press like or dislike). Making mutation causes query to re-run, making the list to start from the beginning again.

[2019-08-21 08:59] serendipity1004 commented on #386
@mainawycliffe yes. The issue is exactly as you say. I have solved this issue by providing random uuid from the server and also including that as the cache key if I am calling nested pagination. But now the problem is that when Query and Mutation are in the same StatelessWidget, calling mutation causes query to re-run. Is this a known and intended behaviour?

[2019-08-21 09:01] serendipity1004 commented on #386
@mainawycliffe so say for example, if I make a query that retrieves posts (infinite scroll) and call mutation when likes are clicked on each post, query is run again and the list is reset to index 0 because original query does not provide the cursor, only fetchMore does. I have started another thread here https://github.com/zino-app/graphql-flutter/issues/389#issue-483289038

[2019-08-21 09:07] KingWu opened #390 "Can we access the status code from query result?"
I wanna to access status code. But, it is encapsulated into FetchResult

[2019-08-21 09:47] w0nderb0y opened #391 "GET requests possible?"
This might be a really silly question but I'm new to GraphQL.

Is every Query a POST request? Or is it somehow possible to change it?

[2019-08-21 14:00] micimize commented on #389
If you're using a normalized or optimistic cache, the query is probably being "rebroadcast" so that mutations are applied to the results. (If it's getting re-run on the network that's a big issue)

Is the problem that the list re-renders as a new instance with and calls
  `itemBuilder(context, index: 0)`, or is it an issue specifically with the variables?

I thought about adding a mechanism for me

[2019-08-21 14:04] micimize commented on #386
@serendipity1004 This is not intended behavior - we hadn't considered the case where `fetchMore` returns a partial of an in-cache entity. Very good work isolating the issue.

A temporary workaround would be to `fetchMore` with
[code]
That way the entity won't be picked up by the normalizer, and you can merge the results yourself.

The correct solution is probably for us to run the `fetchMore` `upd

[2019-08-21 18:13] mainawycliffe commented on #386
I think it's best to run `fetchMore`  `updateQuery` method pre-normalization unless there are unforeseen side effects.

[2019-08-21 18:17] mainawycliffe commented on #389
Does this behave the same when using `InMemoryCache`?

[2019-08-21 18:22] mainawycliffe commented on #390
We are considering exposing low-level information such as status code, headers, etc, which is being tracked by this [issue](https://github.com/zino-app/graphql-flutter/issues/371).

That being said, if you follow GraphQL conventions [here](https://graphql.github.io/graphql-spec/June2018/#sec-Errors), all the error data you need should be returned as an error field, with additional information such

[2019-08-21 18:25] mainawycliffe commented on #391
Why GET? Currently, I don't think it is possible. But I don't understand why you want to use GET instead of POST.

[2019-08-21 19:10] ryankauk commented on #388
I just updated the github at lib/new_mutation.dart, you can see the new implementation fully in use.

[2019-08-22 01:40] serendipity1004 commented on #389
@micimize yes you are right. It was the re-broadcast. I checked the server request and there is no re-request after mutation. So, I am guessing that it is an issue with cache not being updated properly OR query not receiving correctly updated cache. I have a simple application that demonstrates this. I am running a mutation that just simply returns cache for updates which then should broadcast ori

[2019-08-22 01:44] serendipity1004 commented on #389
@mainawycliffe and yes. Even if I change cache to `InMemoryCache`, behaviour is the same as above.

[2019-08-22 02:34] w0nderb0y commented on #391
As I said. I'm very new to GraphQL and don't completely understand the concept yet.

I want to use the Facebook GraphAPI and not my own backend.
https://developers.facebook.com/docs/instagram-api

And in some tutorials, also in the Facebook documentation they use GraphQL clients and specify GET as request method.

That's the reason I asked if it possible to query with GET.

[2019-08-22 09:11] mainawycliffe commented on #389
I will debug and see if we can provide a quick solution for this.

[2019-08-22 09:19] mainawycliffe commented on #391
Okay, I was going over the [GraphQL Spec Sheet](https://graphql.org/learn/serving-over-http/#get-request), and you are right, we should support GET request if we don't already do. Maybe this should be an option when initializing an HTTP_LINK with post Request as the default for backward compatibility. What do you think @micimize and @HofmannZ?

[2019-08-22 14:55] micimize commented on #391
@w0nderb0y I wouldn't worry about this as a beginner. It is only an optimization - all of the examples should work the same with `POST`. Think of HTTP as a protocol under GraphQL - you don't need to worry about it at all, except when doing something like performance tuning.

@mainawycliffe Yeah, [`apollo-link` has a `useGETForQueries ` option](https://www.apollographql.com/docs/link/links/http/).

[2019-08-22 15:06] w0nderb0y commented on #391
@micimize the requests fails with the grapql client against the Facebook Graph API. So I need to worry about it. It works with a REST client though.

I didn't try it with a different graphql client though. In the Facebook documentation there is a Swift snippet where they use a Graph QL client with GET

[2019-08-22 15:20] micimize commented on #391
@w0nderb0y are you sure the facebook graph api has a GraphQL api? Can you post a link?
You can test whether a graphql endpoint accepts post with curl:
[code]

[2019-08-22 19:38] eusdima commented on #391
@w0nderb0y I don't think GET will add any performance benefits  for Graphql. Only if you spend the time to do specific endpoint for a certain mutation, thus diverging back to REST, which I myself consider a contradiction of the entire GQL.

[2019-08-22 19:57] eusdima commented on #391
@w0nderb0y if you are at the beginning, then I would suggest you focusing more on learning the basics than carrying about complex things like GET that only bring you so little for GQL

[2019-08-23 12:22] beingadrian commented on #353
@bCliks pretty late–I had the same issue initially since the default behaviour was not obvious at the start. You can do so via setting the `fetchPolicy` param on `QueryOptions` which gets passed to the `query` method every time you make a request.

[code]

Figured it out by hovering over `QueryOptions` on VSCode which shows you the default values. Of course, you can explore the open-source code yo

[2019-08-23 21:37] #390 closed

[2019-08-25 00:42] micimize commented on #381
[cache entities should be deeply merged](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/cache/normalized_in_memory.dart#L127), but if a field is returned as `null` explicitly it will overwrite the previous value. Can you add some examples of the data, and your `dataIdFromObject`?

[2019-08-25 01:19] micimize commented on #383
My approach is to `import` whatever file my cache is defined in, and then set a breakpoint where I want to do comparisons or have cache keys handy. Unfortunately the [`LazyCacheMap`](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/cache/lazy_cache_map.dart) is a bit hard to navigate due to lack of a good `toString`, but you can always look at it's raw `.data`

Not

[2019-08-25 16:33] micimize commented on #380
Seems to me that this is likely related to [breaking the async awareness bridge](https://github.com/dart-lang/http/issues/160#issuecomment-390403747) within the library. As in, we connect "in the background", and that isn't linked to the rest of the api entrypoints.

[2019-08-25 23:52] micimize opened #392 "fetchMore error handling"
Basically, with our current implementation of `fetchMore` that uses apollo's approach, there is no way for the user to do error handling. In apollo [they can `.catch`](https://github.com/apollographql/react-apollo/issues/2759#issuecomment-496495329), but I don't think this is good enough - we should just pass both full results to `updateQuery` so that the user can handle or merge `errors`, etc how

[2019-08-26 01:06] serendipity1004 commented on #389
@mainawycliffe how's the debugging going? would this be an issue even if I switch to BloC structure? Since BloC structure does not wrap the app with Notification widget, I am guessing mutation will not automatically trigger query?

[2019-08-26 02:57] mainawycliffe commented on #389
I haven't had the time to troubleshoot yet, been caught up by work, hopefully today or tomorrow I will be able to. If you swap to bloc or any other state Management solutions for that matter, you won't face the problems with the two issues you are facing.

Regards
Maina Wycliffe

________________________________
From: Ji Ho Choi <notifications@github.com>
Sent: Monday, August 26, 2019 4:06:19 AM
T

[2019-08-26 18:23] mainawycliffe commented on #392
So, instead of just passing the data, we pass the QueryResults and the user checks on both?

[2019-08-27 06:18] serendipity1004 commented on #389
@micimize yes. Thank you very much. I am currently updating my application so that it is using BloC and now it's behaving as expected. I hope this gets fixed ASAP as using this package as BloC implementation imposes so much more inefficiencies and much more code.

[2019-08-28 01:40] serendipity1004 commented on #386
@micimize I can confirm that it is working on both the example that I have provided and on my previous commit of my project. Great job and thank you. May I ask when this will be merged into the main branch?

[2019-08-28 02:14] serendipity1004 commented on #386
@micimize I have to investigate a little more but there's another problem when using `fetchMore`. When I am creating an infinite loading list with `fetchMore` and set the query option to be `cacheFirst`, I am losing the data fetched with `fetchMore` query when I move to another route and come back. My first guess is that either the query is not reaching for the cache first OR cache is being reache

[2019-08-28 08:21] michalsuryntequiqo opened #395 "Cannot query field "X" on type "Y".: Undefined location"
Hello there,
I'm experiencing the error with getting data from graphQL API (the real one, not hosted locally).
When quering for some data, the error appears:
`Cannot query field "X" on type "Y".: Undefined location
`
The query used:
[code]

With the property `variants { name }` the result shows error:
`Cannot query field "variants" on type "Product".: Undefined location
`
Without it, the result **

[2019-08-28 08:33] mainawycliffe commented on #392
Okay, I will work on this over the weekend.

[2019-08-28 08:36] mainawycliffe commented on #386
FetchMore requests are never cached, the cache settings are purposefully ignored. We are working on improvements, tracked on this [issue](https://github.com/zino-app/graphql-flutter/issues/372), but FetchMore is a complicated feature, as its uses are huge.

[2019-08-28 08:40] serendipity1004 commented on #386
@mainawycliffe fair enough. May I know why cache is purposefully ignored in fetchMore? Just wondering how it could be useful in some cases.

[2019-08-28 08:59] mainawycliffe commented on #386
The main reason is that it's the expected common use case. I can see the advantages of caching fetch more results, but it also brings up issues highlighted here like replacing the previous results during cache normalization.

[2019-08-28 14:11] liu-dongyu commented on #99
Why close ?  Is there any solution to make it one time process ?

[2019-08-28 14:17] HofmannZ commented on #99
@liu-dongyu You can use an `AuthLink`:

[code]

The function you provide to the `AuthLink` can be a future and can call any of you own auth logic.

[2019-08-29 01:54] micimize commented on #386
@HofmannZ why do we override the fetch policy if the default query option is used? Why not just change the default?

https://github.com/zino-app/graphql-flutter/blob/633df3eda6c57a38aac6ee58baa4ac3f32630c95/packages/graphql_flutter/lib/src/widgets/query.dart#L41-L43

[2019-08-29 02:21] Codebear98 commented on #391
Hi, just came across this topic.

The benefit of having Get method is performance gain from supporting Cloudflare or other CDN.
To use Get request, you also need to implement `Auto persisted queries` (APQ) due to the uri length limitation of cloudflare

it's covered in ApolloSDK doc, currently web, apollo-android and apollo-ios are supporting APQ+get method.

https://www.apollographql.com/docs/apo

[2019-08-29 06:27] #395 closed

[2019-08-29 07:05] prajwalmr62 commented on #366
@mainawycliffe I've raised a PR removing the changes.

[PR 396](https://github.com/zino-app/graphql-flutter/pull/396)

[2019-08-29 09:43] mainawycliffe commented on #386
@micimize I saw that and I didn't understand why. Someone already raised the same [issue](https://github.com/zino-app/graphql-flutter/issues/366) and there is a [PR](https://github.com/zino-app/graphql-flutter/pull/396) for that.

[2019-08-29 13:59] micimize opened #397 "Add HTTP GET Query Support"
Broken off from #391

[`apollo-link` has a `useGETForQueries ` option](https://www.apollographql.com/docs/link/links/http/).

One of the default [`HttpConfig.options`](https://github.com/zino-app/graphql-flutter/blob/ced45b5b06bae3a43c2646d682f8b289675adc9e/packages/graphql/lib/src/link/http/fallback_http_config.dart#L9) fields specifies `method`, but it doesn't influence behavior. I'd say this is

[2019-08-29 14:00] micimize commented on #391
made a specific issue for #397 for get support so the thread is more focused on the issue

[2019-08-29 14:00] #391 closed

[2019-08-29 14:08] micimize commented on #397
If anyone has an app in production with these kinds of load-based demands, they can start contributing themselves IMO.

I can only dream my app gets to the point where this is a concern 😅

[2019-08-29 14:12] micimize commented on #386
Ok, well when I remove that block going back to the fetchmore query has no issues, so I'm leaving that for another (soon-to-be) PR

[2019-08-29 14:21] micimize commented on #351
closed by #394

[2019-08-29 14:21] #351 closed

[2019-08-29 14:21] micimize commented on #386
closed by #394

[2019-08-29 14:21] #386 closed

[2019-08-29 14:21] micimize commented on #389
closed by #394

[2019-08-29 14:21] #389 closed

[2019-08-29 14:52] Codebear98 commented on #397
Yes we do have production apps were encountering that issues but they are native apps.

We wanna implement another app with flutter, it’ll be the issue we need to go through again.

FYI: https://link.medium.com/H0LVnHvayZ

[2019-08-30 00:05] HofmannZ commented on #389
:tada: This issue has been resolved in version 2.1.1-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v2.1.1-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-30 01:46] micimize commented on #383
Here are some helpers for printing out `LazyCacheMaps`:
[code]

[2019-08-30 03:12] micimize commented on #383
I wrote some helpers for printing `LazyCacheMaps`, and in the process discovered some bugs. So, the following will only work safely with #399:
[code]

[2019-08-30 03:25] micimize commented on #201
For future reference, [apollo's offline support thread](https://github.com/apollographql/apollo-feature-requests/issues/11)

[2019-08-30 03:25] micimize commented on #383
There was a loading bug that was recently fixed, which may have caused confusion (#351), and #398 might also be helpful for your use case.

[2019-08-30 03:25] #383 closed

[2019-08-30 03:27] micimize commented on #374
Please try `2.1.1-beta.1` and comment if this is still an issue (didn't thoroughly test myself)

[2019-08-30 03:27] #374 closed

[2019-08-30 04:15] jerryzhoujw commented on #327
It seems no `TimeoutLink` here.

[2019-08-30 04:31] lookfirst commented on #374
@micimize Confirmed! Thanks for the hard work. One question, why not also fix the code that builds the key to be a shorter string (ie: hash)?

[2019-08-30 09:02] mainawycliffe commented on #366
This should be closed by this [PR](https://github.com/zino-app/graphql-flutter/pull/398) from @micimize

[2019-08-30 09:02] #366 closed

[2019-08-30 15:11] micimize opened #400 "Shorter operation cache keys"
Operation cache keys are very long (full document + variables)

We should consider making keys a hash or uuid. Not a `hashCode` though 😬

[2019-08-30 15:15] micimize commented on #374
@lookfirst want to do it carefully - made an issue though #400. For instance, I realized I was misunderstanding `hashCode` recently, so if I had used it collisions would have been possible (Objects that are not equal are allowed to have the same hash code)

Would also be good to see exactly how apollo implements it, although it might be irrelevant because they do client-side query-resolution.

[2019-08-30 16:04] lookfirst commented on #374
https://pchalin.blogspot.com/2014/04/defining-equality-and-hashcode-for-dart.html

apparently quiver has hash functions.

[2019-08-30 16:10] lookfirst commented on #374
Oh man, this sent me down a rabbit hole: https://medium.com/booking-com-development/hardening-perls-hash-function-d642601f4e54

I wonder if there are any potential attacks against software as a result of using the quiver hash functions.

[2019-08-30 16:11] lookfirst commented on #374
Oh, it just keeps going... https://github.com/dart-lang/sdk/issues/11617

[2019-08-30 19:16] micimize commented on #400
@lookfirst moving discussion here.

One option would be to use [`uuid.v5`](https://pub.dev/packages/uuid) for deterministic uuids. Maybe something like `$documentUuid/$operationName($variables)`

I guess apollo just caches by `$operationName($variables)` (I guess they [don't support](https://github.com/apollographql/apollo-tooling/issues/184) anonymous operations):
![image](https://user-images.git

[2019-08-30 20:40] micimize commented on #388
So, you're saying you're
* triggering a call to `didUpdateWidget` during the call to `runMutation`,
* which incorrectly resolves `(!observableQuery.options.areEqualTo(_options))` to `true` due to empty variables (`null`?)
* which discards the old mutation widget, then re-renders?

Sounds to me like the only problem is the incorrect `areEqualTo` result. We actually want to discard the old `Observab

[2019-08-31 00:05] HofmannZ commented on #366
:tada: This issue has been resolved in version 2.1.1-beta.2 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v2.1.1-beta.2%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-31 02:17] mainawycliffe commented on #388
I am thinking that the only way this is false is if the client changes, otherwise it will always be true. Maybe we should compare if the variables have changed or QueryOptions or something like that.

[2019-08-31 17:41] mainawycliffe commented on #388
The error seems to be here, on the comparison for policies:

[code]

And it is related to [this issue](https://github.com/zino-app/graphql-flutter/issues/351).

[2019-08-31 17:44] mainawycliffe commented on #388
This can be solve by adding an `areEqual` method to the policies and compare both `ErrorPolicy` and `FetchPolicy` independently.

[2019-09-02 14:09] amadeu01 commented on #26
@lucasavila00 that generator https://github.com/comigor/artemis seems really cool
it might help as a base to create a generator for _graphql-flutter_

[2019-09-02 14:45] HofmannZ commented on #26
@amadeu01 Nice suggestion!

@comigor Would you be interested in moving your type generator under the `graphql-flutter` project? I think it would be awesome for new developers to get type generation out of the box. What do you think?

[2019-09-02 15:57] comigor commented on #26
Hey guys!

Yeah, I also think this project would benefit from types generation, and that's why I've started Artemis, actually. The goal of it is to have GraphQL type generation for any Dart project, not just Flutter-based projects (I'm already using it with Flutter for desktop and some CLI's).

It was on my roadmap to make a Flutter widget layer to it and, for this, `graphql_flutter` would be an a

[2019-09-02 17:14] micimize opened #402 "Consider Moor cache"
I'm not sure how hard this would be, but using a [moor database](https://github.com/simolus3/moor/blob/master/moor_flutter/example/lib/database/database.dart) as a cache seems like a really powerful approach to me

[2019-09-02 17:18] mainawycliffe commented on #402
I think it is worth giving it a try

[2019-09-02 17:18] micimize commented on #26
@comigor I don't see any issue with that - if I can manage to replace `graphql-to-dart` with `artemis` I might start incorporating some [typed widgets](https://github.com/micimize/graphql-to-dart/blob/master/example/lib/typed_query.dart) / helpers here.

There are some features we have implemented that I'd like to publish as standalone modules eventually, namely caching. So, if you go to add cachi

[2019-09-02 17:29] comigor commented on #26
Yeah, I'd like to have cache (and even HTTP) decoupled from the code generation, but I had to create `ArtemisClient` abstraction to automatically get typed input/response from a query.

And what I meant of "pure Dart" is just using some default abstractions (like `http.Client` instead of `HttpLink` and things like that).

I didn't know about `graphql-to-dart`, but what I like most about Artemis is

[2019-09-03 12:36] amadeu01 commented on #188
I'm getting `StreamedResponse` instead of `Response`, so when I try to print the response body I get

[code]

@micimize Do you know how I can the the response body?

[2019-09-03 13:47] amadeu01 opened #404 "[Question] How to log response and request?"
Like #188

I was not able to _print_ response of the request because the response is the type of StreamedResponse and it can only be subscribed once, so how do you log the response?

From other projects, https://github.com/square/okhttp/tree/master/okhttp-logging-interceptor
it could be nice to have a small lib/plugin for logging.

[2019-09-03 13:57] micimize commented on #188
@amadeu01 try [`await response.stream.bytesToString()`](https://stackoverflow.com/a/55521892/2234013)

[2019-09-04 01:38] nekocode opened #405 "The caching is not controlled by ErrorPolicy"
Why the caching is not controlled by `ErrorPolicy` ?

See here:
https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/core/query_manager.dart#L115-L121

Is this to be expected?

[2019-09-04 22:07] bsr203 opened #406 "subscriptions through SSL (https)"
Hi. I updated my server to a secure endpoint. I changed the HttpLink uri from `http://localhost:8080/graphql` -> `https://localhost:443/graphql`. All graphql query seems to work fine.

Now, changed the subscription uri from `ws://localhost:8080/subscriptions` to `ws://localhost:443/subscriptions`. But I see these error

[code]

this may work if uri is `https://localhost:443/subscriptions`, but thi

[2019-09-05 06:18] ryanz1219 opened #407 "GraphQLClient subscription will lost when re-connected to server"
**What Happened**
In some reasons, I required to write my script through GraphQLClient and develop using Query, Mutation, Subscription. When I developing the subscription I found that when every connection closed and after re-connect, it didn't pass any query operation(StartOperation) to the server. Therefore, everything will no longer be received from the server.

**Expected behavior**
On re-conn

[2019-09-06 16:28] smkhalsa commented on #278
@mainawycliffe Do you have any guidance on this?

[2019-09-06 17:30] amadeu01 commented on #404
I managed to make a nice logger by implementing my own `BaseClient`

[code]

[2019-09-06 17:30] #404 closed

[2019-09-06 19:56] micimize commented on #405
I guess according to the [apollo docs](https://www.apollographql.com/docs/react/features/error-handling/#error-policies) it is not expected. In fact, this is probably a fairly critical issue

[2019-09-06 20:06] micimize commented on #406
`wss://localhost:443/subscriptions` should work, though there are a [couple](https://github.com/dart-lang/sdk/issues/34284) [issues](https://stackoverflow.com/questions/14496496/using-dartio-websocket-with-wss-protocol-ssl) with dart sockets. I'm pretty sure the `url` for the socket client gets passed through unchanged though

[2019-09-07 00:39] bsr203 commented on #406
@micimize thank you so much for the help. I will test it at the earliest and get back with you. Have a great weekend.

[2019-09-07 22:37] mainawycliffe commented on #392
I will work on this tomorrow, am thinking of adding a onError callback with a default method, which merges the GraphQLError list, one can override it to handle errors differently.

[2019-09-08 12:01] mainawycliffe commented on #278
@smkhalsa At first I didn't understand what you meant, but now I see the difference between our own implementation and React Apollo implementation. Our Update method is outside mutation options, which makes it only accessible to users using `graphql_flutter` and not regular `graphql`. I think it is possible to move the update the method, to allow users of `graphql` to use the option too. @micimize

[2019-09-08 12:22] smkhalsa commented on #278
Thanks @mainawycliffe. My use case requires that I initiate a mutation from my store in response to state changes as opposed to something directly initiated by a user in the UI. As such, I'm using the `graphql` library directly, not `graphql_flutter`.

[2019-09-08 23:00] capivaraapps opened #409 "SocketException: No route to host"
Trying to connect with my GraphQL API running at http://172.22.0.1:4000 and getting next error every time. Seems like it's setting a random port but I don't know how to set it correctly.

`I/flutter ( 1537): [SocketException, SocketException: OS Error: No route to host, errno = 113, address = 172.22.0.1, port = 38707]`

My code:

[code]

[2019-09-08 23:07] #409 closed

[2019-09-08 23:40] micimize commented on #278
Yeah we should move the callback logic involved into `graphql`, and just pass through the current update callback. This applies to pretty much all logic - `graphql_flutter` shouldn't really have much logic in it

[2019-09-09 11:21] aduryagin commented on #220
@Nazacheres can you create repository with working sample, if your code actually works?

[2019-09-09 15:00] marcgraub opened #410 "Graphql for web - Error compiling dartdevc"
**What Happened**

When I add graphql import to an angular component:

`import 'package:graphql/client.dart';`

build_web_compilers throw the next error:

[code]

On webdev serve, the error message is:
[code]

**Expected behavior**
Project compilation.

**Desktop:**
 - OS: Ubuntu 18.10
 - graphql v2.0.1

**Additional context**
The same happens on a new project.

[2019-09-09 16:34] bsr203 commented on #220
I want to intercept http response code (401 Unauthorized etc) and act accordingly. Somehow, once HttpLink detects error, the next link in the chain is not invoked.

similar request [here](https://github.com/zino-app/graphql-flutter/issues/53#issuecomment-487167308)

Also see a package for this [here](https://github.com/ygmpkk/flutter_graphql_backenderrorlink) , which also doesn't work for me.

@Ky

[2019-09-10 07:16] kevinrodriguez-io commented on #231
This solved the issue, **subscriptions must be named** ???
Now I do have an issue with my JWT Token; it appears not to be sent over the `WebSocketLink` because Hasura is giving me the following error:
[code]

[2019-09-10 08:02] kevinrodriguez-io opened #411 "WebSocketLink doesn't add headers from AuthLink"
This scenario works in apollo-graphql, just by setting the right `Authorization` token on the WebSocketLink;

Here, for some reason, the Authorization header is not being sent to the server even when the AuthLink is present and is injecting the right headers.

This problem might be related to the underlying websockets client or the fact that websockets work by sending an initial connection request

[2019-09-10 09:39] mainawycliffe commented on #392
@micimize I started working on this and realized there was a PR on having [Library level exceptions](https://github.com/zino-app/graphql-flutter/pull/393). Can I work off this PR or should I wait for you to merge it?

[2019-09-10 10:25] marcgraub commented on #410
Hi! I fixed it updating dependency **build_web_compilers** to latest version, mine was 1.0.0

[2019-09-10 10:25] #410 closed

[2019-09-10 13:17] bsr203 commented on #231
@kevinrodriguez-io try to step over the code and log the http headers at the server. It does work for me though I use go server.

[2019-09-10 13:25] bsr203 commented on #411
This link from apollo has more info
https://github.com/apollographql/graphql-subscriptions/blob/master/.designs/authorization.md

```It’s not possible to provide custom headers when creating WebSocket connection in browser.```

I too need to figure out how to do it, hope you can figure out a wasy. Cheers

[2019-09-10 13:29] kevinrodriguez-io commented on #411
This happened to me on Hasura, I'll contact them and get back to this issue with more information.

[2019-09-10 13:56] mainawycliffe commented on #411
I haven't worked with Hasura and Web Socket that much, but last week I came across a series of blogs post on Hasura and Flutter, for this library. Here are the links, you can skip the first two blog posts.

1. https://blog.hasura.io/build-flutter-app-graphql-hasura-serverless-part1/
2. https://blog.hasura.io/build-flutter-app-hasura-firebase-part2/
3. https://blog.hasura.io/build-flutter-app-hasur

[2019-09-10 15:51] PetreaLoredana commented on #220
Did anyone find a solution to the @Kyle-Mendes 's problem?

[2019-09-10 18:52] micimize commented on #392
@mainawycliffe the docs need to be reworked for lib level exceptions - idk when I'll get around to it

[2019-09-11 06:13] kevinrodriguez-io commented on #411
@mainawycliffe Thanks for the reference! In fact, I talked to Can Taşpınar (The author of that blogging series, who was very kind and helpful). This seemed to be working on v1 (^1.0.0), but latest versions throw that error. I'll look at the source code differences to know if we can get this to work.

Attachment:
How my client and links look

<img width="566" alt="Screen Shot 2019-09-11 at 00 02 37

[2019-09-11 07:15] cantaspinar commented on #411
It looks like setting headers for the WebSocket was allowed earlier. However, it has been removed because "WebSocket headers are not usable in the browser". The suggestion is to use initPayload. I have tried these settings below and it worked out on **2.1.0**
[code]

[2019-09-11 08:34] mainawycliffe commented on #411
@cantaspinar Yes, that was changed when flutter for web was announced. The docs are kind of a mess at the moment. I will dedicate some time to updating the docs and possibly a static site for the library of the coming weeks.

[2019-09-11 16:52] j-deng opened #412 "Is there a reason to force set `fetchPolicy = FetchPolicy.cacheAndNetwork` in query options?"
**Describe the bug**
https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql_flutter/lib/src/widgets/query.dart#L41
It will cause the unnecessary query to the backend if forced to update from the network and make this option setting confusing.  [related ask](https://stackoverflow.com/questions/57891193/how-to-disable-graphql-flutter-query-backend-every-time-build-query) / [related

[2019-09-11 21:45] smkhalsa commented on #333
@micimize I noticed that mutation ids are [automatically generated](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/core/query_manager.dart#L313) which means (as you mention above) we cannot refetch queries from QueryManager by name. I'm trying to understand if this was an intentional design decision, but the link in your comment above, which I presume is to a disc

[2019-09-11 21:49] smkhalsa commented on #333
I should note that I was just trying to use QueryManager.refetchQuery as an interim solution, but #278 is a better solution for my use case. However, I presume there are other reasonable use cases for refetching queries directly from QueryManager.

[2019-09-11 22:01] micimize commented on #333
The dead link was about how apollo wanted to deprecate some aspect of their api. It would make sense to have an api for getting the most recent instance of a query for a given doc + variables, I'm not sure how you could do that right now

[2019-09-11 22:34] smkhalsa commented on #333
What if we just store [queries](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/core/query_manager.dart#L36) as a `Map<QueryOptions, ObservableQuery>` instead of `Map<String, ObservableQuery>`?

Then in [refetchQuery](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/core/query_manager.dart#L216) you would simply pass a `QueryOptions`

[2019-09-11 22:40] smkhalsa commented on #333
The deep comparison logic [already exists](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/core/query_options.dart#L138), but we may need to adjust it to use for a base QueryOptions class

[2019-09-12 00:05] gepd commented on #371
Hi guys, you can't do something like javascript apollo client do?

[code]
finally you concatenate all

[code]

It would be easier and consistent.

[2019-09-12 02:02] micimize commented on #333
@smkhalsa we still want to [maintain unique ids](https://github.com/apollographql/apollo-client/blob/57a881894f7924bf3e091a62b913ca65a966ae3c/packages/apollo-client/src/core/QueryManager.ts#L74-L78), because the lifecycles of two distinct operations with the same docs + variables will be different.

We can just [find the relevant ids and refetch them](https://github.com/apollographql/apollo-client

[2019-09-12 03:09] j-deng commented on #412
And if it's an issue, then the fetchMore cache also has no effect on caching the whole list, will still causing fetching a small list without fetchMoreData

[2019-09-12 03:13] mainawycliffe commented on #412
Can you try the beta version, I think the issue was resolved a while back.

[2019-09-12 03:25] j-deng commented on #412
Thanks, man, my bad, it's resolved. 👍

[2019-09-12 03:27] #412 closed

[2019-09-13 07:17] tamdesktop opened #413 "Add middleware"
Thanks for your hard work on this project.

Can you plan to add something like middleware? I want to add my custom encrypt and decrypt data before send and receive data.

[2019-09-13 07:21] klavs commented on #413
@tamdesktop `Link` is a middleware.

https://github.com/zino-app/graphql-flutter/tree/master/packages/graphql/lib/src/link

[2019-09-17 07:33] serendipity1004 opened #416 "Query result.loading is always false when used in statefulwidget"
When `Query` is inside a statefulwidget and if the statefulwidget is re-rendered due to change of state in its parent stateful widget, result.loading is always false even when new query is being fired to take account of state change in parent widget that propagates down to the child widget.

I will try to provide a minimal working example ASAP this week. I can't do it right now because I've got to

[2019-09-17 07:50] mainawycliffe commented on #416
Can you try the better version, I think this issue was resolved sometime back.

[2019-09-17 08:00] serendipity1004 commented on #416
@mainawycliffe I was using 2.1.0 and now switched to 2.1.0-beta.2 to test but result.loading is always false. Anyway it's besides the point but what have you done to the library? It's got considerably faster after upgrading. (from 2.1.0 to 2.1.0-beta.2)

[2019-09-17 08:12] #416 closed

[2019-09-17 19:17] #411 closed

[2019-09-18 08:54] freeman29 opened #417 "The method '[]' was called on null"
Below our my code that causes the said issue.

**Error**
════════ Exception caught by widgets library ═══════════════════════════════════
The method '[]' was called on null.
Receiver: null
Tried calling: []("productByHandle")
User-created ancestor of the error-causing widget was
    Query

**Query Document**
[code]

**Query widget**
[code]
**Versions**
Flutter 1.9.1+hotfix.2 • channel stable • htt

[2019-09-18 09:40] freeman29 commented on #417
Found out that the issue was because authorisation on headers was not define.

[2019-09-18 09:40] #417 closed

[2019-09-20 09:58] #364 closed

[2019-09-20 09:59] mainawycliffe commented on #407
@ryanz1219 can you try and the beta version and see if you still experience the issue

[2019-09-22 17:09] j-deng opened #418 "Is it good to make cache api async?"
Is it good to make cache API async? So that we defined a custom cache model that maybe using disk cache or SQLite cache or we can add an async middleware before mem cache. is it possible or not make sense?

For now, is it good practice that fetching the data from SQLite and `cache.write` the data that need to be accessible event offline?

[2019-09-23 03:43] serendipity1004 opened #419 "Global Catch/Parse Error"
**Is your feature request related to a problem? Please describe.**
Sometimes it is very useful to be able to catch specific error globally. For example, when you are using JWT auth and if JWT has expired or invalidated, user should be redirected to the login page. In current version of the package, we have to specify error handling method for each Query.

**Describe the solution you'd like**
https

[2019-09-23 04:02] #418 closed

[2019-09-24 00:46] gepd commented on #407
I've tried the `2.1.1-beta.2 ` and I got the same behavior.
I'm checking this printing something in the `onConnect` callback. The first time I see how the it's called, but if I make the device lost connection and then connect it again, `onConnect` is never called

[2019-09-24 01:33] arsen opened #420 "How should we maintain this project? 🚀"
I'm just curious if this project is still going to be supported and maintained?
Based on commit logs since a month ago almost no commits are made.

This is a really awesome project it will be sad to see this go.

[2019-09-24 05:55] Goolpe opened #421 "Software caused connection abort"
I need to upload logs, for example every 1 minute, if i have the internet everything is fine, but if i lose connection, i get this error:
<img width="959" alt="Снимок экрана 2019-09-24 в 8 39 29" src="https://user-images.githubusercontent.com/18518522/65484086-0d90aa00-dea7-11e9-89ad-502ddc086708.png">
try...catch, catchError don't catch error and app just stops.

Code example:
[code]
Doctor -v:
[

[2019-09-24 06:55] gepd commented on #407
I've found it's the same issue as https://github.com/zino-app/graphql-flutter/issues/356

[2019-09-24 08:34] guiguan opened #422 "Flutter For Web - Make Sure `graphql_flutter` works with flutter for Web"
Because of this error:

[code]

However, the [dart only package](https://github.com/zino-app/graphql-flutter/tree/master/packages/graphql) seems to work in Flutter for Web

[2019-09-26 04:34] sharad-paghadal commented on #407
@gepd have you found solution?

[2019-09-26 10:01] Sewdn commented on #381
@micimize sorry for this very late follow up. We found out that it was not because of the documents not being deeply merged, but because cache restoration is restoring an incomplete cache.

This is the case when the cache provider is not awaiting a full save when the app is being suspended (closed, moved to background). We'll open a separate issue for this.

[2019-09-26 10:01] #381 closed

[2019-09-26 10:06] Sewdn commented on #402
This would be much more stable, because now there are several issues with saving cache to persistance layer from memory and restoring it again in several lifecycle methods of the app.

A cache provider writing and reading straight from and to a reactive persisted store would mean much less overhead and much less circumstances (eg app crashes) were you would/could loose cache.

[2019-09-26 10:39] Sewdn opened #423 "State of inMemoryCache is not always persisted/restored correctly"
**Describe the bug**
When the cache grows, writing bigger cache to a file cant finish before the app was teared down. As a result persisted cache is incomplete and can result in unexpected behavior when this incomplete cache was restored (references not being found).

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a Query resolving a rather large result set (>1000 records of complex Ty

[2019-09-26 15:24] micimize commented on #420
It is maintained as time allows by a handful of contributors, most actively me and @mainawycliffe,  but none of us have the incentives to work on it full time (no monetized app in production, no patreon money, etc). A month isn't really that long for a project nobody is being paid to work on.

I do have an app in development that depends on this project, which is the reason I started contributing,

[2019-09-26 15:42] micimize commented on #420
@HofmannZ has previously mentioned that he and @eusdima no longer have the time to contribute significantly (They were developing https://www.zinoapp.com/, which I believe this was originally a dependency for).

Pinned to hopefully make things more transparent.

[2019-09-26 21:04] Sewdn commented on #423
We managed to setup an InMemoryCache implementation with a file based persistence backend not relying on app lifecycles, but rather persist cache when new cache writes have completed (debounced).

However, when writing big caches to file, the application's UI is jittered, since Dart is single threaded. Correct me if I'm wrong, but since file writing (IO in Dart) is happening in another thread, it

[2019-09-27 03:26] gepd commented on #407
I've not found a solution yet, I'm looking for something though

[2019-09-27 07:05] mainawycliffe commented on #422
I will look into this over next week. I am going to repurpose this issue so that we can use it to make sure flutter for the web works as expected.

[2019-09-27 07:10] mainawycliffe commented on #407
I have been away for the last week, I will look into this sometime over the weekend or next week. I am open for any suggestions.

[2019-09-27 07:14] mainawycliffe commented on #413
I am going to add this to the backlog and hopefully implement it in the future, @tamdesktop if you want, you can take up this issue and we will review it and merge it.

[2019-09-27 07:19] mainawycliffe commented on #419
I will look into this and see if such a feature exists, the docs are lacking for this package. If it doesn't, I agree, it is an important feature to have.

[2019-09-27 07:26] mainawycliffe commented on #421
Can you try the beta version, I think this [PR](https://github.com/zino-app/graphql-flutter/pull/403) on reconnecting to a WebSocket when offline might have solved your issue.

If that's the case, the other option is to monitor connection state and maintain a queue for mutations, once the user is online, the perform the mutations. This is tracked by this issue [here](https://github.com/zino-app/gr

[2019-09-27 07:30] mainawycliffe commented on #397
I have an idea on this feature, I am thinking it is not as hard as it seems at first (Could be wrong though). I will try it out and see if it works.

[2019-09-27 08:25] serendipity1004 commented on #420
@micimize @mainawycliffe I would love to contribute to this package; however, as I have a full time job like everyone else, I could not find time to look over the entire package. If you guys could spend a bit of time briefly explaining how things are organized. I promise to regularly contribute. It would be excellent if we could source some apollo team to contribute to this package but as they hav

[2019-09-27 17:24] Sewdn commented on #423
Update on this issue.

We weren't able to offload the ache write to another thread. We then reverted all of our efforts and decided to keep things a they originally were setup, except for:

- we don't write to cache.txt directly, because the file will be truncated as soon as the first line is being written. When the process is killed before the cache.save method can finish, you end up with an inco

[2019-09-28 12:09] Sewdn opened #424 "Isolate the GraphClient in another thread"
**Is your feature request related to a problem? Please describe.**
The Main thread of a flutter app, should be reserved for UI, to keep the rendering and interactions as smooth as possible. Currently all computation by the GraphQL client is run in the same thread, competing with the UI to get CPU time for fetching and parsing data, normalizing it, encoding it to json and storing it to cache. This

[2019-09-28 15:34] HofmannZ commented on #420
@serendipity1004 You are more than welcome to contribute!

At the moment, we're exploring a way to fund this open-source project 🚀. We created an [OpenColective](https://opencollective.com/graphql-flutter), so we can hopefully cover (some) engineering costs. We're still looking into how we can split the funds fairly. We'd probably need a way to track time/issues/PRs/etc. All suggestions are welcom

[2019-09-28 16:22] micimize commented on #420
I personally think that our current status is fine, all things considered.

If someone monetizes an app built with graphql-flutter (or is trying to) they can step up and support/contribute to their key dependency. That's why I started contributing. I just think we should be transparent about that potential necessity

Until then, we're doing what we can, but everyone's got their own priorities. Ope

[2019-09-29 09:07] truongsinh commented on #420
Also, it depends on what the needs of what to be maintained/developed.

[2019-09-29 10:40] serendipity1004 commented on #420
how do you guys usually debug plugins? `print` functions don't seem to work on exteneral packages

[2019-09-29 11:57] mainawycliffe commented on #424
Yeah, this looks like a good idea. If we go down this path, we could make it configurable. I am just wondering if flutter for web supports isolates.

[2019-09-29 12:14] mainawycliffe commented on #397
@micimize I have a rough implementation of this using GET on Queries only similar to apollo in my own folk [here](https://github.com/mainawycliffe/graphql-flutter/tree/add-httpget-support), still needs testing and I can't find a graphql endpoint that supports GET. Fortunately, it is a minor change, so completely backward compatible.

[2019-09-29 12:51] Codebear98 commented on #397
U can build a local server with star ‘wars-server’
It’s also the server used in unit test of Apollo-iOS

https://github.com/apollographql/starwars-server

[2019-09-30 12:05] Goolpe commented on #421
@mainawycliffe i'm using graphql_flutter: ^2.1.1-beta.2

[2019-10-01 08:05] mainawycliffe commented on #397
It turns out using GET is not supported out of the box by apollo and also [gqlgen](https://gqlgen.com/) for Go. I am working on enabling [Automatic persisted queries](https://www.apollographql.com/docs/apollo-server/performance/apq/) on one of my Go GraphQL Servers and see if GET requests work.

[2019-10-01 13:53] Sewdn commented on #424
I can imagine Isolates could work for web, making use of webworkers. Don't know if Isolates are already been adapted to making use of them for web... I'll look into it.

[2019-10-01 13:57] Sewdn commented on #420
I'm willing to contribute to this awesome projects, as soon as time frees up.

Things I will be working on (in this order):

1. PR on existing CacheProvider to avoid inconsistent/incomplete cache (cfr #423 )
2. moving GraphQLClient to Isolate(s). This issue seems critical when trying to persist cache more often and avoid cache loss when app is closed. (cfr #424 )
3. using Moor as an alternative (n

[2019-10-02 03:10] gepd commented on #407
cannot the streamController in the `subscribe` method ([#L238](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/socket_client.dart#L238)) to reconnect too instead of only close the connection?

[2019-10-02 11:33] baptisteArnaud commented on #329
I have the same problem. No info on websocket connection state with this client :

[code]

And if I put anything for the websocket url it won't print an error. It doesn't say anything

[2019-10-02 12:40] baptisteArnaud opened #426 "Subscription results to an error when the operation name is not exactly the same as subscription root field name"
Whenever I'm calling a Subscription widget, it won't try to connect to websocket. Nothing is printed out in console.

It gives me right away the error:
`[{message: Unknown operation named "userJoinedRoom"., extensions: {code: INTERNAL_SERVER_ERROR, exception: {stacktrace: [GraphQLError: Unknown operation named "userJoinedRoom"`

but it exists.

I made sure the websocket in my backend was running a

[2019-10-02 12:55] mainawycliffe commented on #426
That error is from the server, can you share the schema for the server and your subscription query, please? On top of that, provide details on the version of this library you are using.

[2019-10-02 13:04] mainawycliffe commented on #421
@Goolpe I see, I will look into this, probably error handling in this section needs improvement.

@micimize you were working on improving error handling on your last [PR](https://github.com/zino-app/graphql-flutter/pull/393), have you fixed this or can I take a look at it.

[2019-10-02 13:05] baptisteArnaud commented on #426
The schema;
[code]
Here is the query:
[code]

I tested out in GrahpiQL, it works. So, no error backend side. I'm using an ngrok tunnel. Could it cause a problem ?

[2019-10-02 15:43] baptisteArnaud commented on #426
Here is how I implement the Subscription widget :

[code]

With these prints :
[code]
I just don't know how to debug this ...

[2019-10-02 17:17] micimize commented on #421
right - #393 will likely solve this issue

[2019-10-02 19:29] mainawycliffe commented on #426
I have been trying to replicate your error and I think I found it. Can you name the subscription operation same as the query itself like shown below and see if it works:

[code]

[2019-10-03 07:13] baptisteArnaud commented on #426
It doesn't work. Why did you think it could be the problem ?

[2019-10-03 07:53] baptisteArnaud commented on #426
When I run the star wars example on my current backend it says:
[code]

I don't have this output on my app. But I have almost the same setup as the star wars example...

[2019-10-03 08:01] baptisteArnaud commented on #426
Ok you were almost right, I had to change the subscription name to the same as the query. So with a lower case 'u':

[code]

This isn't a behavior we want, right ? This should work :
[code]

[2019-10-03 08:05] mainawycliffe commented on #426
The reason I thought that would work, is because I think I stumbled across a bug where I receive error "operation name not found" when the operation name is not the same as the subscription. I wanted to see of you were experiencing something similar.

The key is your query, the way its formulated. It doesn't return anything, I am guessing that GraphiQL might be adding somethings that our library i

[2019-10-03 08:06] mainawycliffe commented on #426
Yes, this is a bug, which seems to affect Subscriptions and not other types of GraphQL Operations.

[2019-10-03 08:08] baptisteArnaud commented on #426
Thank you very much for your time @mainawycliffe  🙏

[2019-10-03 08:23] ryanz1219 commented on #407
I don't know is it have other effects that will cause by removing line 254 in the before I said, but I am trying to remove this line because SocketClient._connect() called at the beginning and _connect() will auto re-connect the server according to the same file at line 140.

However, the connection is reconnected by line 140 but It didn't resend the previous GraphQL operation to the server so the

[2019-10-03 09:03] ryanz1219 commented on #407
I think it can't because the subscribe method is directly called by the user so if reconnect it, then the user will be required to reload their subscription callback also.
In addition, the streamController doesn't know any network status of the connection at now. streamController depends on _connectionStateController to receive a new message for itself.
As my knowledge :)

[2019-10-04 15:29] smkhalsa opened #427 "Async ContextLink"
I'd like to be able to set context headers in my Link asynchronously, similar to [apollo](https://www.apollographql.com/docs/link/links/context/).

This should be pretty easy. I'd be happy to take a stab at a `ContextLink`,  based on the existing `AuthLink`.

I'm wondering, however, if this should simply replace `AuthLink` to simplify the API. Rather than using an `AuthLink` and returning a token,

[2019-10-04 15:40] smkhalsa commented on #427
Here's my implementation of `ContextLink`:

[code]

Happy to drop this into a PR.

[2019-10-04 19:25] mainawycliffe commented on #402
Moor db supports flutter for web, and I think Cache is the one stopping us from support flutter for web.  We can follow the steps [here](https://moor.simonbinder.eu/web/) to use Moor for both flutter for native apps and web.

[2019-10-04 19:36] mainawycliffe commented on #424
That would be the ideal way, for now, it seems, they have not been adapted to be used by flutter for web and would require a platform check before using them to make sure we support flutter for web.

[2019-10-05 09:31] DrBanner97 opened #428 "Subscription with authLink, HttpLink and WebSocketLink"
I'm trying to subscribe to a query in Hasura, with custom authentication headers.
I'm using HttpLink(for Query/Mutation), WebsocketLink(for subscription) and CustomAuthLink (for custom header)

GraphQLClient: (based on [this](https://github.com/zino-app/graphql-flutter/issues/231#issuecomment-500673020))
[code]

Custom Auth Link: (based on [this](https://github.com/zino-app/graphql-flutter/issues/

[2019-10-05 10:18] vishal-android-freak commented on #428
Banging my head on this for a long time now. Anyone?

[2019-10-05 12:59] klavs commented on #428
Subscription detection is currently based on regex and requires `operationName` to be set. Could you try to manually set `operationName` to `subscribeFAQ`?

[2019-10-05 13:18] klavs commented on #428
[code]

Looks like a server response. Can you verify that this is returned from the query/mutation endpoint instead of the subscription endpoint?

[2019-10-05 14:18] vishal-android-freak commented on #428
@klavs if you are using Hasura, authentication error gives the following response from the server when using subscription
`{errors: [{extensions: {path: $, code: validation-failed}, message: no subscriptions exist}]}
`

[2019-10-05 14:48] klavs commented on #428
I'm not sure, but I suspect that the `WebSocketLink` does not actually use the `headers` set by `AuthLink`.

https://github.com/zino-app/graphql-flutter/blob/519381cd1c57515fd26cedb33c68a68d563a6eac/packages/graphql/lib/legacy_socket_api/legacy_socket_link.dart#L8-L27

[2019-10-05 15:59] vishal-android-freak commented on #428
@klavs how to add the auth headers to websocket? While Apollo does it when creating the WebSocket client object, is there any way for us to do the same? This is super important for our project :(

[2019-10-05 16:07] klavs commented on #428
@vishal-android-freak, I guess you can use the legacy socket link I was referring to earlier as a quick workaround.

[2019-10-05 16:08] vishal-android-freak commented on #428
@klavs alright. Will do that. Thanks for the help :)

[2019-10-05 18:00] mainawycliffe commented on #428
@vishal-android-freak can you try setting up at initPayload as described [here](https://github.com/zino-app/graphql-flutter/issues/411#issuecomment-530254321) and see if help, I think it works with the latest version.

[2019-10-06 03:05] vishal-android-freak commented on #428
@mainawycliffe that worked! We really need this documented in the Subscription section :) @klavs.

@DrBanner97 I think we can close this!

[2019-10-06 03:32] #428 closed

[2019-10-06 14:04] smkhalsa commented on #278
@mainawycliffe it sounds like this is a change we want to make. Any further thoughts?

[2019-10-06 16:21] micimize commented on #423
I wonder if we should could just depend on https://pub.dev/packages/sembast. It's api is async, which might be an issue.

[2019-10-06 19:09] mainawycliffe commented on #278
@smkhalsa yea, this is a change we should make, the question is the best approach to achieve this. It will definitely be a breaking change, but if we move the `update` call back alone, I think we could introduce some API inconsistencies, the best approach, I believe, is to move all the callbacks to `MutationsOptions` - `onError`, `onComplete`, `update` which is more consistent with [Apollo React](

[2019-10-06 21:58] micimize commented on #278
@mainawycliffe yeah that's what I think as well - all functionality should be in `graphql` and merely exposed in an idiomatic flutter way in `graphql_flutter`

[2019-10-06 22:22] mainawycliffe commented on #278
I will work on this and bundle it with the #435

[2019-10-06 23:30] micimize commented on #402
One challenge is getting a sane inheritance chain in dart with fragments, but I think this trick should work: https://gist.github.com/micimize/ec9df3c1df23f415621fd3da7e81209e

[2019-10-07 17:16] klavs commented on #402
Here's something to consider

`schema.graphql`
[code]

`get_movie.graphql`
[code]

Here you'd need to cache:
[code]

Meaning that every parameterised field must be treated as some kind of collection with a key of variable count of dimensions.

[2019-10-07 17:50] klavs commented on #402
With that I guess I wanted to say that it is ok to model the cache in a type-safe manner, but we should remember that the types used in the cache will not be the same types the users are going to use.

With the previous example, users will expect something like this:
[code]

Also, "type-strict" cache demands that all the queries and the schema is known at build-time. There's no problem with schema

[2019-10-07 18:36] klavs commented on #400
@micimize I think in Apollo it is actually
[code]

And then the same goes recursively down per `value`. At least for the in-memory de-normalized cache it is so. Maybe some less advanced cache implementation cares about unique operation keys, because it caches the whole responses instead of every *entity*.

I think this API is limiting
https://github.com/zino-app/graphql-flutter/blob/519381cd1c5751

[2019-10-07 18:58] klavs commented on #371
I think `QueryResult` should not care about `rawFetchResult`, because it is a concept of the `HttpLink`. Imho, `HttpLink` should add any interesting response data to the context so that any user who does not use `HttpLink` doesn't have `QueryResult.rawFetchResult` which means nothing in their case.

Another example would be Rest Link where a single operation may become a set of HTTP requests – the

[2019-10-07 19:15] klavs commented on #176
As I mentioned in https://github.com/zino-app/graphql-flutter/issues/400#issuecomment-539147245, I think the cache must know about the operation and it's variables to cache the data more intelligently. It is required to understand how each parameterized field was actually queried.

[2019-10-07 20:36] micimize commented on #402
@klavs schema needs to be known, but not necessarily operations. If we parse operations at runtime we could use that to write to normalize into the correct client-side table. But yeah, using moor basically means generating an entire relational database schema for the client based on your graphql schema.

I think we'd want to do this with methods as well, so `description(locale, description)` becom

[2019-10-07 20:42] micimize commented on #371
yeah, I think it's best to leave solutions like this to userland. @gepd we do have custom link support, for example
https://github.com/zino-app/graphql-flutter/blob/519381cd1c57515fd26cedb33c68a68d563a6eac/packages/graphql/lib/src/link/auth/link_auth.dart#L9-L38

[2019-10-07 20:42] #371 closed

[2019-10-07 22:34] klavs commented on #402
@micimize you're right, but if we let users use arbitrary queries, they may run into a query containing a field not in that build-time schema and then it all falls apart.

That `description` example is quite trivial comparing to what is possible. GraphQL input types may even be nested in quite advanced ways.

[2019-10-08 04:40] lookfirst commented on #400
There is also [@connection](https://www.apollographql.com/docs/react/caching/cache-interaction/#the-connection-directive) to consider. Some times, you don't want every variable cached as it would pollute the cache and make it totally ineffective. Imagine sorting a table of data on the server. You don't want to cache by sort key. Took me a bit to figure this out.

[2019-10-08 20:57] mainawycliffe commented on #422
Support for flutter for web turns out is a little bit more complex. We currently don't have a way of switching between native APIs such as IO and browsers API such local storage, this makes it a little bit tricky to build one app that can be deployed to both native and web. We currently have some web APIs for web sockets and I believe in-memory cache but those I will have to test and we can make i

[2019-10-08 21:58] guiguan commented on #422
Yes, a little bit tricky. I have a prototype working using your GraphQL package on both web and native. I had to use conditional imports for different implementations, such as MultipartFile. Then it seems working fine, even for the file uploads.

[2019-10-09 23:35] kulture-rob commented on #411
@cantaspinar how would one refresh their token when it expires?

[2019-10-10 02:06] jascodes commented on #422
@mainawycliffe @guiguan Additionally I am looking for encrypted offline support. So was looking to make https://pub.dev/packages/sembast custom cache in between. How much work you guys think it is, if were to be done properly?

[2019-10-10 08:45] shafqatevo commented on #420
We're planning to use this package in another open source framework. We're in the early stages of designing the framework. We hope to get involved in addressing the high priority issues here.

@HofmannZ regarding exploring "We're still looking into how we can split the funds fairly. We'd probably need a way to track time/issues/PRs/etc. All suggestions are welcome!" - is there any current best pra

[2019-10-10 08:58] serendipity1004 commented on #354
@micimize If a use login using an account and then logs in with another account, the previous login account's cache is still available in second login account. I think we need a function to just simply invalidate the entire cache as well.

[2019-10-10 09:08] serendipity1004 commented on #354
https://github.com/zino-app/graphql-flutter/blob/519381cd1c57515fd26cedb33c68a68d563a6eac/packages/graphql/lib/src/cache/in_memory_io.dart#L68-L72

is there a way to have this available without running `Query` or `Mutation` ?

[2019-10-10 10:42] ronyitc commented on #420
@shafqatevo, @HofmannZ  I found this https://allcontributors.org/. This helps recognising contributors.  It is using by many open source projects and looks solid. Here is the github repo https://github.com/all-contributors/all-contributors

[2019-10-10 11:08] mainawycliffe commented on #354
@serendipity1004 We should probably expose the reset method, maybe at the client level, so you can invalidate the cache easily.

And on a side note maybe we should switch to using an interface instead of an abstract class. This way, we all methods we need must be overridden by the implementing class and can't be ignored. This is because some cache have not implemented the reset() method override a

[2019-10-10 11:15] shafqatevo commented on #420
@ronyitc unless I am missing something - I was referring to how to fairly split money raised through crowdfunding of open source projects among its contributors. Not something like All Contributors.

[2019-10-10 11:21] mainawycliffe commented on #422
@jascodes could you please open a new issue for this, it's better not to hijack another issue whose purpose is different.

[2019-10-10 14:42] cantaspinar commented on #411
@kulture-rob Hmm, I assume you are talking about Firebase tokens which expire after an hour. I have to find a way to deal with that too but haven't tried anything yet. I guess there is no way to mutate the links after they have been passed to GraphQLProvider. Maybe you can catch errors when making requests to GraphQL api and if the token is expired, reload the token and rebuild. Provider package m

[2019-10-10 15:00] kevinrodriguez-io commented on #411
This is how my client looks at this point:

![codea](https://user-images.githubusercontent.com/6248571/66580904-5f3e6300-eb3c-11e9-8f48-e245c834d2da.png)

[2019-10-10 15:24] smkhalsa commented on #423
@micimize there's also https://github.com/hivedb/hive

[2019-10-10 16:33] smkhalsa commented on #402
I'm wondering how moor will perform relative to other persistent datastore options. It seems that it's built on sqlite. What about using [hive](https://github.com/hivedb/hive)? It also [supports query streams](https://docs.hivedb.dev/boxes/watch_changes) and seems [highly performant](https://github.com/hivedb/hive#benchmark). It also supports web out of the box (using IndexedDB, so it should avoid

[2019-10-10 16:44] mainawycliffe commented on #402
It seems we have a number of choices when it comes to cache, which IMO is a good thing.

[2019-10-10 22:03] EdoardoLopez commented on #411
for me initPayload don't work, don't send my custom header. any alternative to send headers on SocketClientConfig?

[2019-10-11 00:13] EdoardoLopez commented on #428
Hi, initPayload don't work for me, this is my code. i'm make anything wrong?

[code]

[2019-10-12 04:07] serendipity1004 opened #437 "Add a new document to cache and get it reflected on a List type UI"
Say I have mutation `CreateNewPost` and an UI listening to `PaginatePosts`, currently there seems to be no way to have the new post created in `CreateNewPost` to be reflected with cache update on `PaginatePosts`.

I have cacheKeyBuilder like below

[code]

So on `PaginatePosts` will listen to list of posts something like `Post/1` `Post/2`...

If I had `Post/3` in another screen and update cache wi

[2019-10-12 10:15] mainawycliffe commented on #428
Why is it not working? Any specific errors? And can you try without params, just headers and see if it works.

[2019-10-12 12:54] OjasKarmarkar opened #438 "Regarding Correct Implementation of GraphQl authlink.."
**Describe the bug**
I am trying to implement the authlink with authtoken using graphql in my app.. But the query doesnt work as expected.. says invalid authentication

Here is the Code for graphql client that i have used in my app..

[code]

[2019-10-13 00:16] lassesteffen opened #439 "Integration tests with flutter_test"
**Is your feature request related to a problem? Please describe.**
I am not sure if there is currently a way to mock graphQL related queries and mutations currently. If yes please point me to the right direction if no, can we get it?

[2019-10-13 15:36] smkhalsa opened #440 "Add ErrorLink"
Something comparable to Apollo's ErrorLink

[2019-10-13 15:38] smkhalsa commented on #278
@mainawycliffe any update on this?

[2019-10-13 22:06] mainawycliffe commented on #278
@smkhalsa I have moved the update and other callbacks up to the `MutationOptions` am just trying to figure the best way to call the callbacks when calling the mutate method directly from the client. That's the only section and updating documentation and adding some tests if any are required.

[2019-10-14 00:39] mainawycliffe commented on #438
Have you checked whether the Auth link is being concatenated successfully? A simple breakpoint would do that.

[2019-10-14 06:19] OjasKarmarkar commented on #438
I'll try and check! Thanks!

On Mon, 14 Oct, 2019, 6:10 AM Maina Wycliffe, <notifications@github.com>
wrote:

[2019-10-14 10:08] mainawycliffe commented on #278
@smkhalsa can you test the PR (#435) and see if it works as expected

[2019-10-14 16:55] EdoardoLopez commented on #428
this errors appears on flutter log

`I/flutter ( 3045): Connecting to websocket: ws://192.168.50.141:4000/api/socket...
I/flutter ( 3045): There was an error causing connection lost: WebSocketException: Connection to 'http://192.168.50.141:4000/api/socket#' was not upgraded to websocket`

i was try with only headers like you recommend but not work, my project run on elixir and this is the request

[2019-10-15 00:52] mainawycliffe commented on #402
There is also [sembast](https://pub.dev/packages/sembast), looks good too. I am thinking we should pick one package maybe two, that will work for everyone, cover almost all needs, and then we add some tutorials on implementing a custom cache.

[2019-10-15 00:53] mainawycliffe commented on #422
The good news is that InMemory cache is fully supported by flutter for web, I will PR some changes to make this seamless, we just need to make WebSockets compatible and we are headed somewhere.

[2019-10-16 05:49] serendipity1004 commented on #334
@micimize
How about receiving `QueryOptions` from below

https://github.com/zino-app/graphql-flutter/blob/519381cd1c57515fd26cedb33c68a68d563a6eac/packages/graphql/lib/src/graphql_client.dart#L17-L25

and expose it as a getter. Then when setting `WatchQueryOptions` below, get the default values provided from client and apply to `_options` getter if policy had not been provided in the widget?

http

[2019-10-16 14:16] smkhalsa commented on #278
@mainawycliffe I added a few initial comments to the PR.

[2019-10-16 16:07] micimize commented on #354
@serendipity1004 you can go ahead with `cache.clear` - I don't think we need `client.cache` is exposed already anyhow, so `client.cache.clear()` will be callable from the client.

[2019-10-16 16:35] mainawycliffe commented on #439
For now, I think Mockito is your best bet, Maybe we could build on it and make it easier to test GraphQL, but you could definitely use it to test GraphQL Client.

[2019-10-18 00:51] lassesteffen commented on #439
Okey thank you! Would be cool if building on top of it would be done at some point!

[2019-10-18 00:51] #439 closed

[2019-10-19 20:21] mainawycliffe commented on #278
@smkhalsa Sorry, I had a week packed with conferences I will look into those changes when I am back on Monday.

[2019-10-20 13:28] bsr203 commented on #440
Similar request https://github.com/zino-app/graphql-flutter/issues/419

I too really like to have this feature to catch Network error and to handle appropriately outside components. I see an approach in this repo https://github.com/ygmpkk/flutter_graphql_backenderrorlink
but, as far as I see, ClientExceptions from http package is not able to capture by this package and may need to implement at cor

[2019-10-22 11:29] prajwalmr62 opened #442 "How to pass custom object list as input to a mutation?"
I'm trying to call a mutation which takes an array of custom class, say A. How do we do that in graphql-flutter? I tried the following but it just ignores it.

[code]

And this,

[code]

to no avail. will `runMutation` accepts object as an input variable? If so, then how to do it?

[2019-10-23 08:48] #442 closed

[2019-10-24 06:04] jascodes commented on #402
I agree with @mainawycliffe [sembast](https://pub.dev/packages/sembast) is more versatile option.

Thx

[2019-10-24 15:36] micimize commented on #402
we should implement multiple caches as different packages like `graphql_cache_sembast`, `graphql_cache_hive`. I especially wouldn't consider adding a moor cache to core.

[2019-10-24 15:42] mainawycliffe commented on #402
Yea, I agree, multiple packages makes sense and also opens the opportunity for third-party community supported caches, not just those at the core.

[2019-10-25 20:10] phamotcreations opened #444 "schema for scalar objects"

[2019-10-26 13:11] jayjun commented on #440
@smkhalsa @bsr203 I sent a pull request (#445) to add `ErrorLink`.

[2019-10-26 17:02] bsr203 commented on #440
@jayjun thank you so much for your work on it. This was much needed feature for me. I didn't test it, but there has been lot changes around splitting network error etc. In the stable branch  I couldn't handle http error (status code 401 etc) through a custom link. It may all solved now with the changes in beta branch. But please confirm your changes make it possible to catch errors at network leve

[2019-10-28 06:18] serendipity1004 opened #448 "Add method to print contents of cache"
currently when we print default message which is instance of w/e.

I think it would be great to use the code provided by @micimize below and override toString method so that we don't have to import toJson function every time we would like to visualize cache. I can work on this if you approve.

[code]

[2019-10-28 16:24] heyask opened #450 "Does "rethrow" really need in in_memory_io.dart?"
**Describe the bug**

[code]

**To Reproduce**
1. launch iOS simulator
2. flutter run or VSCode debug start
3. when app is running, click home button for app being background.
4. re-open app
5. app is freezing because vscode debug catched exception.

error log in console.
[code]

https://github.com/zino-app/graphql-flutter/blob/519381cd1c57515fd26cedb33c68a68d563a6eac/packages/graphql/lib/src/cach

[2019-10-29 08:26] serendipity1004 commented on #346
@mainawycliffe any directions for this? like @Wisdom0063 said, lifecycle is always pending so refetch is always unsafe. If you are too busy, just point me to right direction and I'll try to find the root cause.

[2019-10-29 09:19] mainawycliffe commented on #346
@serendipity1004 this completely slipped under my radar, I am sorry about that. I will look into it in the course of the week and share my thoughts on the way forward.

[2019-10-29 14:07] guilhermedecampo commented on #346
amazing @mainawycliffe

[2019-10-31 03:58] serendipity1004 opened #455 "Korean Translation"
Startups in Korea are starting to pick up flutter and I think it would be great if this package could be translated into Korean and let it more known in Korea.

If you approve, I could work on translation and I am also intending to write a little Medium article on the usage. What do you guys think?

[2019-10-31 08:35] mainawycliffe commented on #455
I think that would be amazing.

[2019-10-31 19:48] mainawycliffe commented on #402
Starting next week, I am going to build a [sembast](https://pub.dev/packages/sembast) cache package and add to the list of packages in the packages directory - graphql_cache_sembast will be the name. I am going to be creating an issue for that.

[2019-10-31 20:01] mainawycliffe opened #456 "Add a cache package using Hive - graphql_cache_hive"
I would like to add a cache package using [hive](https://pub.dev/packages/hive), a key-value database compatible with flutter for web and written in pure dart. For now, it will be a package that will be installed independently.

[2019-11-01 13:10] shafqatevo opened #457 "Apollo Client 3 beta released - how aligned is GraphQL Flutter architecturally, to incorporate the improvements of AC3 in future?"
Hi @HofmannZ and everyone,

Apollo Client 3 (AC3) is aiming improvements in a number of areas, particularly the cache, that are also ideally desired for GraphQL Flutter package. The cache improvement details are here:

https://blog.apollographql.com/previewing-the-apollo-client-3-cache-565fadd6a01e

AC3 goals are here:
https://github.com/apollographql/apollo-client/blob/0e2c4116e1199ef2411ffe42165

[2019-11-01 13:37] micimize commented on #444
Assuming this is a dupe of #26 - atm, the cache is intended to store raw json data, which needs to be serialized / deserialized on writes and reads. So you'll have to handle custom scalars

[2019-11-01 13:37] #444 closed

[2019-11-01 13:47] micimize commented on #437
you need to use an `update` callback to do something like
[code]

More complete usage can be seen in the example, :
https://github.com/zino-app/graphql-flutter/blob/519381cd1c57515fd26cedb33c68a68d563a6eac/packages/graphql_flutter/example/lib/graphql_widget/main.dart#L211-L220

[2019-11-01 13:47] #437 closed

[2019-11-01 13:48] micimize commented on #437
Feel free to add more comments here or drop into [the discord](https://discord.gg/tXTtBfC) if you're still having issues

[2019-11-01 14:13] micimize commented on #448
So, I don't think we should print the entire contents on `print(cache)`, but we could add that as a `toString()` for `LazyCacheMap`. I remember I ran into some issues when writing [the above](https://github.com/zino-app/graphql-flutter/issues/383#issuecomment-526439093), but I can't remember what they were.

Also, `debugPrint` is a flutter utility so we can't include it in core. but, I think we co

[2019-11-01 23:50] gepd commented on #407
Hey @mainawycliffe have you been able to check this? If so, what are your thought about it? It seems like it isn't an easy fix without breaking the current functioning

[2019-11-02 05:11] serendipity1004 commented on #457
also, would it be possible to use something like react hooks as Apollo does? I am unsure if it is possible (maybe something like Provider does?) but if it can be done, widget nesting can be greatly reduced.

[2019-11-02 05:12] serendipity1004 commented on #455
I can work on this. Any directions on how you want to organize files, etc. Considering possibility of more languages being added in the future?

[2019-11-02 07:07] mainawycliffe commented on #455
I am not sure, if you have any ideas, share them here and I will after some research we can compare notes. After that, you can get to work.

[2019-11-02 07:17] mainawycliffe commented on #457
Great suggestion. There are other issues related to Cache implementation open and we need to find a way forward.

issue #402 and #456

Personally I haven't looked at the improvements but I will and share my thoughts as soon as I can.

[2019-11-02 18:02] micimize opened #458 "Implement apollo 3's typePolicies"
Broken out from #457

Apollo 3 introduces a [`typePolicies`](https://blog.apollographql.com/previewing-the-apollo-client-3-cache-565fadd6a01e#d7d4) configuration option that seems to make things more elegant

[2019-11-02 18:19] micimize opened #459 "Assess changes to Apollo 3 cache and the new "EntityCache""
Apollo 3's [roadmap](https://github.com/apollographql/apollo-client/blob/0e2c4116e1199ef2411ffe4216571ed207826ad8/ROADMAP.md) included "Redesign the core caching layer" and mentions a "new EntityCache"

Will have to see if there are any deep-cutting design changes worth taking

[2019-11-02 18:29] micimize commented on #457
`graphql` / `graphql_flutter`'s design is based on apollo, and these changes don't look like API design changes, but we'd probably have to do a deeper assessment to see what "Redesign the core caching layer" means (#459)

* #354 relates to `cache.gc()` and `cache.evict()`
* I just created #458 for `typePolicies`
* "Entities without an ID are instead stored within their parent object in the cache"

[2019-11-02 18:29] #457 closed

[2019-11-03 14:44] Hellomik2002 opened #460 "Session and Shared preferences (use session data next time)"
I want to use session credentials when the app restarts. However, I cannot take out cookies and save them with the current implementation. Maybe you can create SessionLink or something like that. It would make using this package easier for beginners like me.

[2019-11-03 17:12] Hellomik2002 commented on #460
and it would be cool to save session data with package "Shared Preferences"

[2019-11-03 20:36] cutzmf commented on #460
You can do any perverted auth with little help of

```HttpLink(uri: _baseUri, httpClient: CookiesCatcherClient());```

[code]

[2019-11-04 05:52] serendipity1004 commented on #455
@mainawycliffe https://github.com/tiimgreen/github-cheat-sheet this is one of the ways to do it. Simple and easy to implement I think. Just create same files with language extension e.g. README.ko.md and reference it in the top section.

[2019-11-04 06:47] mainawycliffe commented on #455
@serendipity1004 I agree, we should do something like that.

[2019-11-04 15:37] mainawycliffe commented on #407
I am sorry, this is another that slipped my radar. I am thinking we could probably have a queue for all Subscription operations and upon reconnection, retry them again. When the connection fails, does it send an error and close the subscription? I currently don't have any way of testing this, so I will have to create a demo to see this behavior my self.

[2019-11-04 19:38] smkhalsa commented on #26
Now that #429 has been merged, is there a plan to integrate https://github.com/comigor/artemis?

[2019-11-05 16:31] micimize commented on #26
@smkhalsa in a sense - at the least, I'm probably going to start implementing a 3rd party code that does so, and if it gets to a mature state I'll PR it as another package.

[2019-11-05 17:05] mainawycliffe opened #461 "Fix CI/CD Pipeline"
We need to fix the CI/CD pipeline so that the linting test can pass.

[2019-11-05 17:16] comigor commented on #26
Hey guys, how are you doing?

With the introduction of `Queries` (see [this example](https://github.com/comigor/artemis/blob/master/example/pokemon/lib/graphql/simple_query.dart#L39-L83)), the code generated from Artemis could already be used in conjunction with graphql-flutter: one could link this with a custom `QueryOptions`, for example, and that's it.

Are guys thinking in another kind of inte

[2019-11-05 20:50] mainawycliffe commented on #278
This issue was resolved by #435

[2019-11-05 20:50] #278 closed

[2019-11-05 20:53] mainawycliffe commented on #365
Closed by #435

[2019-11-05 20:53] #365 closed

[2019-11-05 21:02] mainawycliffe commented on #440
Now that #445 has been merged, we can close this issue.

[2019-11-05 21:02] #440 closed

[2019-11-05 21:04] mainawycliffe commented on #419
Now that #445 has been merged, we can close this issue.

[2019-11-05 21:04] #419 closed

[2019-11-05 21:08] mainawycliffe commented on #421
@Goolpe does the issue still exist on the current beta?

[2019-11-05 21:20] mainawycliffe commented on #461
@micimize from what I can tell, it seems we have also not had a release since the end of August, can you confirm this?

[2019-11-05 21:52] mainawycliffe commented on #461
It seems the linting test is failing because of flutter analyze detecting use of deprecated `document` field of `QueryOptions`. This has been replaced by `DocumentNode` by the new AST Implementation. For this test to pass, we need to replace all instances of `document` (49 of them) with `DocumentNode`. In some cases like examples and tests, it's straight forward but since the functionality is depr

[2019-11-06 01:04] mainawycliffe commented on #461
I have discovered the reason for this is due to failing tests. I hope PR #462 fixes the issue.

[2019-11-06 06:12] Goolpe commented on #421
I'm trying to reproduce error now, i think that issue is gone, thank you

[2019-11-06 13:46] smkhalsa commented on #456
@mainawycliffe have you made any progress on this?

[2019-11-06 15:45] mainawycliffe commented on #456
@smkhalsa I am just getting started

[2019-11-06 16:50] #421 closed

[2019-11-06 23:17] mainawycliffe commented on #346
@serendipity1004 I can't still reproduce this error with the examples we have, though I am using the latest version which is yet to release. `refetch` is working as expected as far as I can tell If I can't reproduce the issue I can't debug it. Maybe it was fixed inadvertently by a previous PR, can someone please confirm if they are still getting the same error using the latest beta.

[2019-11-06 23:18] mainawycliffe commented on #346
A repo reproducing the issue would be very useful, this way I can jump right in to debug the issue.

[2019-11-06 23:51] onemanstartup commented on #346
For me, it's working with the latest beta.

[2019-11-07 15:30] #346 closed

[2019-11-07 19:50] oexza commented on #26
Can you make an example of this? I'm curious to see how this would work.

[2019-11-08 21:48] rcunning commented on #423
@Sewd Specifically how do you await cache restoration? cache.restore() appears to be synchronous, but does not restore the cache before returning.

[2019-11-09 14:41] micimize opened #467 "document xor documentNode assertion failing"
Follow up issue for #466
https://github.com/zino-app/graphql-flutter/blob/3cf73339520cc0665de7959ea0debbe6bf8ca64c/packages/graphql/lib/src/core/raw_operation_data.dart#L25-L30

[2019-11-11 14:12] EugenePisotsky commented on #407
I tweaked it for my project a few months ago until waiting for this to be fixed. Not perfect solution, but may be helpful
https://github.com/EugenePisotsky/graphql-flutter/commit/57f64c37fdc895d822d0c713b3c7d21630613498

Idea is to create map of subscriptions, and callbacks that call `response.onListen` each time after websocket connection is restored

[2019-11-11 14:23] mainawycliffe commented on #407
@EugenePisotsky If it's already working for you, can you PR the change and we will review and merge it. Here are our [contributing guidelines](https://github.com/zino-app/graphql-flutter/blob/master/CONTRIBUTING.md).

[2019-11-11 14:27] EugenePisotsky commented on #407
@mainawycliffe Ok, I'll try to find time within the next few days

[2019-11-11 14:32] mainawycliffe commented on #460
@Hellomik2002 was your problem solved by @cutzmf solution?

[2019-11-12 04:02] Hellomik2002 commented on #460
Yes, you need just add some features

[2019-11-12 04:02] #460 closed

[2019-11-12 09:27] mainawycliffe commented on #461
@HofmannZ Sync beta with master is still failing due to a dependency resolution issue while release to beta is failing with the following message:
![Annotation 2019-11-12 122720](https://user-images.githubusercontent.com/12270550/68659179-d6a25080-0547-11ea-9342-2d391de1bb44.png)

[2019-11-13 00:08] HofmannZ commented on #419
:tada: This issue has been resolved in version 2.1.1-beta.3 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v2.1.1-beta.3%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-13 00:12] #461 closed

[2019-11-13 10:15] divjakLab commented on #367
Probably you figure it out. However for any future questions. This error is thrown by Hasura when you don't have permissions. You must add in this case Insert permissions for the table you are inserting into. Also important since you are returning id, you must have permissions also for select. Since Hasura does first Insert and then select for your returning.

I am sure this can be closed now. @ma

[2019-11-14 04:25] serendipity1004 opened #470 "Migration guide?"
A lot of changes have been made in beta3 it seems. I have upgraded and `result.error` has changed to `result.exception`, `update`s are not found in mutations, `onCompleted` is also not found. A migration guide to try out beta3 would be helpful. Or will the guide be available only for stable releases?

[2019-11-14 11:45] smkhalsa opened #471 "AST-based normalization / denormalization"
With the addition of AST-based operations in #429, I'd like to propose that we implement AST-aware cache normalization / denormalization.

This will allow us to only read the requested fields from the cache, which will allow us to get rid of all the [dereferencing](https://github.com/zino-app/graphql-flutter/blob/master/packages/graphql/lib/src/cache/lazy_cache_map.dart) code.

It will also make i

[2019-11-15 05:11] puruzio opened #472 "Getter not found: 'suspending'."
**Describe the bug**
My app using graphql_flutter started to error out once flutter is upgraded

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade Flutter as of Nov 14, 2019
2. Run `flutter build web`
3. See error

**Expected behavior**
My app was working fine using graphql_flutter until it started to fail compiling after flutter upgrade on 11/14/2019.

**Desktop (please complete the fo

[2019-11-15 06:09] mainawycliffe commented on #472
Hi, your information is missing a few important things like flutter version and package version. That said, I am guessing this is because flutter introduced a breaking change by removing `AppLifecycleState.suspending`, this is going to be addressed by the following PR (#465).

[2019-11-15 06:28] mainawycliffe commented on #470
There are so many changes, I have lost count, I will write a migration guide over the weekend.

On top of that, we need to jump to version 3, to allow people not ready for the upgrade to stay safely in version 2 since flutter follows semantic versioning. So, I think this we should be having a version 3.0.0.beta.1 instead. @micimize any ideas of how to bump the major version up?