[2018-06-18 07:54] gedw99 opened #1 "Mutations"
This is a really needed package.

I played around with it and got to talking to a golang dB on mobile that exposes the dB over graphql over JSON RPC.
It was just a quick and dirty smoke test.

Do you have a roadmap or anything as I can see what else needs to be done to your client and help

[2018-06-18 09:50] HofmannZ commented on #1
We also believe the package is much needed. That's why we released it in such an early stage.

Internally we do have a small roadmap:
- [ ] Cache
- [ ] Optimistic UI updates
- [ ] Client state management
- [ ] Support for Apollo server query batching

It would be great to hear some of your thoughts cache. We are currently looking to create a dart implementation of [dataloader](https://github.com/f

[2018-06-19 09:17] NeoDigi opened #4 "Run query in a MV* pattern"
Right now, if I understand correctly the query is a widget so it's building the UI with the result of the query.

Is it possible to run a query outside of a widget and just fet the result ?

[2018-06-19 09:28] eusdima commented on #4
For now, you can import the client.dart and call the method execute().
`client.execute(
        query: '<YOUR_QUERY_STRING>',
        variables: variables,
      );` which returns `Future<Map<String, dynamic>>`
We will try to add a more elegant solution in the near future.

[2018-06-19 09:46] NeoDigi commented on #4
Thank you for the quick respond, it's working perfectly!

[2018-06-19 10:43] #4 closed

[2018-06-20 13:17] gedw99 commented on #1
I think its important that you distinguish between what Client and Server.
In your roadmap list that makes it a bit confusing because i dont knwo if you talking cleint or server.

I can give my on Point of view:
I have a graphql server on all mobiles because i just compile the golang one as a flutter plugin and expose it over JSON RPC to Flutter main.
The golang code can then have a DB and do sync

[2018-06-20 14:09] HofmannZ commented on #1
@gedw99 Interesting, it's the first time I hear about a full GraphQL server running on a mobile client.

It might actually work at a small scale, where you can actually store most data on the device and only need GraphQL to sync data between clients (like you explained.) With larger projects an the other hand, where storing all the data on the device is not an option (think about Facebook or GitHu

[2018-06-20 19:01] chimon2000 commented on #1
I am a huge fan of [react-apollo](https://github.com/apollographql/react-apollo) and .I would love to see this client that rival [apollo-link](https://github.com/apollographql/apollo-link) such that adding caching, local state management, and other middleware is a breeze.

[2018-06-20 19:11] HofmannZ commented on #1
@chimon2000 Yeah good suggestion! We might split the library into multiple smaler packages, but first we need to finish some basic features.

[2018-06-21 02:42] chimon2000 commented on #1
I would love to contribute to this in any way I can.

[2018-06-21 16:12] HofmannZ commented on #1
@chimon2000 We're working on the cache right now, see PR #7.  It would be really helpful if you can do a review.

[2018-06-21 16:24] gedw99 commented on #1
@HofmannZ
what your building is almost exactly what i did. I guess i did not explain myself too well.

I guess the ONYL difference is that the code is the same on the client as it is on the server. The client just has less data.  I think that might answer some of the aspects you brought up.

anyway, i will give your code a go and come along for the ride :)

[2018-06-22 11:47] HofmannZ commented on #1
@gedw99  Oh that's interesting, we're thinking about running a lightweight GraphQL interpeter on the client. So we can actually decode the queries using the schema. After it's decoded we can save it the the cache. That is what you mean right? (Also this would also make local state management using queries possible.)

If you're up for it you can start a draft, we're interested in working on it ✌🏼

[2018-06-22 18:53] gedw99 opened #10 "Query polling"
Is this instead of subscriptions ?
Like a pull instead of push ?

[2018-06-22 22:32] HofmannZ commented on #10
Query poling will live alongside subscriptions. The [Apollo docs](https://www.apollographql.com/docs/react/advanced/subscriptions.html#when-to-use) explained it really nicely.

[2018-06-23 08:58] gedw99 commented on #1
@HofmannZ

Responding to your last statement ...

Mhh interesting. I get it i think - Your basically doing reflection.. So, then you not going to need to construct structs at Design time ? Flutter is cool with data bind to runtime generated structs ?

I built mine in golang for a client. I Can help buid something similar here as i also want flutter integration. All backend stuff is golang though n

[2018-06-23 09:09] gedw99 commented on #10
@HofmannZ thanks for link. Makes sense. They designed for KISS.

It will never scale. Polling in once a second over JSON will kill scaling once you have 10000 concurrent users. 10000 users hitting system every second.

Another way to do it without killing scaling.
If you have a local Cache DB it can cache the data.
If that local Cache also has a DB that uses GRPC underneath to the server for push

[2018-06-23 09:14] gedw99 commented on #10
Here is how you do push based subscriptions. Just saying.. This will scale to millions of concurrent users easily. Its designed to be clustered. I use NATS alot.

https://github.com/cdmbase/graphql-nats-subscriptions

I have not run it yet but its easy to try.

[2018-06-23 11:18] gedw99 commented on #10
Actually this is even better

https://outcrawl.com/go-graphql-realtime-chat/

[2018-06-24 17:52] jinxac opened #11 "Optimistic results PR"
@HofmannZ is anyone working on the optimistic results PR or can I take it up?

Also, would like to know the requirements/guidelines before getting starting on it  :)

[2018-06-24 18:23] HofmannZ commented on #11
@jinxac have not found any time for that yet, so you can take it up for sure. I will try to get some commits in myself as well, but you can lead the charge here.

As far as guidelines are concerned, we don't have any yet. I will go ahead and draft some this coming week.

Here are some general pointers:
* Comments in the code are encouraged for technical complex pieces of code.
* We prefer longer b

[2018-06-24 19:37] camuthig opened #14 "Ignore IntelliJ config files and lock files"
Are there any thoughts on ignoring the .idea directory (and some of the config files, like `.flutter-plugins` and `graphql.iml`) as well as both the main pubspec.lock and the example's pubspec.lock? The [Dart guides](https://www.dartlang.org/guides/libraries/private-files#pubspeclock) suggest not including the pubspec.lock on libraries, and the .idea and IntelliJ config files create large diffs wh

[2018-06-24 19:49] HofmannZ commented on #14
@camuthig yeah should be ignored, will add it to the `.gitignore`

[2018-06-24 20:10] #14 closed

[2018-06-25 05:56] ened opened #16 "Pass Client object as parameter, or let client object define query methods"
Currently, I have code like this:

*lib/main.dart:*
[code]

And somewhere in the app, I will then simply run my query like so:
[code]

This is very simple, client & query are loosely coupled.
The `client` variable is actually a global.

I think it would be preferable to not have a global client object, and instead have it available as a (named) parameter to the Query or other objects.

Client coul

[2018-06-25 15:52] Sndan opened #18 "NoSuchMethodError: The getter 'loader' was called on null."
**Describe the bug**
not sure what it is ... just trying to run the library

**To Reproduce**
just ruining the app with basic implantation
this is my code

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/110978/41860975-adda09b8-78a8-11e8-9186-5bfbebcd19e9.png)

**Desktop (please complete the following information):**
 - OS: windows
 -
 - Version 0.4.1 , 0.5

[2018-06-25 16:00] eusdima commented on #18
We have the template for bug reporting for a reason. If you don't provide detailed information on what is going on,what versions are you running,
etc, then I will close the issue for not being able to reproduce it.

[2018-06-25 16:21] #18 closed

[2018-06-25 18:46] HofmannZ commented on #16
@ened Thanks for the suggestion. @eusdima I think we discussed this internally.

Both solutions don't seem ideal. Providing the client with each query or mutation is too cumbersome. And a global client variable is not useful if you might want connect to multiple endpoints.

Instead I propose to create a `GraphqlProvider` widget that takes a client as a param, and exposes it to all its children tro

[2018-06-25 19:00] eusdima commented on #16
Creating a provider and passing client as context seems good, but you will not be able to use the client outside of the provider so maybe support both: GraphqlProvider and the old way.

We have to do performance measurement to make sure that the memory and cpu usage are not higher after switching to the `GraphqlProvider`.

So should we keep both or just  `GraphqlProvider`?

[2018-06-25 19:09] HofmannZ commented on #16
Well you can always declare the client somewhere in `main.dart` then pass that client to the `GraphqlProvider`.  Now you can still use the client variable directly as needed.

We can also use [ApolloConsumer](https://www.apollographql.com/docs/react/api/react-apollo.html#apollo-consumer) to acces the compete client within the context tree.

[2018-06-25 22:29] HofmannZ commented on #1
@gedw99 We essentially want to create a fancy tree based cache(log n read/write), but for that we need to know the types in the query response. That in turn requires us to parse the respons using the GraphQL schema.

Right now the cache is really primitive so it would be a good addition to this project.

[2018-06-26 04:55] fabricio-godoi opened #21 "Json parse response error"
Greetings,

Performing a simple query to get a username from my local server, I got this message on the console:
`type 'List<dynamic>' is not a subtype of type 'String'`

Performing a debug in the code, I reach this exception:
[code]
But checking the debug information I got the response data back from the server and also got the errors tag in the Json with size 0.

The code checks only if the tag

[2018-06-26 15:59] eusdima commented on #21
Do you know if `jsonResponse['errors'].value` Always returns an array?

[2018-06-26 20:13] fabricio-godoi commented on #21
@eusdima In my simple examples it does. I could no perform any complex procedures yet.

[2018-06-27 11:49] HofmannZ commented on #16
Lets do that, I’ll start on a PR later today. We have to setup some test to track the performance impact on the queries. ✌🏼

[2018-06-27 12:50] gedw99 commented on #1
Thanks @hofmanZ for that.

So you do or don't need to codegen the dart types that match the response from queries ?
Please let me know as that's crucial.

Regarding caching the query response. I have seen a few different approaches to this area. Apollo are working it out still imho.

But one thing with query response caching and subscriptions is that they are coupled and dataloaders with subscript

[2018-06-27 17:08] fabricio-godoi commented on #21
@eusdima
Using `if (jsonResponse['errors'] != null && jsonResponse['errors'].length > 0) {` seens to fix the problem.
Thanks!

[2018-06-27 18:46] juicycleff opened #23 "Subscription support"
Is there any short term plan for subscription support yet? If yes how soon else a good direction to start off in implementing the support would be awesome. I am not strong in dart yet, but I can take a plunge. Thank you guys. Graphql support for flutter was a big plus for me making my decision to use flutter

[2018-06-28 01:46] cal-pratt commented on #23
+1 on this. I am interested in creating a front-end client for my real-time application in Flutter, however, I need the ability to manage `GraphQL` subscriptions.

Have any timelines been discussed for implementing this feature? If there is a known path forward I would also be interesting in helping out.

[2018-06-28 19:59] HofmannZ commented on #16
👆🏼 Early feedback is much appreciated

[2018-06-28 20:34] #21 closed

[2018-06-29 07:20] lucasavila00 opened #26 "Types generation"
I can make a generator for the types, but it would be nice to pass the parameters to the runtime.
I think Dart doesn't allow it, but how could we go towards that full typed approach?
I haven't written a single line of Dart but I liked Flutter a lot, but I'd need to use it with GraphQL. I can help with the GraphQL part but I would need help with Dart.

[2018-06-30 18:03] jinxac commented on #11
I am working on this currently.  Would create a PR in few days.

[2018-07-01 18:39] theKAKAN opened #27 "Need of flutter?"
I was trying to make a CLI client that would require the use of GraphQL. But, I don't see the need of this library to use Flutter.
Would it be possible to remove Flutter as a dependency or something is required for this library to work, which uses Flutter?

I'll try removing Flutter as a dependency, but that would take some time( _depending on how much free time I get_ ). So, any other ideas to ge

[2018-07-04 02:59] abs-zero opened #28 "Consider not mutating client"
## Problem
I think the way client is being initialized by mutating global variable inside the library is bad and confusing, and will eventually bite someone. I recently, out of habit of making everything final, made the client final and wasted time figuring out what was wrong.

## Proposed Solution
Let users create their own client and add methods like query and mutation in it like Apollo Client d

[2018-07-05 21:47] HofmannZ commented on #28
There is already a PR open implementing it #24, based on this issue #16.

[2018-07-05 21:47] #28 closed

[2018-07-05 21:54] HofmannZ commented on #27
Our package provides Flutter widgets for easy interaction with the Client. We are already planning to split the package into multiple smaler ones to allow for more modular code. The core package should then be usable without Flutter.

[2018-07-05 21:56] HofmannZ commented on #23
It's not a very high priority item for our team, but feel free to open a PR. We will start implementing subscriptions once most of the core features are more mature.

[2018-07-06 19:33] juicycleff commented on #23
Cool

[2018-07-14 09:52] gedw99 opened #31 "Hooking up to graphql server"
I noticed your not supporting subscriptions.
So the query polling instead I presume.

I am hooking the dart front end up with a golang server and so just need to design for your approach.

Thanks in advance

[2018-07-16 13:38] HofmannZ commented on #31
@cal-pratt created a really nice PR #33, we will start working from his proof of concept. Feel free to pop in with suggestions!

[2018-07-16 13:44] HofmannZ commented on #26
@degroote22 Yes we are planning to create a fully typed library. Right now we mainly need it to handle caching more effectively, by actually passion response date into the appropriate GraphQL types. Feel free to try implementing a generator, we will jump in to help with Dart to make something great together.

[2018-07-16 13:45] #1 closed

[2018-07-16 13:46] #10 closed

[2018-07-16 13:47] #27 closed

[2018-07-16 20:12] degroote22 commented on #26
As soon as I have news I'll give a shout here.

[2018-07-17 12:25] #31 closed

[2018-07-19 19:15] HofmannZ commented on #16
@ened,
I just finished PR #24, it implements the `GraphqlProvider` & `GraphqlConsumer`. I though you might want to have a look and give some feedback, since you brought the issue to light.

[2018-07-20 01:52] #16 closed

[2018-07-20 01:52] HofmannZ commented on #11
@jinxac Any updates?

[2018-07-20 19:51] ened commented on #16
@HofmannZ awesome! I'm on holiday right now 🍷🍷 and will check once back to desk.

[2018-07-22 09:35] HugoReeves opened #37 "Making a dart implimentation of apollo client"
**Is your feature request related to a problem? Please describe.**
No. My feature request is a question/recommendation about the direction of this project.

**Describe the solution you'd like**
Dart has the ability to be converted to javascript, but has the advantage of types. Considering apollo-client is a javascript/typescript library, in theory it should be possible to implement a version of ap

[2018-07-23 05:42] pepie opened #40 "Add support for https connection w/ self-signed certificate"
Hello.
A 'CERTIFICATE_VERIFY_FAILED' exception is thrown, when connect to a server with a self-signed certificate.

Consider switching to [HttpClient](https://docs.flutter.io/flutter/dart-io/HttpClient-class.html)
and supporting '[BadCertificateCallback](https://docs.flutter.io/flutter/dart-io/BadCertificateCallback.html)'.

[2018-07-23 05:46] cal-pratt commented on #23
@juicycleff There's a basic `Subscription` `Widget` available to test out now! :)

[2018-07-23 07:42] cal-pratt opened #41 "Provide Non-caching client / flag for non-cached call."
**Is your feature request related to a problem? Please describe.**
Not all applications require a cache. In my case I want to always query the latest values for particular operations.

**Describe the solution you'd like**
A clear interface for implementing a `NullCache` along side the `InMemoryCache`

**Describe alternatives you've considered**
A flag during the query operation to determine if the

[2018-07-24 09:47] HofmannZ commented on #37
This is exactly what we're trying to do, I've just updated the readme to reflect our mission.

[2018-07-24 09:47] #37 closed

[2018-07-25 08:48] jinxac commented on #11
@HofmannZ sorry I have moved to another project so was not able to focus on this. I can take a look at this week for sure. Will that work?

[2018-07-26 20:06] HofmannZ commented on #40
Thanks for using our library. We do not plan to support self signed certificates in our package, because It’s encryption is less secure, due to the lack a certificate authority.

We are currently implementing a modular approach for transport layers. Giving you the option to implement your own transport links.

If you plan to use self-signed certificates, I suggest you wait until we finish up that

[2018-07-27 04:40] raxosiris opened #42 "Enable support for file uploads in mutation"
I am a beginner to flutter and dart, and coming from the React Native ecosystem. Firstly, I really appreciate the work you guys are doing!!

I am looking for a way to upload files through graphQL mutations for a personal college project. It would make things very straightforward in terms on handling uploads.

A great starting point could be jaydenseric's implementation of apollo-upload-client http

[2018-07-27 16:56] pepie commented on #40
Thanks for the feedback.

Re: "Thanks for using our library. We do not plan to support self signed certificates in our package, because It’s encryption is less secure, due to the lack a certificate authority."

Using a self-signed certificate is common in development environments, so having that flexibility would make it easier to implement/test while with https. Many developers don't use 3rd-Part

[2018-07-27 18:52] gedw99 commented on #40
i agree

this tool does it easily for you
github.com/FiloSottile/mkcert

On Fri, 27 Jul 2018 at 18:56 pepie <notifications@github.com> wrote:

[2018-08-03 08:48] kunaldodiya opened #45 "Multiple Queries in single Widget ???"
First of all congrats for superb work, I am originally a react native + graphql + apollo developer and developing apps on that. when I found this package I moved to Flutter as it gives high performance in fast development, but, in apollo

I was able to get multiple results from different queries like -
[code]
// here I am getting authUser detail, his channels subscriptions, his posts etc

How can

[2018-08-03 11:48] HofmannZ commented on #40
@pepie Thanks for pointing that out.

We probably won't be working on this feature ourselves, because our team uses a wildcard certs on the staging domains. Since this might be useful for a few developers, we would be happy to merge a good PR. If you need some help we're happy to give some pointers.

[2018-08-03 11:52] HofmannZ commented on #42
At the moment the library does not support file uploads. We're still woking on implementing some core features, therefore this feature probably won't be worked on in the near future.

[2018-08-03 12:31] HofmannZ commented on #45
You can request multiple queries quite similar to the new React Apollo syntax.

If your JavaScript code would look something like this:
[code]

Your Dart code would be something like this:

[code]

Hope that helps.

[2018-08-03 12:35] #40 closed

[2018-08-03 12:49] kunaldodiya commented on #45
Cool, let me try this way! further, it would be nice if instead of writing query and then subquery and then another subquery, if we can get all required thing on the top and then give that data to all widgets, Thanks for help :)

[2018-08-03 12:54] HofmannZ commented on #45
@kunaldodiya Well ideally we implement fragments 😉

[2018-08-03 12:54] #45 closed

[2018-08-04 04:47] kunaldodiya opened #47 "How to pass Authorization headers ???"
After logged in user, I want to store it in flutter local storage and also want to pass to the server as Authorization header, how can I achieve this so the server can validate user data ???

I am using Prisma server as a GraphQL backend, that requires authenticated user jwt passed in Authorization headers :)

[2018-08-04 08:08] HofmannZ commented on #47
Just call the setter `apiToken` on your client. You can always get the client from the context using the `GraphqlProvider`.

[code]

Hope that helps!

[2018-08-04 08:47] kunaldodiya commented on #47
This will surely help. but is it statically named as "apiToken" can I change to Authorization instead.. cause Prisma server will look a key named Authorization and then decode user data inside, will apiToken do the same ???

[2018-08-04 08:49] HofmannZ commented on #47
Yes this wil actually set the authentication header. So that should work all fine!

We are currently working on splitting the transport logic into it's own package, allowing you to have even more control over the http headers. For more details checkout PR #36

[2018-08-04 09:29] kunaldodiya commented on #47
Thanks, closing since the issue is resolved :)

[2018-08-04 09:29] #47 closed

[2018-08-04 10:24] KammererTob opened #48 "Don't send Authorization header if token is null"
**Describe the bug**
Currently it seems like that the library is sending the Authorization header regardless if the apiToken is set by the user or not. This leads to a header which looks like this: `Authorization: Bearer null`. It might be cleaner to omit the header alltogether if the apiToken is null/undefined.

**To Reproduce**
Steps to reproduce the behavior:
1. Define the client without "apiTo

[2018-08-04 12:42] kunaldodiya opened #49 "Run Query manually just like Mutation"
As we can trigger Mutation on CLICK event, how can do such thing for Quering ???

Like I am building a search functionality, which takes keywords and then search that data in database, but currently only Mutation can be triggered on events like keypress, keyenter etc..

everytime user type in search input I want to make a Query, in apollo we can pass WithApollo and then use this.props.client.query

[2018-08-04 13:17] kunaldodiya commented on #49
Okay functionality is already there.. but no docs is available, please make some deep docs for using library, it would help a lot :)

[code]

This solved my problem :)

[2018-08-04 13:17] #49 closed

[2018-08-05 04:07] kunaldodiya opened #50 "Something that i am writing, would like to contribute ???"
Hey there,

I am going to write something awesome but need some contribution, so I thought to share it with you :)
What I am planning to build is a Dashboard for graphql-flutter client :)

The idea is to give user flexibility from writing code & using dashboard to create QUERY, MUTATION and SUBSCRIPTION without even touching a single file or writing a code.

Workflow is to generate a builder which

[2018-08-05 04:13] kunaldodiya commented on #50
Part 2) Builder

now user has created his first Schema to grab data from graphql server. let's add a query to actually fetching that data.

User can now to go Builder section,

there will be 3 buttons called "create query", "create mutation", "create subscription"

when clicking on "create query", a form will be opened which will have schema dropdown, where user can select predefined schame, in ou

[2018-08-05 04:32] kunaldodiya commented on #50
finally trigger query or mutation like,
[code]

[2018-08-05 17:34] fusion44 opened #51 "Data from partially successful queries is not returned"
**Describe the bug**
If a named query contains an error, data from successfully executed subqueries is simply discarded.

I have a similar query to this:
[code]
which returns this result:
[code]
**Expected behavior**
I'd expect to receive the errors and the data without an exception. I'd only expect an exception if the http status code is not 200.

**Additional context**
Problem is a bit of code i

[2018-08-05 19:35] gedw99 commented on #50
This sounds really useful.

Are there existing schemas you can use though. Like igraphql dashboard etc ?

On Sun, 5 Aug 2018, 06:32 kunal dodiya, <notifications@github.com> wrote:

[2018-08-05 21:07] raxosiris opened #52 "Passing on variables unsuccessful"
Trying to pass on a variable results in a bad request.

I am making the following query, which is successful:

`String singleFile = """
  query {file(id: "cji4rpaw702zu07920hjzseq4"){
    url
  }}
""";`

but querying for id in a variable format does not work. Perhaps it is an issue with my code, but I have tried several measures and feel hopeless now.

Here is my code for constructing the query:
`

[2018-08-05 21:20] vmwsree opened #53 "Authentication Header should be more flexible"
**Is your feature request related to a problem? Please describe.**
Different backends require API token to passed with different pre parameters currently
[code]
the authorization header is fixed no alternative is possible, for example, I want the header to look like
[code]

**Describe alternatives you've considered**
The client API token could be
 ``` 'Authorization': '$apiToken', ```
so that we c

[2018-08-06 14:39] kunaldodiya commented on #50
Not yet.. I am currently implemented though, I will be updating asap with the package link

[2018-08-06 14:39] #50 closed

[2018-08-06 20:11] HofmannZ commented on #51
Thanks for the well structured issue. You're actually right, the errors should be returned along side the data.

I'm currently woking on rewriting some core transport logic. Essentially splitting everything in small links just like Apollo Client does. This allow you to handle errors more gracefully and solving this issue altogether.

For now, feel free to push a patch.

[2018-08-06 20:13] HofmannZ commented on #52
Hmm can't tell if this is an issue with our library or your setup.
Happy to help, so could provide some more details please?

[2018-08-08 06:39] LawJolla commented on #48
Thank you for your incredible work!  I'm new to Flutter/Dart, but I've been working with Apollo from the start, so I cannot comprehend the work that's gone into this project.

To go a step further, many APIs will 401 any `Authorization: Bearer ...` because the client claims it has a Bearer token, regardless of the query.

[2018-08-08 19:46] LawJolla commented on #48
@HofmannZ you are killing it!  Incredible.

[2018-08-08 20:04] raxosiris commented on #52
Certainly. So, what I am trying to do essentially is to query for a file by its id. I have spun up a sample backend using graphql boilerplate (graphQL yoga, Nodejs, Express, Prisma).

In the schema, we have a files query that fetches the list of all files (what I am interested in is their url). Second is a single file query, that takes id as parameter and fetches an individual file.

I am moving f

[2018-08-10 11:08] gedw99 opened #55 "Test Server"
It would be nice if a basic test server in whatever language could be added to the repo.

It would help me with seeing what the Dart code expects to get from the server and also see patterns of usage.

[2018-08-10 12:11] thosakwe commented on #55
You can implement a GraphQL server in Dart with: https://github.com/angel-dart/graphql/tree/master/graphql_parser

The documentation is lacking, to be honest, but there's a directory with an example app + GraphiQL.

[2018-08-11 07:08] kunaldodiya opened #56 "How to update cache after editing data ???"
I have a UpdateProfileScreen which is populated from graphql backend and when I update data.. inside graphql database it is updating.. but when I go back and come again to profile page, the value is older, I have to force close app and reopen.. then only i can see the changes :)

[2018-08-11 07:40] fusion44 commented on #51
OK, I'll prepare a pull request. Though, this would be a breaking change. I could also rearrange the data to keep backward compatibility with the downside that it's less standard GQL. I think since you're working on a bigger breaking change, it's better to just rearrange the data until your changes are in.

[2018-08-11 12:45] KammererTob commented on #56
For `InMemoryCache` you can currently only reset the whole cache.

`client.cache.reset();`

[2018-08-11 14:43] kunaldodiya commented on #56
that did worked for now.. but an approach to making it more usable like updating cache would be rather nice feature to implement, it must be in roadmap :)

[2018-08-11 14:43] #56 closed

[2018-08-13 12:54] HofmannZ commented on #52
@raxosiris Your GraphQl syntax does not seem to be correct. You always need to declare the variables you use.

So this:
[code]

Should be:
[code]

Hope that helps 😉

[2018-08-15 14:32] chimon2000 opened #57 "Update cache after mutation"
**Is your feature request related to a problem? Please describe.**
In Apollo, the client allows you to easily update the cache after a mutation using an [update](https://www.apollographql.com/docs/react/advanced/caching.html#after-mutations) function.

**Describe the solution you'd like**
A new Mutation object should have accept an update function as a parameter.  That update function should inclu

[2018-08-18 09:01] alqinae opened #58 "What makes this package better than any other package?"
Hello,

What makes this package better than any other package?
In other words, why shall I consider using your package over any other package?

I am confused as I found 3 or more packages for GraphQL and Flutter, and I don't know which package to start with.

[2018-08-18 09:08] eusdima commented on #58
If you have found 3 more libraries and you don't provide the links to any of them then we can't provide a proper comparison.

[2018-08-18 09:15] alqinae commented on #58
The first one is yours. The second one is: https://pub.dartlang.org/packages/graphql_client, and the third one is: https://pub.dartlang.org/packages/graphql. I think that the third one is not ready yet.

[2018-08-18 09:36] alqinae commented on #58
I am totally new to Dart and Flutter, I found out that there is a rating system for packages and your package rating is 95%. The other packages are outdated and premature. Thank you for your time and sorry for wasting it.

Danke 🌹😉

[2018-08-18 19:38] HofmannZ commented on #58
@alqinae No worries 😉

[2018-08-18 19:38] #58 closed

[2018-08-18 19:40] HofmannZ commented on #57
@chimon2000 Yeah this is a high priority one for us internally. Will be programmed after the new link system.

[2018-08-19 18:10] juicycleff opened #59 "A static website for documentation"
I think this project deserves some static website for documentation and showcase some use case at the current state. I could volunteer to this at the moment.

[2018-08-20 10:04] #23 closed

[2018-08-20 10:07] #52 closed

[2018-08-20 17:39] adelcasse opened #60 "Handle errors even when no location is defined"
**Describe the bug**

When we receive errors from a GraphQL servers, the library builds a GQLError :

  GQLError.fromJSON(Map data)
      : message = data['message'],
        locations = new List.from(
            (data['locations']).map((d) => new Location.fromJSON(d))),
        path = data['path'];

As it is defined, this constructor will fail if the jsonResponse doesn't include a location.

But

[2018-08-20 17:55] HofmannZ commented on #59
Yes definitely something we need in the future. I’m re writing most of the internals, and made a load of breaking changes, so it might be best to start on the documentation once the api is more solid. What do you think?

[2018-08-20 17:56] HofmannZ commented on #60
Good catch, we want to align our package with the GraphQL spec. You PR is more then welcome!

[2018-08-20 19:43] dustin-graham opened #61 "Support custom error response extensions"
**Is your feature request related to a problem? Please describe.**
Our GraphQL API returns customized data in error extensions. This plugin catches errors and parses them into a`GQLException` which includes a `GQLError`. This is convenient but the `GQLError` does not include the extensions object. Apollo documentation here: https://www.apollographql.com/docs/apollo-server/v2/features/errors.html.

[2018-08-23 20:10] #61 closed

[2018-08-24 07:51] HofmannZ opened #66 "Testing the request info bot"

[2018-08-24 07:53] #66 closed

[2018-08-24 07:53] HofmannZ opened #67 "Testing the request info bot"

[2018-08-24 07:53] #67 closed

[2018-08-24 07:56] HofmannZ opened #68 "Testing the request info bot"

[2018-08-24 07:58] HofmannZ opened #69 "Testing the request info bot"

[2018-08-24 07:58] #68 closed

[2018-08-24 07:58] #69 closed

[2018-08-25 14:56] degroote22 commented on #26
I got a prototype working.
It's very rough but it works with the example from this project.

I'm using a [fork of the generator](https://github.com/degroote22/graphql-code-generator) for now (peding issue that I haven't created) and a [custom template](https://github.com/degroote22/dart-template).

[See how it would be added to the example folder of this repository.](https://github.com/zino-app/gr

[2018-08-28 10:34] jeprojects commented on #53
@HofmannZ Looking forward to PR #36  as I too need to have more control over the headers for AWS AppSync.

I am testing out your link-1 branch, is that working for the http-link?

If so, could you post some basic example code? I have tried to pass in the HttpLink object to the GraphqlClient, but get an error when trying to create the HttpLink object "type 'Link' is not a subtype of type 'HttpLink'

[2018-08-29 03:52] rdamario1169 opened #71 "Question on GraphQLConsumer"
I am new to flutter and want to use GraphQL and your package.
When I try to call GraphqlConsumer it seems that the builder never gets called.

Here is the example. Can someone help me with what I am doing wrong.

main.dart
`
    import 'package:flutter/material.dart';
    import 'package:graphql_flutter/graphql_flutter.dart';
    import './queries/query_storeship_orders.dart' as queries;

   void

[2018-08-29 06:28] adelcasse opened #72 "Separate generic GraphQL client code from flutter implementation"
**Is your feature request related to a problem? Please describe.**
When trying to use Graphql-flutter in a framework-agnostic way, it is today possible to target directly non-Flutter specific parts (Client, ...) of this library, which is probably the best in Dart as of today.

For example, following the BLoC pattern, we use graphql-flutter inside our business logic components that (even if used to

[2018-08-29 09:04] adelcasse commented on #72
I've just come across the README and just saw this statement "With that being said, the project lives currently still inside one package. We plan to spilt up the project into multiple smaler packages in the near future, to follow Apollo's modules design"

So that's great, sorry I didn't read this before ;).

And, for your information, we're really interested in my company in helping for that as it

[2018-08-29 09:28] HofmannZ commented on #71
@rdamario1169 Hi, it seems like you defined the `ValueNotifier` in the `build` method instead of the `main` function. You could fix the issue by moving the declaration of the `ValueNotifier`, but I would recommend using the `Query` widget instead.

The `Query` widget allows you to easily run queries and allow you to intuitively handle errors.

[2018-08-29 13:06] rdamario1169 commented on #71
Thanks @HofmannZ , One more question. If the endpoint is down will I get an error callback using Query it won't be able to connect.

[2018-08-29 13:14] HofmannZ commented on #71
@rdamario1169 Right now the `Query` widget swallows errors. The `query` method on the client does throw the error.

We are completely rewriting the transport and query logic, witch will have an option to handle errors more gracefully.

[2018-08-29 13:18] rdamario1169 commented on #71
@HofmannZ , thank You.

You guys are going good work.

[2018-08-29 13:19] #71 closed

[2018-08-30 10:18] jhalborg opened #73 "[Feature Request] A codegen option based on queries"
**Describe the solution you'd like**
It would be awesome if this lib could provide a codegen feature a la the `apollo-cli`.

Inspiration can be found [here](https://github.com/apollographql/apollo-cli/tree/master/packages)

[2018-08-31 12:55] lordgreg opened #74 "Subscription connection_init doesn't send any payload"
**Describe the bug**
When creating a subscriber, the payload should send the payload too. This is, per default, done by apollo-client:

![image](https://user-images.githubusercontent.com/480546/44912715-6e44c600-ad2b-11e8-9d1c-0f0c66eb33d3.png)

**To Reproduce**
Steps to reproduce the behavior:

1. make a connection (your graphql server should require an authentication!)
[code]
2. you will get any

[2018-09-01 13:50] lordgreg opened #75 "Failed assertion: line 77 pos 12: 'client != null': is not true"
**Describe the bug**
My init, graphqlprovider and query are all in TabOneWidget, for which you can assume, its a TAB1 from Parent widget Tabs.

I'm not sure if I implemented something wrong or not but... everytime I switch tabs and come back to Tab1 where I do my Init etc, I'm getting this error and the Query of course, stops working.

[code]
**Expected behavior**
To not throw an error?

**Additio

[2018-09-02 12:59] HofmannZ commented on #48
@KammererTob & @LawJolla fixed in #36.

To try it out use version `1.0.0-alpha.3` of this package.

[2018-09-02 12:59] #48 closed

[2018-09-02 13:00] HofmannZ commented on #51
@fusion44 fixed in #36.

To try it out use version `1.0.0-alpha.3` of this package.

[2018-09-02 13:01] HofmannZ commented on #53
@vmwsree, @endigo & @jeprojects fixed in #36.

To try it out use version `1.0.0-alpha.3` of this package.

[2018-09-02 13:01] #53 closed

[2018-09-02 13:03] HofmannZ commented on #59
@juicycleff Just finished the major API changes. We can start working on some docs.

To try it out use version `1.0.0-alpha.3` of this package.

[2018-09-02 13:04] HofmannZ commented on #72
@adelcasse Yes will be adding that to version 1.0.0

[2018-09-02 13:09] HofmannZ commented on #74
@lordgreg Thanks for reporting the issue, feel free to open a PR.

@cal-pratt What do you think about adding a payload to the connect method?

[2018-09-02 13:11] HofmannZ commented on #75
@lordgreg Yeah you should wrap the MaterialApp with the GraphqlProvider, and not wrap individual pages.

[2018-09-03 03:55] endigo opened #77 "onCompleted not works!"
onCompleted option of Mutation widget it isn't works.

[2018-09-03 04:48] HofmannZ commented on #77
Thanks for reporting the issue @endigo. We have not yet implemented the `onCompleted` functionality in the new api. We will try to include it in the next release.

If you need the functionally today, I'd recommend you stay on version `0.9.3` for now.

[2018-09-03 08:11] lordgreg commented on #75
Hi @HofmannZ and thank you for your response. I thought this would solve the issue I'm having above but it didn't.

1. I wrapped my `MaterialApp` with GraphqlProvider and CacheProvider.
2. After logging in, I init the client which just calls a method init in another class:
[code]
Immediately after it, I navigate to the Widget which includes the Query widget. The query widget is called from private

[2018-09-03 08:19] HofmannZ commented on #75
@lordgreg You should always provide a client to the `GraphqlProvider`. After the user logs in you can update the api token so that the user can access you api.

Right now the assertion in `client != null` fails inside the Query widget. See line 2 of your logs.

[2018-09-03 08:26] HofmannZ commented on #26
Great work!

I really like how you generate the comments for the classes, so that you have some documentation while coding.

On the other side it feels a bit weird to have javascript running inside a dart project.

It would be possible to use [graphql_parser](https://github.com/angel-dart/graphql/tree/master/graphql_parser) to process the query strings.

[2018-09-03 08:28] HofmannZ commented on #75
When do you call your static init function?

[2018-09-03 08:42] lordgreg commented on #75
[code]

GraphQl class:
[code]

Login process:
[code]

[2018-09-03 08:45] gedw99 commented on #26
I am using that parser. It works well !

On Mon, 3 Sep 2018, 10:26 Zino Hofmann, <notifications@github.com> wrote:

[2018-09-03 11:10] degroote22 commented on #26
The way types are being generated is with 2 things, the generator and the template.
The generator does more than just parsing the operations, it checks for errors in the operations agains the schema and pass to the template a flattened structure that's easier to use.
I'd rather work on a good template than reimplementing graphql-code-generator, at least for now.
The current generator has watch mod

[2018-09-03 11:17] degroote22 commented on #73
This is already being discussed in #26
There is a prototype working, try it and let me know how it went for you

[2018-09-03 11:27] lordgreg commented on #75
Tried. Sadly, the same issue.

[2018-09-03 11:29] HofmannZ commented on #75
What version are you running?

[2018-09-03 11:33] gedw99 commented on #26
There are many graphql parsers and generators in golang. Because it's golang which has built in code gen at its core it already supports many frontend languages. It can also do graphql to grpc and db gen. All from the graphql schema.

[2018-09-03 11:35] lordgreg commented on #75
`graphql_flutter: ^0.9.1`

[2018-09-03 11:37] #73 closed

[2018-09-03 12:10] degroote22 commented on #26
@gedw99 Go is faster than JS but the friction would be there anyways.
IDK if it would be worth the trouble.

[2018-09-04 14:36] lordgreg opened #83 "Using Mutation throws exception"
**Describe the bug**

When user clicks on button, the mutation should be sent. However, button isn't even shown. The error appears.

Keep in mind, I do not get any lint errors.

[code]

**To Reproduce**
[code]

**Expected behavior**
Show button properly.

**Screenshots**
![image](https://user-images.githubusercontent.com/480546/45037753-f7c40300-b05f-11e8-81bf-25ad329b6708.png)

Without mutation,

[2018-09-04 14:38] lordgreg commented on #75
Hi @HofmannZ,

I still did not solved the issue but I'm now using

[code]

to fetch the data and upon it, show the data retrieved.

This is an work-around, suitable for me. I think we can close the issue?

[2018-09-04 15:03] HofmannZ commented on #83
Thanks for the issue report.
Should be fixed by #84

[2018-09-04 15:10] HofmannZ commented on #75
@lordgreg Hmm, well it's not really solved yet.

I think the problem is the way you setup the client, where the `Query` widget is build before the `GraphqlProvider` has received the client.

To confirm this can you change the the Provider to this:

[code]

If that's the case you might want to move `GraphQl.init()` into a `initState()` method.

[2018-09-04 15:11] HofmannZ commented on #83
@lordgreg Could you provide me with a review on that commit, so I can start shipping ;)

[2018-09-04 15:46] lordgreg commented on #83
I sure can but sadly not before tomorrow morning (in 14 hours). Will this be suitable for you?

[2018-09-04 15:54] HofmannZ commented on #83
@lordgreg Tomorrow is fine, once I have a review I can merge and you can have the bug fixed.

Also it might be interesting to have a look at version `1.0.0-alpha.4` where many of these bugs are already solved. ✌🏻

[2018-09-04 22:17] sjmcdowall opened #86 "Question on implementation practice in a more realistic environment perhaps..."
**Is your feature request related to a problem? Please describe.**
Reading your documentation -- I am not certain how to implement this is my Flutter App.  Specifically, our App has quite a long and lengthy signup/login process before we can get the JWT for the Auth token that is needed to access the GraphQL server.

In fact, it's not for a little while before we even know where the GraphQL server

[2018-09-05 06:06] lordgreg commented on #83
Hi @HofmannZ- I've just tried your #84.

However, as someone already mentioned in post here (https://github.com/zino-app/graphql-flutter/issues/77), onComplete doesn't execute.

But for the issue I was having, I can confirm its now working as it should. 👍

[2018-09-05 10:27] HofmannZ commented on #11
Closing the issue due to inactivity.

[2018-09-05 10:27] #11 closed

[2018-09-05 10:32] HofmannZ commented on #42
Closing issue due to inactivity.

[2018-09-05 10:32] #42 closed

[2018-09-05 12:07] nav1101 opened #87 "is there no way to just query data in graphql-flutter (like for log in authentication ) without building widget. current functions are to build widgets after query it mixes backend and frontend ."
like query separately pass data and build widget

Found this
Client client = GraphqlProvider.of(context).value;
var data = await client.query(query: //YourQuery String here);
But not in  Docs !

IT IS WORKING FINE

[2018-09-05 12:40] #87 closed

[2018-09-05 12:53] HofmannZ commented on #87
We're woking on splitting it up ;)

[2018-09-05 14:00] sjmcdowall commented on #86
That is perfect and awesome doc!  Can't wait to give it a whirl later today!!

[2018-09-05 14:00] #86 closed

[2018-09-05 14:31] HofmannZ commented on #75
@lordgreg did you have a change to check that out?

[2018-09-06 09:16] jeprojects commented on #72
@HofmannZ Is it possible to access the GraphQL client now for testing with 1.0.0-alpha.4?

I tried, but getting an error:

Here is a sample of the code, perhaps I am doing something wrong?

[code]

[2018-09-06 09:19] HofmannZ opened #91 "Include tests and implement CI"
**Is your feature request related to a problem? Please describe.**
There currently is no way to programatically determine if pushed commits still provide a stable API. We require a peer for each PR, but some bugs might still slip trough.

**Describe the solution you'd like**
I suggest to create Unit Tests with **a least 80%** coverage. In addition I suggest to implement an automated build and depl

[2018-09-06 09:37] HofmannZ commented on #41
@cal-pratt Just a quick ping. We include FetchOptions now, allowing you to pass deferent options including the no_cache option.

Hope that does wat you want. ✌🏻

[2018-09-06 11:50] lucastsantos commented on #75
After migrating from `0.7.0` to `0.9.3` I've noticed this issue happening for me too, but in my case, the query runs successfully.
The error/stacktrace is printed at the console, but the query completes normally after the second execution of `getQueryResult()`

This is related to this commit:
https://github.com/zino-app/graphql-flutter/commit/c9a1bd96b6a08a5bf1ebd1926a8c251d0a8c0387

The flow that

[2018-09-06 12:08] HofmannZ commented on #75
@lucastsantos I think we can just drop `getQueryResult` from the `initState` method. Its being called in the build method anyways.

[2018-09-06 13:33] lucastsantos commented on #75
I've upgraded to `1.0.0-alpha` and the problem is gone 😄
I liked these new structures, it improves the support for lesser common use cases.
(e.g. before `1.0.0-alpha`, I had to create a class that extends the client to override the default headers).

Great work! 🙇

[2018-09-06 15:48] jeprojects commented on #72
@HofmannZ Thanks! Keep up the awesome work.

[2018-09-07 06:07] cal-pratt commented on #41
@HofmannZ Awesome stuff!
Will take a look sometime next week!

[2018-09-07 06:10] cal-pratt commented on #74
@HofmannZ Sounds like a good idea! The test server I had didnt do any authentication, but I will try to take a look in the next week or so!

[2018-09-07 06:32] HofmannZ commented on #74
@cal-pratt Implemented in PR #90, will be shipping it today!

[2018-09-07 07:56] HofmannZ commented on #75
Fix on it's way in #92.

[2018-09-08 10:23] AlexandreRoba opened #94 "Cannot specify charset on 'Content-Type' header"
**To Reproduce**
Querying a graphql endpoints that returns accents such as "Belvédère". Instead we get a string with "BelvÃ©dÃ¨re"

**Expected behavior**
Find the string "belvédère" in the jsonResponse Map after decoding (line 76 client.dart).
[code]

The header parameters are hardcoded and the 'Content-Type' is set to application/json.
In order to support the accents we should be able to specify

[2018-09-08 11:08] HofmannZ commented on #94
@AlexandreRoba Thanks for reporting the issue. Will see if I can fix it today.

[2018-09-08 14:14] HofmannZ commented on #94
@AlexandreRoba

Which version are you using?

In `1.0.0` we allow you to extend the headers your self:

[code]

Also reading trough the docs for the `http` package we use in the `HttpLink`. There they say the following about the `body` method on the the `Response` class.:

So the `Response.body` should already be converted to the correct `charset` before we [parse the the JSON to a map](https://gi

[2018-09-08 16:13] fusion44 commented on #51
@HofmannZ Sorry this took so long. Had to refactor my app quite a bit to adapt to 1.0.0 :-) I'm using alpha5 from pub.

As long as my server doesn't return an error, everything works very well. When I force my server to include an error, I get this:
[code]
My query is below. I forced lnGetInfo to return an authentication error, but this could be any other error.
[code]

In this case I forced lnGet

[2018-09-08 17:06] HofmannZ commented on #51
@fusion44 Yeah it's an issue with typecasting, to be precise [line 202 of the LttpLink](https://github.com/zino-app/graphql-flutter/blob/9110fb15354ea487664cab5a2597c20a98a8f5f2/lib/src/link/http/link_http.dart#L202). I Already proposed a fix for some incorrect typecasting. Just add a TODO to address your problem. If you can review the PR, I might be able to release it later today.

Cheers ✌🏻

[2018-09-08 20:45] HofmannZ commented on #51
Fixed by PR #93.

[2018-09-08 20:45] #51 closed

[2018-09-09 05:33] fusion44 commented on #51
@HofmannZ I think you meant PR #76 ?

[2018-09-09 18:50] AlexandreRoba commented on #94
Hi @HofmannZ thanks for the quick response.

I'm currently using version 0.9.3.

When is the 1.0.0 expected to be releases?

Your are absolutely right about the decoding of the body. If the charset is specified it will be used to decode the body according to the documentation. This is why I pasted the last bit of code in my previous post :)

This seems to be possible with HttpLink. I will have a l

[2018-09-10 07:30] HofmannZ commented on #94
@AlexandreRoba You can already try [1.0.0](https://github.com/zino-app/graphql-flutter/tree/next) out out today. See the [upgrade guide](https://github.com/zino-app/graphql-flutter/tree/next#upgrading-from-0xx) to for breaking changes.

[2018-09-10 07:37] HofmannZ commented on #94
Fixed with 1.0.0.

[2018-09-10 07:37] #94 closed

[2018-09-10 10:14] #75 closed

[2018-09-11 08:34] endigo opened #95 "How to decode UTF-8 chars in response?"
We have a Cyrillic (Mongolian) texts returned from GraphQL API.

But Cyrillic texts are obscured. Something like this.
![screen shot 2018-09-11 at 4 30 37 pm](https://user-images.githubusercontent.com/1501644/45348104-4cc3c400-b5e0-11e8-9015-60516c43f6c5.png)

We write a custom UTF-8 converter.

[code]

And the result is here
![screen shot 2018-09-11 at 4 35 19 pm](https://user-images.githubuserco

[2018-09-11 12:41] HofmannZ commented on #95
Might be related #94

[2018-09-11 12:42] HofmannZ commented on #95
@endigo which version of the client are you using?

[2018-09-11 21:47] endigo commented on #95
@HofmannZ I'm using 1.0.0-alpha6.

[2018-09-11 21:58] HofmannZ commented on #95
@endigo Which `Content-Type` is your endpoint returning? Should be: `Content-Type: 'application/json; charset=utf-8'`, so that the http client can decode utf8.

[2018-09-11 22:27] endigo commented on #95
in the server's response header?

[2018-09-12 08:51] HofmannZ commented on #95
@endigo Yes, in the server's response header.

[2018-09-14 09:19] kunaldodiya opened #99 "upgraded to alpha-1.0.0"
hello,

in previous version I was able to set apiToken

[code]
from authentication.dart page

but now client.link says, its final, can't change it.
how can i set headers ???

Also main.dart file does not support async function so that i can't use something like:-

[code]

[2018-09-14 14:15] HofmannZ commented on #99
You can override the headers trough the context operation context, allowing dynamically calculated headers. We added an [example of it](https://github.com/zino-app/graphql-flutter/blob/86c8b7c28c8639906f99dbd3e1c39fbb1127c2e3/example/lib/main.dart#L65) in the example project, but I'll add it to the migration guide as well.

[code]

[2018-09-14 19:31] jpJuni0r opened #102 "socketClient is always null"
**Description of the bug**
`socketClient` is initialized but never set to the actual connection ([reference](https://github.com/zino-app/graphql-flutter/blob/a34fea21830b56b4feb37a19c46b08d1873544c2/lib/src/socket_client.dart#L8)).
This also results in an error when using the subscription-Widget, because [`socketClient.connect()`](https://github.com/zino-app/graphql-flutter/blob/a34fea21830b56b4fe

[2018-09-15 01:28] kunaldodiya commented on #99
That is cool.. But now i have to specify headers in every request manually, can u make it one time process???

[2018-09-16 05:55] #99 closed

[2018-09-18 22:35] HelveticaScenario opened #103 "QueryState.didChangeDependencies not being called when variables change"
**Describe the bug**
When I pass in a new QueryOptions object with different variables to a Query widget it sends a query with the variables from the previous build, not the new variables. I have traced the bug to the didChangeDependencies of QueryState not being called when the variables in the QueryOptions change (I haven't tested to see if its the same for other properties of the Query widget o

[2018-09-19 18:35] micimize commented on #103
this is with `^1.0.0-alpha`. Downgrading to `^0.9.4` works fine

[2018-09-20 19:04] sjmcdowall commented on #86
I am trying this (finally) in the code and am getting an error on using what I think you say are static methods .query on the GraphQLClient ?

await GraphQLClient.query(QueryOptions(

[dart] Instance member 'query' can't be accessed using static access.
query(QueryOptions options) → Future<QueryResult>
package:graphql_flutter

This resolves a single query according to the options specified and ret

[2018-09-20 19:26] sjmcdowall opened #104 "Allow async / Future in the GraphQLConsumer builder"
**Is your feature request related to a problem? Please describe.**

Yes -- I am using the GraphQLConsumer .. but the builder code won't let me use async so
when I try to await in the code...

Here is a code snippet :

       child: ScopedModelDescendant<MainModel>(
            builder: (BuildContext context, Widget child, MainModel model) {
          return GraphQLConsumer(builder: (GraphQLClient

[2018-09-20 20:43] dustin-graham commented on #72
Perhaps what I'll experiment with first is to use my fork to trim out Flutter pieces and make it compatible with AngularDart and see what it looks like at that point. And then try to see if I can refactor this library to depend on the trimmed-down base GraphQL library.

[2018-09-21 11:05] lucastsantos opened #105 "Catching connectivity error"
**Is your feature request related to a problem? Please describe.**
Currently, whenever there's an error related to user-server connectivity, an exception is thrown. Using the Query Widget, the initial call with loading=true is the only call received.

**Describe the solution you'd like**
I would like to be able to catch these connectivity errors and display an error in the UI

**Describe alternati

[2018-09-21 16:46] HofmannZ commented on #95
Fixed with 1.0.0-alpha.8

[2018-09-21 16:46] #95 closed

[2018-09-21 16:52] HofmannZ commented on #104
@sjmcdowall not sure if you can use async build functions in Flutter at all. Anyway, have a look at the [FutureBuilder class](https://docs.flutter.io/flutter/widgets/FutureBuilder-class.html) I think it might does what you want.

[2018-09-21 18:47] sjmcdowall commented on #104
@HofmannZ -- Yep, that is exactly what I would up using and it worked pretty well too!  Thank you!

[2018-09-21 18:47] #104 closed

[2018-09-21 18:52] sjmcdowall opened #106 "InMemoryCache() TTL?"
**Is your feature request related to a problem? Please describe.**
Our backend data can be mutated from many sources -- Our data gets stale "forever" until we do a hard refresh on the app .. before it will show new data..

**Describe the solution you'd like**
Ability to set a TTL on the cache items and mark them as dirty if expired to force a new query() to happen..

**Describe alternatives you've

[2018-09-22 12:40] HofmannZ commented on #105
Proposed a fix in PR #107.

[2018-09-22 12:41] HofmannZ commented on #106
Have a look at the `fetchPolicy` option in the query option class.

[2018-09-22 12:42] HofmannZ commented on #102
Please provide some more info.

[2018-09-22 12:43] HofmannZ commented on #103
@HelveticaScenario Thanks for reporting the issue, I'll look into the issue and try to push a fix ASAP.

[2018-09-24 17:35] sjmcdowall commented on #106
Yes -- ok I see that and it's a nice improvement for sure.  However, I am not positive it alleviates the need or desire to have a TTL on cache entries to auto-expire cache elements .. but .. maybe that is more complex than is needed (well, ok -- its simple if its a global TTL) .. ANyway -- since fetchPolicy works for what I need .. I can pass but if you want/desire to have a TTL type cahce let me

[2018-09-24 17:35] #106 closed

[2018-09-25 20:00] HofmannZ commented on #103
@HelveticaScenario Hmm, apparently I got something wrong. When updating the `StatefulWidget` the  `didChangeDependencies` method on it's `State` class does not trigger.

I could just drop in another `InheritedWidget` but still looking for a more elegant solution.

[2018-09-25 20:30] HofmannZ commented on #72
@dustin-graham It's on the top of the todo list now, just having the rolling impediments:
- The subscriptions are still not merged with the new client
- No example setup to test subscriptions implementation

After those to impediments the refactoring should be minimal because I kept code splitting in mind when I did the initial refactoring.

[2018-09-26 07:15] kieusonlam commented on #95
Hi guys,

Does the issue is fixed or just me still get this problem :(

My package version: 1.0.0-alpha.9

![image](https://user-images.githubusercontent.com/13093313/46063129-18cad000-c196-11e8-9e90-cdcb227a583d.png)

[2018-09-28 18:32] micimize commented on #26
I've got serviceable type generation with [graphql-to-dart](https://github.com/micimize/graphql-to-dart) working, although it still has some limitations. For instance, it doesn't extract graphql strings form dart code, and I still feel like I might be generating non-idiomatic code.

Eventually doing code generation with dart faculties would be more convenient, build process wise, but I don't think

[2018-09-28 18:35] jarriaza-102 opened #108 "Subscriptions - SocketClient"
I have question, where should I initialize socketClient to use a Subscription?

[2018-09-28 19:12] micimize opened #109 "object-level / flattened caching"
**Is your feature request related to a problem? Please describe.**
We're currently doing [operation level caching](https://github.com/zino-app/graphql-flutter/blob/next/lib/src/core/query_manager.dart#L124) instead of the [object-level caching](https://www.apollographql.com/docs/react/advanced/caching.html) available in apollo. This means disparate operations on the same resource result in inconsi

[2018-09-28 22:04] jarriaza-102 commented on #108
I got it,

I set onTopChanged as type, and my query is {id,calification,userPlaceStatus {place {id,name},user {id,name}}}, it doesn't have vars.

My Subscription in GraphQL is:

subscription {
  onTopChanged {
    id
    calification
    userPlaceStatus {
      place {
        id
        name
      }
      user {
        id
        name
      }
    }
  }
}

Am I doing something wrong there?

[2018-09-30 12:59] HofmannZ commented on #109
@micimize Yeah we're thinking about adding that, just need to find some time to actually do it ;)

[2018-10-03 16:32] micimize commented on #109
I can start on this today, if you all haven't already. My implementation plan, again:
* `dataIdFromObject` will be called on each object in the tree.
* If not null, the leaf will be replaced with `['@cache/reference', dataId]`
* references will be which will be saturated whenever the store is queried

[2018-10-03 18:45] HofmannZ commented on #109
@micimize Would be great to see another PR coming in. We can definitely should use the `__typename` key. And since we already rely on [graphql_parser](url
https://github.com/angel-dart/graphql/tree/master/graphql_parser) for operation names, we would not be adding any more dependencies.

Adding the `__typename` key would also mean we can align optimistic UI updates with the way Apollo implements t

[2018-10-03 20:16] twpochuan commented on #109
Good to see you guys are working on this.

I tried to implement the normalized cache but I got some problems to make it generalized.
I don't know the problems I ran into will be helpful or not.
Here are the two main problems I faced:

The first problem is that not all of the given objects have id field, which may causes duplicated cache for the same object.

The second problem is about pagination.

[2018-10-06 16:16] HofmannZ commented on #103
Fixed with 1.0.0-alpha.10

[2018-10-06 16:16] #103 closed

[2018-10-07 04:01] kunaldodiya opened #113 "how to add fragments ???"
[code]

this does not work :) please let me know how can i add fragments ???

[2018-10-07 13:57] HofmannZ commented on #113
Currently this package does not support fragments. Feel free to open a PR for it.

[2018-10-07 13:57] #113 closed

[2018-10-08 20:16] micimize opened #114 "Mutation effects should be decoupled from mount"
**Describe the bug**
Unmounting a mutation cancels the `onCompleted` subscription, and thus results in logic unexpectedly not executing.

**To Reproduce**
Render a "loading" indicator in place of a `Mutation(onCompleted: () => print('completed'), ...)` wrapped button

**Expected behavior**
I think it would be more intuitive if we handled inflight mutations in the query manager itself. Apollo still

[2018-10-09 03:22] donglua opened #115 "version solving failed"
[code]

[2018-10-09 06:32] HofmannZ commented on #109
Closed with #111

[2018-10-09 06:32] #109 closed

[2018-10-09 06:32] donglua commented on #115
[code]

I use Flutter 0.9.6 (channel dev) , it still failed. graphql_flutter depends on http ^0.11.3, and sdk depends on http 0.12.0

[2018-10-10 09:31] yohom opened #116 "Can't find out `debug` parameter"
I found that the `debug` parameter was added to PR #54 to achieve log printing, but I couldn't find out where the parameter was set in the latest version 1.0.0-alpha10.

[2018-10-11 05:23] kunaldodiya opened #118 "please help how can i write logic for caching (refetching updated data)"
hello,

the scenario is on main page i show list of posts, and then it automatically cache but the problem is if i try to refetch data it does not show latest updated but only cached data :) i tried calling client.cache.reset() but then it remove all cached data. show app start loading each and every pages again..

in apollo there is a function called refetchQuery so only particular query can be u

[2018-10-15 14:26] sjmcdowall opened #121 "POSSIBLE --bug report -- Not sure of expected behavior to be honest.."
**Describe the bug**
It appears that the Query -> builder:  part can get called multiple times the 2nd (and subsequent times) a Widget using it is invoked...

**To Reproduce**
1.  Create a simple Stateful component that does a simple Query and generates a list of items (say)
2.  Put lots of print() debug statements are all the areas of the code to see what's going on :)
3.  Invoke the component (v

[2018-10-15 15:52] idkjs commented on #53
@HofmannZ I'm trying appsync integration. Did you get that to work? If so, can you post how you passed auth to the client? Thank you.

[2018-10-18 02:56] knewter commented on #118
I'm passing an extra fake variable into a query to force this. I call it `_counter` and I increment it each time I want to refetch. Seems to work fine, and as hacks go it doesn't feel bad at all. The more idiomatic way to do it is probably to pass a `QueryController` into the query and call `controller.refresh` or something to make it query again.

[2018-10-18 08:15] kunaldodiya commented on #118
Thanks buddy, would help a lot

[2018-10-19 11:52] dopecoder opened #125 "Decouple operation apis from flutter widgets"
**Describe the bug**
When using scoped_model in flutter, i'm unable to return subscriptions as streams as the subscriptions are implemented as widgets.

**Expected behavior**
Being able to subscribe without the use of flutter widgets.

Is there a way to just use pure dart for performing operations such as querying, subscribing and mutating as its not possible to subscribe date in scoped_model usin

[2018-10-19 17:54] arnold-parge opened #126 "StreamSubscription.cancel() not working"
<hr>

<h1>StreamSubscription.cancel() not working</h1>
Something like `{type: unknown, payload: {type: ka}}` keeps getting printed in my console even after cancelling the StreamSubscription.

<hr>

**To Reproduce**
Steps to reproduce the behaviour:
1. Start Subscription  `{type: unknown, payload: {type: ka}}` keeps getting printed in console
2. Put StreamSubscription to global variable
3. Cancel S

[2018-10-19 18:03] arnold-parge commented on #125
Check the code in my issue: [https://github.com/zino-app/graphql-flutter/issues/126](https://github.com/zino-app/graphql-flutter/issues/126)

I am subscribing without Subscription widget.

[2018-10-19 20:40] micimize opened #127 "Optimistic mutation results"
This depends on #114 - a naive implementation shouldn't be too difficult.
Steps for optimistic results would be:
* Add an [list of optimistic result patches](https://github.com/apollographql/apollo-client/blob/c3561e73957799bbf0d7f87c4a3ebcfee6f40e3a/packages/apollo-cache-inmemory/src/inMemoryCache.ts#L80-L103) to the cache
* associate them with mutations and [invalidate them appropriately](https:

[2018-10-22 12:57] #118 closed

[2018-10-26 12:34] dopecoder opened #128 "Offline cache support not working"
**Describe the bug**
When i close the app and reopen it with the internet turned off, i get this error message in spite of  using the CacheProvider : [Failed host lookup: --url-- : Undefined location]

**To Reproduce**
turn off internet and then open the application, wherever Query widgets are used, they return this error.

**Expected behavior**
Display the cached data instead of throwing an error

[2018-10-26 21:13] vmwsree opened #129 "Query Does not update after mutation on a pushed screen"
![bug](https://user-images.githubusercontent.com/1706515/47592724-1b396900-d992-11e8-94da-2b4def0b7160.gif)
**Describe the bug**
I have a profile page where each item is rendered with Query but the edit button takes to a new Screen Where a mutation is successfully executed to update the value. but once this screen is poped the older screen query does not hit server rather it re renders older value

[2018-10-28 10:50] HofmannZ commented on #116
@yohom This parameter has been removed, instead you can add your own link, allowing you to gain full control over debug logging.

[2018-10-28 10:50] #116 closed

[2018-10-28 10:53] HofmannZ commented on #114
@micimize Yeah, in flight mutations should be handled in the query manager. I think we should revisit the stream cleanup, to check if there are in-flight queries (or mutations) before closing the stream.

What do you think?

[2018-10-28 10:56] HofmannZ commented on #121
@sjmcdowall All Queries are handed as teams in the query manager, so it's possible you receive data twice. On the other side the stream should be closed once the query completes, so I will investigate this behaviour and check if nothing funky goes on in the scheduler.

[2018-10-28 10:59] HofmannZ commented on #127
@micimize Yeah sounds good to me, need any help?

[2018-10-28 11:02] HofmannZ commented on #128
@dopecoder To be honest the offline support is very experimental, but will have a look and see what's going on.

[2018-10-28 11:11] HofmannZ commented on #129
@vmwsree When you pop a screen the old screen does not get re-rendered thus the query does not get refetched. We are looking to add a refetch option the the query, but right now you can fix it by polling the query.

[2018-10-30 19:21] micimize commented on #114
@HofmannZ ended up implementing essentially what you're talking about in #130 using a `lifecycle` enum to track mutations, and waiting to clean them up after side effects.

One major change is that I'm deferring the creation of the observable until `runMutation`, and forcibly replacing it if the same mutation is run multiple times, replacing callbacks. These changes work for now, but I still feel

[2018-10-31 00:37] d-silveira commented on #115
@HofmannZ is the solution to change to alpha channel?
I don't see any alpha channel when I run flutter channel
Im on dev channel also, and being plagued by this issue, stopping me from doing anything

[2018-10-31 07:47] HofmannZ commented on #115
@d-silveira Tested with the latest version on the Flutter beta channel, should work just fine with `1.0.0-alpha.11`

[2018-10-31 07:47] #115 closed

[2018-10-31 09:36] HofmannZ commented on #115
@d-silveira I'm not sure if we can support both channels at the same time. Upgrading our dependencies to versions that support the `dev` channel will break support for the `beta` channel. Since `beta` is the default channel and the recommended channel for production, we can't drop it's support. 😕

If you know a way to support both channels, feel free to open a PR 🚀

[2018-10-31 12:29] cfjohan commented on #115
@HofmannZ I'm on the flutter beta channel and I get this when I upgrade:
[code]

[2018-10-31 12:55] HofmannZ commented on #115
@cfjohan Try `flutter update-packages --force-upgrade`, it seems like your flutter packages are still referencing to an older version.

[2018-10-31 14:50] cfjohan commented on #115
@HofmannZ that seems to have done the trick, thank you!

[2018-10-31 21:45] micimize commented on #127
@HofmannZ possibly! I think I've just about completed the [optimism](https://github.com/micimize/graphql-flutter/tree/optimism) chunk of this, continuing from #130 (although they're less entangled than I expected).

Here's a brain dump on the **query rebroadcast logic**, for posterity:
The solution I implemented is to just [rebroadcast all safe queries](https://github.com/micimize/graphql-flutter/

[2018-11-01 17:44] sjmcdowall opened #131 "Mutation is causing a THROWN error to propagate.. but not even sure WHY its throwing this error.."
**Describe the bug**
I am getting an (unexpected) Thrown Error in a Query Mutation call ... however, what appears to be the same mutation works in GraphiQL..

The relevant error stack is as follows:

E/flutter (15507): [ERROR:flutter/shell/common/shell.cc(181)] Dart Error: Unhandled exception:
E/flutter (15507): NoSuchMethodError: Class 'JsonUnsupportedObjectError' has no instance getter 'message'

[2018-11-01 18:12] sjmcdowall opened #132 "Can you keep to "beta" flutter version?"
Unless there is a giant need to use "dev" level Flutter channel, can this stick to beta channel packages, etc?

I just tried using alpha.11 and that demanded http 0.12 .. which in turned failed because the beta test package demands http 0.11.XXXXXX

Now, if there is a critical bug / reason to use "dev" .. maybe document that so "we" have ammunition as to why we need to use the "dev" channel and no

[2018-11-01 18:19] sjmcdowall commented on #129
Option 2 -- which is a bit more complex - is to put all the data in question into a ScopedModel and use a ScopedModelDescendt in the main list screen and populate the screen from that (obviously use the Query to build the data) .. then in the Edit/Add screen update the data that's in the ScopedModel .. this should cause an update to the List since ScopedModelDescrendent is reactive on changes with

[2018-11-02 14:35] sjmcdowall commented on #131
It appears the error is being thrown here - which is hiding some underlying error ..

[Error Line](https://github.com/zino-app/graphql-flutter/blob/next/lib/src/core/query_manager.dart#L142)

Thanks to my co-worker Scott for tracking this down... one step closer..

[2018-11-03 14:37] Sndan opened #133 "how to use mutation to authenticate"
at the moment I had to put the code inside the button to save the token and navigate
but you need to press the button for a second time to navigate to the other screen/page
and if I put the code before the button it cause a problem and crashing the app

I am using the next branch

CODE

    return Scaffold(
      backgroundColor: Colors.white,
      body: Center(
        child: ListView(

[2018-11-07 10:10] dopecoder opened #134 "[next] Socket connection not working"
**Describe the bug**
Connecting to a socket connection fails. and it returns an error -
Error : {type: connection_error, payload: parsing ClientMessage failed: Error in $: expected ClientMessage, encountered String}
{type: error, id: e6d5801c-284b-4630-abac-37e9885c0b90, payload: start received before the connection is initialised}

**To Reproduce**
Connect to a socket connection and it displays t

[2018-11-11 10:45] patelmanjeet opened #135 "How to create infinite listview - graphql pagination"
How we can implement infinite listview something like FutureBuilder/StreamBuilder with ListView, so when user scroll down to list it will call graphql pagination query to load more data.

[2018-11-11 20:18] #133 closed

[2018-11-15 12:52] jxltom commented on #135
My way is using listview with scrollcontroller. When the listview is scrolled to the bottom, the notification of the controller would call a async function which will loading more data with graphql client and save to a variable. The listview will build from this variable.

[2018-11-17 22:39] smkhalsa commented on #128
Any update on this? @HofmannZ Also, when do you expect to release v1?

[2018-11-20 13:01] ArneSchulze opened #138 "Rename field `document` in POST requests to `query` according to the graphql specification"
It would be nice to align the POST request body to the official [graphql specification](https://graphql.org/learn/serving-over-http/#post-request). Meaning:

Instead of sending
[code]
send
[code]

[2018-11-20 14:39] HofmannZ commented on #138
We send `query` instead of `document` see [HttpLink](https://github.com/zino-app/graphql-flutter/blob/8b01b4467bea7a4b527d0b61562e9dc49a82f93e/lib/src/link/http/link_http.dart#L170-L188)

[2018-11-20 14:41] HofmannZ commented on #132
Fair point, our development in the package has been a bit jumpy, will be picking it up in the coming week.

[2018-11-26 16:17] #138 closed

[2018-11-26 16:22] eusdima commented on #135
@jxltom Would be awesome if you could provide an example of that so we can extend the documentation.

[2018-11-27 01:06] jxltom commented on #135
I will try to make a PR for that, updating a example under ```example``` directory.

[2018-12-10 05:50] juanpablocs commented on #135
what is status for this issue?

[2018-12-11 15:04] ArneSchulze opened #139 "server-sent events (SSE) support in GraphQLSubscriptions"
Is there any existing solution or a plan to support server-sent events in graphql subscriptions yet? If not, I think it would be worth considering

[2018-12-11 21:25] guitcastro opened #140 "Exception swallow"
**Describe the bug**
My client is failing with NoConnectionException, I expect to see an error but instead it silence fail, debugging the code I notice that the conditional `if (data == {})` fails for the `_internalLinkedHashMap` with size 0.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to query with a bad connection
2. See error

**Expected behavior**
Emit the exception

**Screenshot

[2018-12-12 05:38] ifndefdeadmau5 opened #141 "Expose bodyBytes from http.response in client.dart"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-12-12 10:32] dennisschneider commented on #141
I have exactly the same issue (in my case request to apollo-server-micro), being able to access `bodyBytes` would be nice.

[2018-12-12 11:47] ifndefdeadmau5 commented on #141
@dennisschneider Glad to found another victim here. Are you still having that issue?
I resolved that by setting response header as `'Content-Type': 'application/json; charset=utf-8'` so that `dart/http` can choose the right encoding

[2018-12-13 21:36] dennisschneider commented on #141
@ifndefdeadmau5 how did you set the server response header for apollo-server & which implementation are you using ? Tried it with apollo-server-micro & apollo-server-express but apollo seems to override it ... I tried this:
`app.use((req, res, next) => {
  res.append("Content-Type", "application/json; charset=utf-8");
  next();
});`

[2018-12-14 21:07] dennisschneider commented on #141
@ifndefdeadmau5 finally found a workaround ... I use http-proxy to override the header ... only drawback is that it breaks graphql-playground (but you still can connect with a standalone graphql-playground so not a real issue)

`
const httpProxy = require("http-proxy");
const proxy = httpProxy
  .createProxyServer({ target: "http://localhost:3000", changeOrigin: true })
  .listen(8000);
proxy.on("

[2018-12-17 03:58] ifndefdeadmau5 commented on #141
Thank you @dennisschneider, it works like a charm 👍
Hope `apollo-server` provide built-in way to do it soon, tho  :)

[2018-12-29 21:32] shrugs opened #143 "Implement ErrorPolicy"
**Is your feature request related to a problem? Please describe.**
ErrorPolicy allows your code to tell the client how it should surface graphql errors.

https://www.apollographql.com/docs/react/features/error-handling.html

Currently, ErrorPolicy is mocked but not implemented in #next; it'd be awesome if a 1.0 supported ErrorPolicies. the behavior at the moment is closes to `ErrorPolicy.all`, but

[2018-12-31 01:26] chimon2000 opened #144 "Implement fetchMore API for pagination"
**Is your feature request related to a problem? Please describe.**
Currently, there is not an elegant way to do pagination with a GraphQL query.  Apollo supports this thru the fetchMore API that is part of the query result.

**Describe the solution you'd like**
In Apollo, the fetchMore function allows you to do a new GraphQL query and merge the result into the original result.  You can override va

[2018-12-31 10:32] liepaja opened #145 "Non widget queries"
At the moment the only way to query/mutate is to do that from widgets, yet if models are used, its better to do that not from widgets. Is there a way to do so?

[2018-12-31 10:49] liepaja commented on #145
Found the solution:
[code]

[2019-01-01 20:10] mkhennoussi commented on #145
@liepaja Thanks for the solution, but it seems to work only for simple queries. When I try for a mutation with variables, I have the following error : [Network Error: 400 Bad Request: Undefind location]

Do you have the same issue or is it working fine for you (with mutations) ?

Thanks !

[2019-01-01 20:35] liepaja commented on #145
@mkhennoussi can you try with some existing graphql backend? To validate that error is not from server?

[2019-01-01 20:48] mkhennoussi commented on #145
I'm using Hasura.io as a backend. I just discovered that when I remove the "variables" field in the MutationOptions, it is working fine. So I can run static mutation but when I add variables, it fails. I'm not really sure (I'm not a GraphQL expert) if it comes from the flutter package or from the backend (which doesn't understand how the package send variables).

Any ideas ? Thanks !

[2019-01-01 21:09] liepaja commented on #145
@mkhennoussi  can you post your mutation string as well as the client.mutate line

[2019-01-01 23:36] mkhennoussi commented on #145
Sorry it was my fault. I don't really understand, maybe an indentation issue or a typo, I tried to code all my queries in Insomnia.rest then just copy/paste the query in my dart code, and it worked.

Sorry again, for me it's fixed, thanks again for your solution !

[2019-01-01 23:42] #145 closed

[2019-01-08 12:31] degroote22 opened #148 "[Feature Request] Accept future as context"
I'm using Firebase Auth to get the credentials for my server.
Their SDK provides me with an async function which will give me the token.

I'd like if I could pass a future as the context (so that I can provide the Authorization header)
When the future is loading graphql-flutter would say to the query/mutation that the state is loading and if this future errors graphql-flutter would pass this as an

[2019-01-08 14:36] ArneSchulze commented on #126
Canceling the `StreamSubscription` object you received from calling `socketClient.subscribe(...).listen(...)` actually just cancels the data stream subscription you provided in `listen()`. To terminate the WebSocket connection to your server you would have to send a `GQL_CONNECTION_TERMINATE` message, so your GraphQL-Implementation on your server knows that you won't continue querying. After that,

[2019-01-08 14:43] ArneSchulze commented on #126
Unfortunately I haven't found a solution yet to cancel the WebSocket with the current `SocketClient` implementation. Maybe I will create a PullRequest regarding this issue.

[2019-01-10 00:11] lenaschimmel opened #149 "HTTP Errors not reported because of invalid comparision"
**Describe the bug**
When the GraphQL Server responds with an HTTP error code, in some cases, the state is not updated with the error object.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a request to a server that reqires JWT auth, but provide no auth, like `https://fakerql.com/graphql/`
2. Create a `Query` widget
3. Write a `builder`function which would show if the query is loading

[2019-01-11 07:51] filippofilip95 commented on #99
@kunaldodiya Were you able to make it one time process ? I'am solving same issue as you. Thank you for your Help ! 👍

[2019-01-12 02:15] austinGENEreeve opened #150 "How to work with nested objects"
I have a query that returns all of my "books" objects. Each book object has an author object nested in it. I'm trying to figure out how to access the "name" from within the "author" object that is nested in a "books" object. (please see query below):

[code]

Using the documentation I was able to access the "books": 'id', 'title' and 'genre' (code below)

[code]

Thanks,

[2019-01-12 02:44] degroote22 opened #151 "Cache does not restore entirely"
I'm using the latest version.
To reproduce:
-Fill the cache.
-Force the cahce to save (go to another app then come back)
-Do a hot restart

The cache will read just the first line of the file because[ here ](https://github.com/zino-app/graphql-flutter/blob/next/lib/src/cache/in_memory.dart#L92)the function will return without reading the entire stream.

Using this code to loop through the stream b

[2019-01-12 02:48] degroote22 commented on #151
No. That's not the reason of the bug.
I'm still investigating.

[2019-01-12 02:48] #151 closed

[2019-01-12 02:56] degroote22 opened #152 "[Bug] Avoid concurrent writes while saving cache"
On the[ cache_provider.dart ](https://github.com/zino-app/graphql-flutter/blob/next/lib/src/widgets/cache_provider.dart)we have:
[code]

these saves could be called concurrently (on my phone they do all the time) and it will eventually save an incomplete cache.

in [in_memory.dart ](https://github.com/zino-app/graphql-flutter/blob/next/lib/src/cache/in_memory.dart#L59)I wrote a lock to stop concur

[2019-01-12 02:58] lucasavila00 opened #153 "Don't hide loading state"
If a query is loading but was found from cache the current implementation tells us that the loading is false.

I'd like if this app would report errors, loading and data independently because there may be a case where a query has data from cache and is loading and I'd like to display a loading indicator alongside the data to show that it is loading and if this query errors I'd like to show the err

[2019-01-13 16:59] IhorPatychenko opened #154 "[Feature] Add new methods of authentification"
In a current version of plugin we can access to endpoint using an **apiToken**.
It would be great to can use other authentication methods like **Basic Authentication**, **OAuth2**, etc.

[2019-01-13 21:52] degroote22 opened #155 "[Bug] Avoid overriding a query with a subset of it"
When using the normalized cache the updates are made through [this piece of code](https://github.com/zino-app/graphql-flutter/blob/next/lib/src/cache/in_memory.dart#L26) which replaces bigger types with smaller types.

For istance, if I have a list of posts where I get their titles
[code]
this would replace a bigger type, let's say a detail page which has this query
[code]

and the subtitle field

[2019-01-13 21:53] degroote22 commented on #154
How would this be done?
Could you provide a clearer example of what do you mean?
Could you show another lib which does it (for instance, react-apollo or relay, if that's the case)

Thanks

[2019-01-13 21:58] degroote22 commented on #128
This behavior is appropriate, I think.
Flutter-graphql return both the data and the errors. In my app I show the old data to the user and pop a snackbar telling him about the error.

This behavior is the best one to have IMO and together with the behavior I'm asking in #153 we can provide the user with the best information possible.

We can show the old data, put a loading indicator somewhere in t

[2019-01-14 11:21] IhorPatychenko commented on #154
The context of this feature is in to allow to user to authenticate due **Basic Authentication**.
For example:
I'm creating an Github client using Github API. My app allows to authenticate providing login and password. App saves this credentials to use them after in all http requests to get information from Github API. The purpose is to avoid the need to create api tokens and use existent methods o

[2019-01-16 17:37] dbanck opened #157 "Is this library still under active development?"
Hi 👋

I really like GraphQL and want to keep using it for many coming Flutter projects. I’ve seen the great work you did on the `next` branch and I’m wondering why the development suddenly stopped?

What are the next steps to get to `1.0`? Can I help you reaching it? I'm eager to contribute 🙂

[2019-01-17 13:58] wwwdata commented on #144
Hi, we are currently evaluating this plugin and I also asked myself how to implement `fetchMore`. Actually it is quite simple to make a widget that extends the standard `Query` widget and provides this functionality like in the javascript apollo client. I have just extended the `builder` with the `fetchMore` callback.

I could also open a pull request into the `next` branch with this. But the ques

[2019-01-18 03:07] truongsinh opened #159 "Generated Code / Class for GraphQL query/mutation"
**Is your feature request related to a problem? Please describe.**
Query/Mutation is now created from schema string at runtime https://github.com/zino-app/graphql-flutter#queries , thus more error-prone than compile time.

**Describe the solution you'd like**
Using code generated (ref https://medium.com/flutter-community/part-2-code-generation-in-dart-annotations-source-gen-and-build-runner-bbceee

[2019-01-21 21:10] netwrkx opened #160 "DateTime format"
hello, thanks for the hardwork in developing this plugin..

[code]

[code]

is this a flutter issue or how do i get the DateTime format
anybody pls help

[2019-01-21 21:18] netwrkx commented on #150
try
`new Text("Author Name: " + booksList['author']['name'])`

[2019-01-25 09:01] filippofilip95 commented on #99
@nayanbhana in my project i use redux. So i usually wrap Query with StoreConnector and then provide user token.
`
  Widget _buildQuery() {
    return StoreConnector<AppState, String>(
      converter: (store) => store.state.user.token,
      builder: (context, token) {
        return Query(
          options: QueryOptions(
            document: lookForMusicQuery,
            variables: {'keyword':

[2019-01-30 01:40] Jetsly commented on #149
as same too

[2019-02-06 23:27] venkatd commented on #131
@sjmcdowall I'm running into issues around having this library swallow errors as well. I think the problem is that the catch statement swallows *all* errors instead of catching just the specific errors that need to be transformed into graphql errors.

As far as I can tell, Dart has the ability to catch errors explicitly https://stackoverflow.com/a/20803316/67655

If an exception does not fall unde

[2019-02-07 07:16] michael-golfi opened #165 "HttpLink doesn't call NextLink"
**Describe the bug**

I'm working on creating an AuthLink to fetch a token before calling HttpLink. I was using HttpLink as a model for the new link and noticed that HttpLink doesn't call NextLink. Is it supposed to call next link if a link is concatenated to it?

For completeness I got my Link working by doing the following:

[code]

Here's the corresponding code from HttpLink@1.0.0-alpha.11

[co

[2019-02-07 11:47] sjmcdowall commented on #157
Great question @dbanck -- We are using this quite a bit and it's "ok" -- but man -- this seems to have been slightly abandoned by the original authors ... I wish they would open it up to a few other of the people submitting PR's to keep the traction going . :(

[2019-02-07 13:17] sjmcdowall opened #166 "Update dependencies and cleanup project"
**Describe the bug**

Getting package conflicts with the latest versions of various packages.. Lots have changed since this was last pushed.

Also -- this repo needs some TLC.  There are many old / dead branches still -- and we're at 1.0.0+alpha.11 yet there is no Tag for that ...

Is there anyone actually reading these and maintaining this? There are 12 PR's .. and 35 open issues..

[2019-02-08 19:13] juicycleff commented on #157
I am wondering too. I've been thinking if I should move my project to React Native or just fork this repo and start playing around to see what I can start fixing

[2019-02-08 21:46] juicycleff commented on #59
@HofmannZ Sorry I was away and busy. I want to start the docs now. Btw I noticed development has been halted, is this permanent or temporary?

[2019-02-09 00:55] olup commented on #157
@juicycleff You would help a lot of people by forking and offering your work to the community, if you have a bit of time to spare (If you don't have it and your project needs to move along, react native is a safer bet).

This is actually an essential piece into any app/front-end language or framework. It is unbelievable that this repository is the only option developers have when speaking of graph

[2019-02-09 19:48] juicycleff commented on #157
@olup thanks for the feedback. I already did fork it and fixed a bug that makes test fail and breaks release build. I plan on taking the library ahead and improving especially caching and persistence. I would love the final 1.0.0 release before messing around, but it won't hurt to continue. I just started out in the next branch. As for penetration, it hasn't gained more ground, but it's a better p

[2019-02-09 19:59] sjmcdowall commented on #157
I’m not sure the next branch is the right one??

The last pub version is alpha.11 and I think next is .8 or .7?.

Then again I can’t find .11 .. sigh

Sent from my iPad

[2019-02-10 09:36] juicycleff commented on #160
That is neither flutter or graphql issue. Create an iso firmated DateTime object in flutter

[2019-02-10 09:57] netwrkx commented on #160
Do you mean I should add Iso8601DateTimeSerializer to my serializers or how do I "Create an iso firmated DateTime object in flutter"

[2019-02-11 13:02] sjmcdowall commented on #157
@juicycleff -- Rex, can you post the git url for your branch?  And yes, "next" is the appropriate branch to start with.  Personally in your branch I would merge that to master as 1.0.0 and go from there... and .. maybe change the name to flutter_graphql and publish it on dart pub on that and just basically take it over and open it up to others so we're not in this position again.. :(

[2019-02-11 13:46] juicycleff commented on #157
@sjmcdowall I'm thinking of doing the same. I will do some cleanup with all those complicated branches and tags that this library does not need right now. merge it into the master and create a dev branch for any current issues. I will notify you later today, after work. Here is the link you requested https://github.com/juicycleff/graphql-flutter.git

[2019-02-11 13:56] juicycleff opened #168 "Continuing development of this Project"
**Current State of this Project**
So if you are aware of what is happening right now, this repo is not maintained much anymore. I have tried reaching @HofmannZ here but got no reply, hope he reaches back soon. I am however continuing development of this project in my repo which I will share here later today. If @HofmannZ comes back to maintaining the repo, I will, of course, be happy to merge it b

[2019-02-11 13:59] juicycleff commented on #160
@netwrkx if I get you correctly, you are sending data from your server to flutter and the format changes once it gets to flutter right?

[2019-02-11 14:00] netwrkx commented on #160
Yes, it does.. Any reason why?

[2019-02-11 14:08] olup commented on #168
Cool ! So I'll create my MR's on your repo directly.

[2019-02-11 19:45] juicycleff commented on #168
@olup yes sir. I cleaned up and here is the link https://github.com/juicycleff/graphql-flutter/tree/master

[2019-02-11 19:46] juicycleff commented on #168
I also published to pub dart
https://pub.dartlang.org/packages/flutter_graphql

[2019-02-11 19:50] juicycleff commented on #168
Will be removing the entire branches saving master. I will draw some plans and go from there. But you can send your PRs

[2019-02-11 20:51] HofmannZ commented on #168
Hello everyone,

As you all know we've not been able to maintain this project. This was due to some rearrangements of our resources in private projects. Simply put, we did not have enough time to also maintain this project. As a result, both the issue and PRs are piling up.

We really believe in the Flutter, especially in combination with GraphQL and are therefore currently working on a way to kee

[2019-02-11 21:29] juicycleff commented on #168
@HofmannZ Nice for you to show back. I will halt whatever I am doing until this weekend. Can't wait to see the outcome 😄

[2019-02-12 07:38] hardikmodi1 opened #169 "Proper documentation for subscriptions (both in flutter and standalone)"
I would like to use this library for my ongoing project. I want to consume graphql subscriptions but unable to find how to do the same. Can someone please share the proper documentation for the same like where to initialize the socketClient and how to use subscription widget.  As when I am using it as described in docs, it throws the error.

[2019-02-12 09:09] juicycleff commented on #160
But what's the point if you need ISO string then use a String for the graphql type or convert your existing date time to ISO format in Flutter. What difference does it make? A Date is a date. I think you should close this as it's not an issue

[2019-02-12 13:37] netwrkx commented on #160
You don't still get me
Http call returns my date in iso format but when I use this graphql plugin it returns as "Wed Sep 19 2018 12:01:23 GMT+0100 (W. Central Africa Standard Time)"

How do I parse date "Wed Sep 19 2018 12:01:23 GMT+0100 (W. Central Africa Standard Time)" to ago format..

[2019-02-13 19:11] HofmannZ commented on #168
@juicycleff not sure if you get an update when I edit a comment so here’s the link to the survey: https://goo.gl/forms/WZ5JlNWASxd1ojfG3

[2019-02-13 19:34] gabsbelini commented on #116
@HofmannZ Can you elaborate a bit more on how do I add my own link to help me logging my api calls? thanks!

[2019-02-13 22:51] wwwdata commented on #168
Hi, great that you want to make a survey. But I guess you have to check the permissions. I get an error that says only users in the owners organization can see the form.

[2019-02-14 00:01] olup commented on #168
Yeah, please check settings and open up the form for every one.

[2019-02-14 06:56] HofmannZ commented on #168
@wwwdata @olup Oh, did not know it locks it down by default. Updated the settings, and it should work now!

[2019-02-14 07:20] wwwdata commented on #168
I could not make it past page 2 in the survey.. Clicking the next button does not do anything for me. Was using Chrome browser. I don't know if that is a problem that you can fix or some google forms problem 🤷‍♂️

[2019-02-14 09:16] HofmannZ commented on #168
@wwwdata Could reproduce, looks like it's solved now.

[2019-02-14 09:17] OOMROO opened #170 "The following StateError was thrown while handling a gesture:Bad state: Cannot add new events after calling close"
Click the button mutation request data, enter the next page, return to the previous page, and click the button to report an error

**Describe the bug**
A clear and concise description of what the bug is.
The following StateError was thrown while handling a gesture:
I/flutter (14239): Bad state: Cannot add new events after calling close
I/flutter (14239):
I/flutter (14239): When the exception was t

[2019-02-15 13:53] robert-stevens commented on #168
@HofmannZ @juicycleff

This is good news. I think most of us would like to know what is left to get a stable/beta 1.0.0 version and how long that would take between those involved.

If we could have an indication of that by after this weekend it will be great, as that will definitely help other devs in deciding to use this package or not.

[2019-02-16 11:14] eusdima commented on #59
@juicycleff Feel free to start working on the docs.

[2019-02-16 11:20] eusdima commented on #127
Fixed by #130

[2019-02-16 11:24] eusdima commented on #135
I will close this issue since there was no example provided and the original question got an answer.

[2019-02-16 11:24] #135 closed

[2019-02-16 11:26] eusdima commented on #157
Sorry for the lack of feedback from me and @HofmannZ
We are currently doing some maintenance and we are going to be more active from now on.

[2019-02-16 11:26] #157 closed

[2019-02-16 11:27] eusdima commented on #166
Closed because of #168

[2019-02-16 11:27] #166 closed

[2019-02-16 11:33] eusdima commented on #155
Closed because of #156

[2019-02-16 11:33] #155 closed

[2019-02-16 11:34] eusdima commented on #139
We currently don't have any plans to support that. But feel free to open a PR.

[2019-02-16 11:41] eusdima commented on #152
Closed because of #156

[2019-02-16 11:41] #152 closed

[2019-02-16 12:24] juicycleff commented on #168
Hi @HofmannZ, I didn't get a notification. I filled in the survey. What next?

[2019-02-16 12:25] olup commented on #144
This is a very important feature to provide out of the box. To me it should be integrated in the same Query widget. @wwwdata have you ended up submitting your PR ?

[2019-02-16 12:28] juicycleff commented on #168
@robert-stevens from my test, time should be spent on the cache and also pluggable persistent storage. Following the apollo-link-state pattern, so it is extensible. I am waiting for @HofmannZ plans. I halted my project for this so, I might jump back to dev if it delays too long

[2019-02-16 15:11] Gitutsav commented on #53
how can I add authentication header in graphql-client api??

[2019-02-16 16:56] karbal commented on #129
I found the issue is in the Query Widget, Should comment in The lines 67 and 69 the Function didUpdateWidget, I think that we must always regenerate the widget.
[code]

[2019-02-16 16:57] HofmannZ commented on #126
Fixed with #147

[2019-02-16 16:57] #126 closed

[2019-02-16 17:10] karbal opened #172 "Redux Integration, Docs, and/or tutorial"
Quick Integration to Work With Graphql and Redux
### Init Provider
[code]
### With One Call You can do the Query, Mutation And Subscription
And All results you will found it In `GraphQLResponses rGraphql``
// Response Of Query Request
  QueryResult query;
  // Response Of Mutation Request
  RunMutation runMutation;
  QueryResult mutation;
  // Response Of Subscription Request
  GraphQLResponsesSub

[2019-02-16 17:11] HofmannZ commented on #134
Fixed by #147

[2019-02-16 17:14] HofmannZ commented on #143
This a good addition to the library, feel free to open a PR.

[2019-02-16 17:41] HofmannZ commented on #148
The new AuthLink would some this

[2019-02-16 17:41] #148 closed

[2019-02-16 17:42] HofmannZ commented on #149
Fixes by #162

[2019-02-16 17:42] #149 closed

[2019-02-16 17:43] HofmannZ commented on #150
See @netwrkx answer

[2019-02-16 17:43] #150 closed

[2019-02-16 17:45] HofmannZ commented on #154
Hi @IhorPatychenko Take a look at our new AuthLink, you can use it as an example to setup your own basic auth link.

[2019-02-16 17:45] #154 closed

[2019-02-16 17:47] HofmannZ commented on #165
@michael-golfi Just added an official AuthLink based on your idea, it does call the link, see #171

[2019-02-16 17:47] #165 closed

[2019-02-16 17:48] HofmannZ commented on #169
We're planning to do a load of work on the documentation starting next weekend. We'll include some examples for subscriptions as well

[2019-02-16 17:55] #132 closed

[2019-02-16 17:56] HofmannZ commented on #170
Can you provide some more context?

[2019-02-16 18:43] HofmannZ commented on #168
Hello everyone,

Thanks for all the great feedback on the survey! We think the answers added some great insights into the project. And since it did not include any sensitive data, we've enabled you to view the results.

We really want to push this project to a stable version and are therefore dedicating more time to maintaining it. We also think it's good to let you guys decide which features will

[2019-02-16 19:55] michael-golfi commented on #165
This is awesome, thanks for including this!

[2019-02-16 19:59] netwrkx commented on #160
@HofmannZ any help with this

[2019-02-16 20:04] sjmcdowall commented on #168
@HofmannZ -- With over 15 years experience with Opensource Software, may I make a humble suggestion and to OPEN this project, since it's so critical to many people, as a real open source with more contributors, people who can pub etc.  I would certainly nominate @juicycleff to be a core contributor etc. and maybe 1 or 2 others .  That way there isn't a "single" source (1 company) change of being a

[2019-02-16 20:34] HofmannZ commented on #168
@sjmcdowall Definitely a great suggestion! @juicycleff are you open to joining as a core contributor?

[2019-02-17 08:18] endigo opened #173 "Need more headers in AuthLink"
Our API service uses access-token and refresh token.

Here just one header: 'Authorization'
https://github.com/zino-app/graphql-flutter/blob/next/lib/src/link/auth/link_auth.dart#L21

We need 3 custom named headers.
for example:
[code]

Thanks.

[2019-02-17 09:52] HofmannZ commented on #173
You can write your own Link:

[code]

And then you can implement it just as you would with the `AuthLink`.

Hope that helps!

[2019-02-17 09:57] HofmannZ commented on #160
@netwrkx Have a look at https://docs.flutter.io/flutter/dart-core/DateTime-class.html.

It looks like there's something going wrong with the ISO convention as @juicycleff has pointed out.

Closing the issue right now, it seems unrelated to this project.

[2019-02-17 09:57] #160 closed

[2019-02-17 12:07] dbanck commented on #168
Happy to hear that you guys are back and the development of this great library continues! We've been using the `next` branch with good success in an internal project so far. ❤️

I like @juicycleff suggestion of following the apollo-link pattern, but I think this somewhat implies a more modular approach to GraphQL in Dart. What do you think of decoupling the internal GraphQL part from Flutter? Ther

[2019-02-17 12:28] HofmannZ commented on #168
@dbanck When we build the first version of the client, we took a load of inspiration from Apollo. This was done assuming that most people would already be familiar with the Apollo project and could, therefore, find there way around more easily.

The survey showed that the assumption was quite accurate, 89% of the respondents used Apollo before using this client. We, therefore, think it's a good de

[2019-02-17 12:43] dbanck commented on #168
There is a lot to learn from Apollo and basing this library on their architecture is definitely a good decision.

@HofmannZ You might have to check the permissions of the new survey, I'm getting the "This form can only be viewed by users in the owner's organization." error.

[2019-02-17 12:50] HofmannZ commented on #168
@dbanck Should be fixed now

[2019-02-17 15:20] wwwdata commented on #53
@Gitutsav it is actually quite easy and flexible. You could set your own `http/Client` implementation into the `HttpLink` constructor `fetch` parameter.

For our project I implemented bearer authentication with token refreshment in this client. You can intercept all the requests and modify them, add headers, query parameters, all you need.

But if you only need to set headers, just using them dire

[2019-02-17 15:24] HofmannZ commented on #53
@Gitutsav I think the easiest way would be to use the auth link or create a custom auth link.

@wwwdata I think it would be way easier to create your own link see #173.

[2019-02-17 16:31] Gitutsav commented on #53
Thanks sir

On Sun, Feb 17, 2019, 8:54 PM Zino Hofmann <notifications@github.com> wrote:

[2019-02-18 09:04] budde377 commented on #170
I'm seeing this when calling a mutation on one route, then navigating to another route and calling another mutation. I'm on version `1.0.0-alpha-11`.

[2019-02-18 12:20] Goolpe commented on #170
I also had this error, but after switching to version '^1.0.0-beta.1+1' the error disappeared

[2019-02-18 13:54] budde377 commented on #170
Upgrading to `1.0.0-beta.1+1` fixed it for me aswell.

[2019-02-18 14:01] #170 closed

[2019-02-19 10:06] robert-stevens commented on #168
@HofmannZ

Thanks for the updates, I am going to check out the beta, any news/progress on optimistic results?

[2019-02-19 16:50] juicycleff commented on #168
Yes, I am definitely

[2019-02-19 16:57] sjmcdowall commented on #168
FWIW -- I'd be ok as a backup publisher / merger / reviewer etc. too if desired...

[2019-02-21 19:07] lucasavila00 opened #176 "Implement apollo's direct cache access (writeQuery, readQuery)"
Let's say I query a list of items and then I query just one item from this list.
I know that the query for one item has the data on the list one but I cannot tell the cache so.

Like apollo, I'd like to be able to do so, but currently the cache is keyed based on the [Operation().toKey()](https://github.com/degroote22/graphql-flutter/blob/e0117d6cfb9f8aa20c31fb018d58187c4194a0b1/lib/src/core/query_

[2019-02-21 19:13] degroote22 commented on #153
I'll try to show in code what I mean. [Currently if the data is cached then it won't pass the loading state.](https://github.com/zino-app/graphql-flutter/blob/6a4c18d9141b4112f2f369cb613818e526447e66/lib/src/core/query_manager.dart#L95)

But we could say that it is loading AND give the result, so we may show the old data and show an icon that tells the user new data is being fetched.
[Like here.](

[2019-02-22 07:48] juicycleff commented on #176
@degroote22 that's nice, I think readQueryFromCache and writeQueryToCache seem like a name for this feature. I will wait for @HofmannZ for his input, but you could send a PR so we test this out.

[2019-02-22 07:51] juicycleff commented on #176
I just saw your PR, I will test it out

[2019-02-22 09:39] wwwdata commented on #144
@olup not yet. Also noticed that I have to use the watcher to not break the "get stuff from cache first and then network" in my custom widget. So I have a slightly better version now.

How would an ideal API look like to query the next page? Should we add this as parameter for the `builder`? Or would it be better to add it as a function of `QueryResult`? I think there was another pull request/issu

[2019-02-22 10:13] olup commented on #144
@wwwdata  good to hear ! At first, I thought mimicking the React implementation by having a method on `QueryResult` would be the best way, and I coded something in that prospect. However, seeing your implementation, I thought your way of proposing that on the widget level makes kind of better sense.

Also I was wondering about exposing the last variables given to the request, so that we can easily

[2019-02-22 14:24] degroote22 commented on #159
This is a duplicate of #26
I have a generator written in typescript which need node to run.
[This is what code written with it looks like](https://github.com/zino-app/graphql-flutter/compare/master...degroote22:master)

I suggested that we support this generator with this project but people did not like the idea of using node with dart.
I can open source my generator if you want but bear in my tha

[2019-02-22 14:27] degroote22 commented on #129
This is kind resource-wasteful, I think.
It would be better to have the queries subscribe to the cache and have the cache notify queries of changes.
I'm not sure how to do it in Dart, though. (Dart noob here)

[2019-02-22 17:45] venkatd opened #177 "Exceptions are swallowed"
Related to #140

In most of the `try ... catch` clauses in the code, we are catching all exceptions. This results in errors unrelated to the library (such as network errors) getting swallowed which makes things very difficult to debug.

For example:
https://github.com/zino-app/graphql-flutter/blob/f7d50caf4e4999761ac8c128097ff90b3e19bb99/lib/src/widgets/query.dart#L90

https://github.com/zino-app/

[2019-02-22 19:15] venkatd commented on #118
I wasn't able to find any reference to `QueryController` but passing a dummy variable worked for me.

[2019-02-23 01:54] truongsinh commented on #159
I understand why we don't want to mix Dart VM and Node/V8 VM. It's great idea to open source your generator. I'll also read #26 to see how we can come to a solution without Node/V8 VM involved

[2019-02-24 15:24] HofmannZ commented on #168
Okay, the poll has three clear preferences: @cal-pratt, @camuthig and @juicycleff.

Are you guys cool with helping maintain the project? If so, shoot me an email to zino@zinoapp.com and I'll add you to the project.

[2019-02-24 15:29] HofmannZ commented on #153
@degroote22 Nice idea!

[2019-02-24 15:59] HofmannZ commented on #176
@degroote22 I think that exposing cache to the query/mutation would be great. I think we should just expose the whole cache rather than just the read/write operations. That's also how Apollo does it. This would also allow us to update the cache after a mutation.

@degroote22 @juicycleff Do you guys agree we should keep that in line with Apollo?

[2019-02-24 16:00] #140 closed

[2019-02-24 16:00] HofmannZ commented on #140
Fixed with #162

[2019-02-24 16:02] HofmannZ commented on #177
I think we could solve this by creating our own kind of exceptions so that we can handle them cleaner internally.

[2019-02-24 16:20] HofmannZ commented on #144
@wwwdata I would say that adding it to the `builder` would be ideal. Though I do think the logic should be inside the `QueryManger` since it can reuse the query that is managed from there.

@olup Could you elaborate on why you think it should be implemented in the widget level?

[2019-02-24 16:23] cal-pratt commented on #168
@HofmannZ Hey, everyone. Thanks a lot for including me in this vote, but I'm going to take my hat out of the ring. I've become fairly busy with other priorities and havent been able to continue my Flutter experiments as I'd like. I would be happy to help in code reviews or general discussion from time to time, but I dont think I have enough cycles in the day to act as a useful core contributor. Th

[2019-02-25 01:16] olup commented on #144
@HofmannZ I meant _exposing_ it through the builder, rather than mimicking Apollo and having it inside the result. So I completely agree with you :

Maybe other new tools could be exposed as such, so we could imagine :

`return widget.builder(_currentResult, _fetchMore, _refresh, _lastVariables);`

`_refresh` would be triggering again the initial query and update results and cache.

`_lastVariable

[2019-02-25 08:54] camuthig commented on #168
I appreciate the vote of confidence, but I don't believe I can help out. I haven't worked with Dart since nearly my last commit to this project and already have other projects in the works that are taking up my bandwidth.

[2019-02-25 09:45] HofmannZ commented on #168
@cal-pratt @camuthig I understand that you do not have time to help to maintain the project. I just dropped in all the contributors into the hat ;)

@degroote22 @micimize You both received a load of votes as well. Do you guys have the time and willingness to help to maintain the project with us?

If so, shoot me an email to [zino@zinoapp.com](mailto:zino@zinoapp.com) and I'll add you to the projec

[2019-02-25 12:54] HofmannZ commented on #173
Closing, seems revolved.

[2019-02-25 12:54] #173 closed

[2019-02-25 17:53] micimize commented on #168
@HofmannZ I'd be happy to! I have been fairly swamped recently, but that should be letting up soon and then I'll have time to focus on flutter stuff a lot more.

@robert-stevens (also maybe @juicycleff) It's not robust/tested enough to PR yet, but the most recent work I did on my fork was on [adding optimism](https://github.com/micimize/graphql-flutter/commits/lazy_dereference)

[2019-02-27 11:41] juicycleff commented on #168
@micimize that's awesome. Would you like to finish it off, or someone else picks it up?

[2019-02-28 22:23] micimize commented on #168
@juicycleff if someone else wants to pick it up that's fine with me, not sure what condition it's in though - might be out of sync, definitely doesn't have enough tests. I'll hopefully have time to get back to it sometime soon

[2019-03-02 21:33] juicycleff commented on #168
@micimize that's fine. I would like to take a look, but I want to focus on persistent caching for now. However @HofmannZ I didn't get the invitation, did you send it?

[2019-03-03 17:35] HofmannZ commented on #168
Hi @juicycleff, the invitation should've been in your inbox on the 26th. I just resend you the invitation link. Can you let me know if you've received it this time?

[2019-03-04 12:01] juicycleff commented on #169
I think we should set up a static paged website for this @HofmannZ. I will create a repository setup minimal docs then move it here

[2019-03-04 12:09] juicycleff opened #179 "SQL Normalised cache on disk"
**Is your feature request related to a problem? Please describe.**
Seeing a lot of mobile apps require cache persistence, I think it's mandatory to have optional support for SQL storage out of the box. I have started building the API [here](https://github.com/rexraphael/graphql-flutter) following Apollo client android pattern here https://github.com/apollographql/apollo-android/blob/master/apollo-

[2019-03-04 16:38] juicycleff commented on #176
@HofmannZ I totally agree to this. I have been looking at the Apollo cache implementation on Android it is the apollo way

[2019-03-04 22:51] juicycleff commented on #168
Yeah I did

[2019-03-04 22:51] juicycleff commented on #168
Thank you :)

[2019-03-05 15:01] mjheilmann commented on #165
HttpLink really doesn't call next link.  In my Graphql Server, authorization is performed in the resolvers, so I detect a revoked authorization token in the GraphQL errors.  I handle this in Apollo by having a link after the http call that can do this high-level logic, but in this library any link after Http Link is never called.  I copied HttpLink into my project to try to modify it, but the oper

[2019-03-05 18:56] mjheilmann commented on #165
In the meantime, I subclassed HttpLink, and I proxy the request call so I can inspect and process the result transparently to the other links.

[2019-03-06 15:44] leoafarias commented on #168
@juicycleff @HofmannZ There is a lot of discussions internally in our company on which package, and version to use. I assume that after this last few messages, we should stick on using this version of the package which @juicycleff will be merging his improvements and making core contributions to does that sound right?

[2019-03-07 10:38] sjmcdowall opened #181 "Ability to cancel a query"
**Is your feature request related to a problem? Please describe.**

We have a "costly" query that, alas, the user is calling over and over before the first one is even completed causing resources etc. to be used (and a huge slowdown on the system).  If the user submits a 2nd (or 3rd) query we'd like to cancel the prior one and submit the new one ..

**Describe the solution you'd like**

I believe

[2019-03-07 13:18] vvasc opened #182 "More examples with complex object structure inside mutation or query"
**Is your feature request related to a problem? Please describe.**
I use flutter graphql with flutter redux and my mutations and queries are inside my middlewares. My problem is in serialization of a mutation, when pass the object variables through the client.

In Insomnia I use this mutation:

[code]

And it works perfectly, but, in flutter I try something like:

[code]
And I've a parser Error

*

[2019-03-07 18:47] yunyu opened #183 "Support GraphQL Multipart Requests"
**Is your feature request related to a problem? Please describe.**
We are currently unable to do things like upload images and large files directly using this library.

**Describe the solution you'd like**
The library should support the multipart request spec: https://github.com/jaydenseric/graphql-multipart-request-spec

[2019-03-07 23:59] micimize commented on #168
@leoafarias Yes, unless you want to make use of @juicycleff's changes right this second, that's correct.

[2019-03-09 20:59] echonox opened #185 "Return the actual error message only"
**Is your feature request related to a problem? Please describe.**
When Catching error using `error.toString();`, graphql mutation returns this "Error returned by the server in the query: [There is already a user with that username: [{ line: 2, column: 7 }]]"

**Describe the solution you'd like**
What I would like is to be able to get just the message error that is "There is already a user with th

[2019-03-11 07:09] kashyapnayan commented on #131
Getting the same error can you please elaborate how can i get rid of this error @sjmcdowall

But the thing is i am not using mutation, i am using Query because  i want to fetch the data from graphql.
In that query when i am passing the variable default value like any integer value it is working fine but when i am trying to get that variable value from SharedPreferences and trying passing it to que

[2019-03-11 12:13] vvasc commented on #182
I solve that using
    mutation createSpot(\$createSpotInput: CreateSpotInput) {
      createSpot(createSpotInput: \$createSpotInput) {
        code
        message
        data {
          id
          nome
          descricao
          usuario {
            nome
            email
          }
        }
      }
    }

I'll close this issue, but you might consider make a better and bigger example.

[2019-03-11 12:14] #182 closed

[2019-03-11 14:12] sjmcdowall commented on #131
Your problem -- I think -- is that getUserId is an async function (and rightly so) -- but you are NOT calling it async in superInit (because you can not) ..

You need to wait until the userId is actually set .. and that "var prefs" is ugly too :)

You need to handle in your build() the condition where userId is null (and return an "In progress" sort of thing) and only redner the Query() widget if

[2019-03-11 19:58] eliezedeck opened #186 "": Undefined location" when running a manual Mutation (next branch) + Random 127.0.0.1 connections"
**Describe the bug**
When running a mutation manually, I get 2 errors at different code levels:
- `SocketException: OS Error: Connection refused, errno = 111, address = localhost, port = 33860` with random port (location is: `flutter_graphql/src/link/link_http.dart:85`) ... this is directly related to the mutation that I'm trying to run
- `: Undefined location` after getting the awaited result of

[2019-03-11 21:24] chirdeeptomar commented on #186
Same Error:
graphql_flutter: ^1.0.0-beta

[code]

[2019-03-15 08:11] juicycleff commented on #168
Correct

[2019-03-15 08:13] dekeract opened #188 "How to add(enable) debug logging?"
Hi!
In this issue I saw there is a way to add debug logging by using Link object.
https://github.com/zino-app/graphql-flutter/issues/116
Do you have any example of how to do it on latest 1.0.0-beta?

[2019-03-16 18:03] Nazacheres commented on #116
@HofmannZ Greetings, there is no documentation about how it can be used. Being able to read the logs is one of the most important features for the development. Please, could you add to documentation at least some small example?

[2019-03-17 17:07] feinstein opened #189 "Provide methods for Dart and not only Flutter."
I didn't use this library, I am just starting to look for GraphQL in Flutter, but looking at the Readme, this library seems to be really tight with Flutter Widgets, so if I want to make a Query on my BLoC or Reducer or ViewModel or any form of code that's not presentation, I can't.

If this library can be used in a Model class, please also provide its use on the Readme. This is very helpful for un

[2019-03-18 09:56] dekeract commented on #188
In case someone else will need to do same, this is how we enabled logging
`Link loggingLink = Link(request: (
      Operation operation, [
      NextLink forward,
    ]) {
      StreamController<FetchResult> controller;

      Future<void> onListen() async {
        await controller.addStream(forward(operation));
        for (var response in operation.getContext().values) {
          if (response

[2019-03-18 11:32] Goolpe opened #190 "How to update cache after mutation without pollInterval?"
Hello, Query gives old data after mutation - need new, how can I do this without pollInterval (because I can't to do much requests to the server)?

[2019-03-19 09:35] eliezedeck commented on #186
I mean, is this project still alive? At least, a quick reply would be appreciated. Thanks.

[2019-03-19 14:13] leoafarias commented on #168
@juicycleff @HofmannZ sorry, there seems to be now another version of flutter-graphql.
https://github.com/snowballdigital/flutter-graphql

An updated readme on this repository pointing to this new version would be great

[2019-03-19 21:07] chirdeeptomar commented on #186
Don't think it is....https://github.com/snowballdigital/flutter-graphql but still the same problem!

[2019-03-19 22:15] jcraven-worksight commented on #168
@leoafarias that is @juicycleff's fork of this repository, although I'm not sure if it's intended to replace this one.

[2019-03-19 23:40] micimize commented on #114
was closed by #130

[2019-03-19 23:40] #114 closed

[2019-03-19 23:44] micimize commented on #127
this was not actually resolved - #114 was resolved, which was a dependency.

Here's [a diff of the most recent work I've done on this](https://github.com/zino-app/graphql-flutter/compare/next...micimize:lazy_dereference?expand=1)

[2019-03-20 18:19] Glup3 opened #191 "Mocking GraphQLClient / Client Help required"
Hey Guys!

Is it possible to mock the Client, if yes how? The Client needs the endpoint and cache as parameters and I can't set them after initialising my MockClient.

Please answer if you know something! (I am new to Mockito and testing in general)

Yours Glup3

[2019-03-22 09:04] endigo opened #194 "Subscription example"
Is there any working subscription example?

[2019-03-23 12:17] hardiked commented on #194
Can someone add the working example of subscription here, It is of great use.

[2019-03-23 12:18] hardiked commented on #169
If someone can post the working subscription example that will also help me for now.

[2019-03-24 08:52] ChristBKK commented on #168
quite confused right now. Which of the repos are maintained now? This? https://github.com/juicycleff/flutter-graphql  or https://github.com/snowballdigital/flutter-graphql this?  OR  https://github.com/zino-app/graphql-flutter ?

[2019-03-24 08:57] eusdima commented on #168
@ChristBKK those two are just unofficial forks and not intended to replace the current one.

[2019-03-24 17:56] ChristBKK commented on #168
@eusdima  yeah but this one seems to be lost? isn't @juicycleff  maintaining it well? Why can't he takeover or commit to this one here then?

[2019-03-24 18:02] eusdima commented on #168
@ChristBKK The plan was to pick people that are willing to continue developing this repo and @juicycleff was one of them. Since I didn't see him having any activity here, but he maintains mostly his forks, I removed him from graphql-fluter.

[2019-03-24 18:42] eusdima opened #196 "We are looking for people that can push this library to the next level."
### Everyone can help
We only have a few requirements regarding styling and structuring the project, but in rest, every idea is welcome. We can set up a few things:
- A communication channel like slack or discord. [Discord Invite Link](https://discord.gg/tXTtBfC)
- Periodic skype call to discuss the future of the project.
- Open scrum platform
- Weekend lunch sessions for people from **Amsterdam**

[2019-03-24 18:44] eusdima commented on #168
If you want to help the project you can respond to #196

[2019-03-24 18:44] #168 closed

[2019-03-24 18:50] micimize opened #197 "Merge downstream efforts"
One result of the discussion in/around #168 is that we are concentrating efforts around merging downstream work. There are a number of forks with valuable functionality we need to merge to consolidate development efforts:
- [x] my work on optimism #199
- [ ] @juicycleff's [v1 with SQL cache, socket/subscription, and more(?)](https://github.com/zino-app/graphql-flutter/compare/next...juicycleff:v1.

[2019-03-24 18:56] micimize commented on #168
The [snowballdigital](https://github.com/snowballdigital/flutter-graphql) fork is also @juicycleff's fork. He'll probably [consolidate them](https://github.com/snowballdigital/flutter-graphql/issues/4) soon, and has [expressed interest in making PR's and consolidating efforts](https://github.com/zino-app/graphql-flutter/pull/180#issuecomment-472190494), but has been quite busy (like all of us).

I

[2019-03-24 19:07] micimize commented on #196
I vote for a discord.

How far along is your type generator? I made [graphql-to-dart](https://github.com/micimize/graphql-to-dart) for type / json serializable generation, and have done some work on integrating it with `graphql-flutter`. It's not that well integrated with the flutter ecosystem, but I feel like it gets the job done for now. Would be happy to rework the way the models /helpers work

[2019-03-24 19:21] eusdima commented on #196
@micimize That is a really nice library.
I have written the types generator prototype in Dart [Example](https://github.com/zino-app/graphql-flutter/files/3000744/main.txt)
Created a discord server: [Discord Invite Link](https://discord.gg/tXTtBfC)

[2019-03-24 23:03] Sach97 commented on #196
Hi guys I don't if it can help but I've started working on a [graphql_cli](https://github.com/Sach97/graphql_cli.dart) which aim to write locally a remote schema.

[2019-03-25 03:03] njdmznkj opened #198 "flutter and graphql-flutter doesn't match any versions"
when I import graphql-flutter:^0.9.5 in my project,But prompted me to make a mistake

[snakemobile] flutter packages get
Running "flutter packages get" in snakemobile...
The current Flutter SDK version is 0.0.0-unknown.

Because graphql_flutter >=0.9.2 <1.0.0-beta.1 depends on path_provider >=0.4.0 which requires Flutter SDK version >=0.1.4 <2.0.0, graphql_flutter >=0.9.2 <1.0.0-beta.1 is forbidde

[2019-03-25 07:34] juicycleff commented on #168
Hi sorry for all the confusion. My fork at https://github.com/juicycleff/flutter-graphql  was little messed up because I had stripped of a lot of this repo branches and tags and did a lot of change to simplify the process of contributing and that was before Hoffman responded. However, I found out the pace of reviewing PRs here was quite slow and is affecting my project and I also have people in my

[2019-03-25 09:48] eusdima commented on #168
@juicycleff I am sorry I overreacted about what I said. But I want this project to move forward faster. The goal of GraphQL-flutter was always to become an apollo-client. Would be great if you could join the discord channel referenced in #196 where I would like to hear more about the great work that you are doing in your library and possibly discuss the roadmap.

[2019-03-26 07:56] mohammadanton opened #200 "Mutation not working"
This is mutation code
![mutate](https://user-images.githubusercontent.com/17421945/54980058-512d5880-4fd7-11e9-91a9-beebee832d6b.png)

This is mutation in dart
![code](https://user-images.githubusercontent.com/17421945/54980059-512d5880-4fd7-11e9-88ba-abdb51283d18.png)

When I use the example it working perfectly (after click it show pop up),

but when I change it with my own code, Although I clic

[2019-03-26 08:16] juicycleff commented on #168
Its fine @eusdima. Sorry I saw the discussion last night, but I had to sleep as it was a bit late and I'm getting used to weather

[2019-03-26 09:02] mohammadanton commented on #200
Sorry, I'm so dumb

I should have changed to this \$authorId: ID!

[2019-03-26 09:02] #200 closed

[2019-03-26 15:40] truongsinh commented on #196
count me in as well ( i@truongsinh.pro ) . Actually, I'm working on https://github.com/zino-app/graphql-flutter/issues/189 , and already finish GraphQL upload https://github.com/jaydenseric/graphql-multipart-request-spec , and lots of other enhanced stuff, such as unittest / codecoverage . I'm also uploader of https://pub.dartlang.org/packages/graphql_client , which can be good if we seperate this

[2019-03-26 16:43] micimize commented on #55
I made an npm package [starwars-test-graphql-server](https://www.npmjs.com/package/starwars-test-graphql-server) for this, and want to use it for bootstrapping the example into some kind of starwars-schema-based TODOMVP equivalent for graphql clients

It would naturally be best to have an actual dart server that fits more naturally with the workflow, but function first IMO

[2019-03-26 16:47] micimize commented on #159
Consolidating this into #26 and continuing discussion there

[2019-03-26 16:47] #159 closed

[2019-03-26 16:58] micimize commented on #190
#199 adds `rebroadcastQueries` to the manager, which should solve the problem if you're leveraging normalization

[2019-03-26 17:09] micimize commented on #189
Consolidating this with #125

[2019-03-26 17:09] #189 closed

[2019-03-26 17:16] micimize commented on #125
@truongsinh [is working on this](https://github.com/zino-app/graphql-flutter/issues/196#issuecomment-476709199), and it is critical for #72.
Also from @feinstein:

For now I encourage anyone with urgent need to look into the widget implementations - you might be able to fit the client interaction points to whatever alternative pattern you're using. For instance, for basic `Query` and `Mutation` in

[2019-03-26 17:19] micimize opened #201 "Offline mutation queue"
Broken out from #127:
* track connection status with the [connectivity plugin](https://pub.dartlang.org/packages/connectivity)
* queue on disconnect, execute on reconnect (fancier retry strategies could be implemented later)

[2019-03-26 17:37] micimize commented on #59
The idiomatic thing to do here is probably to use [`dartdoc`](https://pub.dartlang.org/packages/dartdoc). I think this is especially important as the contributor pool expands and we need to communicate the intent of code internals more robustly

[2019-03-26 17:44] micimize commented on #153
#199 adds an `optimistic` field to results, which I think we could extend to queries here to indicate an optimistic cache response

[2019-03-26 17:45] micimize commented on #183
@truongsinh you said you were working on this?

[2019-03-26 17:52] micimize commented on #26
I'm not sure if `graphql-flutter` itself should attempt to generate types, at least at first.
Rather, I think we should provide an api for a user to integrate their own generated types, and possibly a seperate type generation project.

[2019-03-26 18:01] micimize commented on #176
I have some related [typed state management](https://gist.github.com/micimize/b47df421b0753e99447d967422584d28) work in my project that takes advantage of cache normalization to add custom transient state to entities (gist probably not particularly interpret-able out of context)

[2019-03-26 18:22] micimize commented on #172
not entirely sure if I interpreted the purpose of this issue correctly, clarification of the actionable here would be good

[2019-03-26 18:42] micimize commented on #179
The `cache` argument should definitely be able to support anything that implements `Cache`. Adding an SQL cache seems fine enough. I'd note that we have a [persist-able](https://github.com/zino-app/graphql-flutter/blob/next/lib/src/cache/in_memory.dart#L47-L57), normalized cache already. But still, nothing wrong with more options

[2019-03-26 18:55] micimize commented on #191
haven't used mockito and don't fully understand how it works, but if you don't need to mock the parameters, you could try calling `super` with real or fake values, and overriding the behavior in your mocks to be deterministic. So maaaaybe something like
[code]
Also `next` branch is way ahead of `master`, so you might consider using that. Let us know how it goes!

[2019-03-26 19:30] Glup3 commented on #191
thank you for your reply, i will try it out :)

[2019-03-26 19:53] thosakwe commented on #55
There's https://github.com/angel-dart/graphql (Dart server), but it's not yet complete (will be by the release of Angel 2.0).

[2019-03-27 01:20] truongsinh commented on #183
@micimize I will push the code in 4 hours

[2019-03-27 04:34] truongsinh commented on #183
@micimize @yunyu PR at #202

[2019-03-27 14:29] truongsinh commented on #72
Separation MR at #203

[2019-03-27 14:29] truongsinh commented on #125
Separation MR at #203

[2019-03-27 14:46] HofmannZ opened #204 "Automated releases (CI/CD)"
**Is your feature request related to a problem? Please describe.**
Releases currently require me to manually deploy them.

**Describe the solution you'd like**
I want to setup CircleCI with `semantic-release` to handle this automatically.

**Describe alternatives you've considered**
We could use other CI tools, but I have done most professional projects with CircleCI, so my preference lays there.

[2019-03-27 15:17] truongsinh commented on #204
FYI I'm using CirrusCI in other MRs for unit test and coverage (#202, #203)

[2019-03-27 20:31] abumoallim opened #205 "Calling Mutation onClick"
I want to call mutations onClick on the buttons.
How Can I do that?

Like simple Post and Get calls without returning as a widget.

I am unable to find any example for that.
So please help me with the examples.

Using Client Without Widget for both Query and Mutations with Headers.
I tried the one example in ReadMe but I think its older one, many things have been changed after that,

Please help m

[2019-03-28 05:08] yunyu commented on #186
This only occurs when there is an error returned in the mutation, at least with snowballdigital's fork. This catch statement (https://github.com/snowballdigital/flutter-graphql/blob/master/lib/src/core/query_manager.dart#L143) breaks, as the error object is a builtin dart error that has no message getter.

[2019-03-28 08:53] eliezedeck commented on #186
But that doesn't explain why no connection is made to my GraphQL server, at all.

Logically, the framework will never know if there was error unless it connects to the GraphQL first.

The main problem here is that the Flutter app using the library never connects to the actual GraphQL server; instead, it tries to connect to random ports. The question of why it does that is still not answered.

[2019-03-28 13:02] yunyu commented on #186
@eliezedeck I was able to connect to my server fine - I'm hosting it remotely, as I was unable to get localhost binding working. I'm fairly sure that the issue you reported happens whenever *any* error occurs, and we were experiencing separate issues. Can you connect to your localhost endpoint using just the Dart HTTP client?

[2019-03-31 01:44] micimize commented on #57
This was implemented in #130 - [example usage](https://github.com/zino-app/graphql-flutter/blob/next/example/lib/main.dart#L187-L197)
And will be even more useful/usable after #199

[2019-03-31 01:44] #57 closed

[2019-03-31 01:47] micimize commented on #191
@Glup3 take a look at @truongsinh's PR that adds more testing has [some examples of good mockito usage](https://github.com/truongsinh/graphql-flutter/blob/master/test/graphql_flutter_test.dart)

[2019-03-31 01:47] #191 closed

[2019-03-31 01:57] micimize commented on #188
@dekeract thanks for sharing the solution! Will have to remember to `ADD_TO_DOCS` when we look at #59

[2019-03-31 01:57] #188 closed

[2019-03-31 02:07] micimize commented on #194
closing as a dupe of #169

[2019-03-31 02:07] #194 closed

[2019-03-31 02:08] micimize commented on #131
If I understand correctly, the main issue is error swallowing which will be solved by #193.
@sjmcdowall were you ever able to figure out the underlying cause

[2019-03-31 02:12] micimize commented on #129
#199 adds/leverages `rebroadcastQueries`, which will solve this problem.
This is similar enough to #190 that I'm going to close in favor of that one

[2019-03-31 02:12] #129 closed

[2019-03-31 02:31] micimize commented on #181
You might be able to use [the socket client](https://github.com/zino-app/graphql-flutter/tree/next#subscriptions-experimental), as it [implements cancel](https://github.com/zino-app/graphql-flutter/blob/d108eeff59619bda9b8b8365f2d67cbbd5b64ce1/lib/src/socket_client.dart#L60).

As for `GQL_STOP` in the http client, support could take a while.

But if you can get it working with the socket subscript

[2019-03-31 16:58] micimize opened #206 "Investigate removed "flutter_assets in Resources" lines in example"
[Recent builds/PRs](https://github.com/zino-app/graphql-flutter/pull/163#discussion_r257467850) remove some `flutter_assets` references in `example/ios/Runner.xcodeproj/project.pbxproj`, that could be because of pushing development/debug builds, or just some change in flutter. Will investigate further

[2019-03-31 20:27] micimize commented on #183
closed by #202

[2019-03-31 20:27] #183 closed

[2019-04-01 10:35] Goolpe opened #207 "Unhandled Exception: NoSuchMethodError: The method 'forEach' was called on null."
I have several queries
I'm using same query code
[code]
1.
[code]
Works fine.

2.
[code]
error
[code]

[2019-04-01 13:14] Goolpe opened #208 "Subscription not working"
If I try to subscribe
[code]
I receive this error
[code]
On the backend logs are empty

[2019-04-01 21:45] aaahrens commented on #196
any performance considerations with built value? (not just factory gen)

[2019-04-01 22:50] micimize commented on #131
closing this as the error swallowing should be solved by #193, and the other issue will need more details

[2019-04-01 22:50] #131 closed

[2019-04-01 23:00] micimize commented on #125
@truongsinh contributed a [bloc implementation example](https://github.com/zino-app/graphql-flutter/blob/next/example/lib/graphql_bloc/bloc.dart). This is similar enough to #72 that I'm going to close it in favor of there, as #203 will solve both at once

[2019-04-01 23:00] #125 closed

[2019-04-01 23:09] micimize commented on #205
You can now see some direct client usage [in the bloc example](https://github.com/zino-app/graphql-flutter/blob/next/example/lib/graphql_bloc/bloc.dart#L73-L86).
Essentially you just `QueryResult result = await client.query(options)`
or `QueryResult result = await client.mutate(options)` directly on the client with their respective options objects.

Better direct client usage (and better docs in g

[2019-04-01 23:09] #205 closed

[2019-04-02 01:06] micimize commented on #186
@yunyu to be clear, you were unable to connect to `localhost:port`, even from simulators?
This is probably mostly some kind of [firewall or networking issue](https://stackoverflow.com/questions/53342939/http-request-not-processing-while-emulating-or-running-on-real-device-mode-but-w)

The ["random ports" ](https://stackoverflow.com/questions/47372568/how-to-point-to-localhost8000-with-the-dart-htt

[2019-04-02 01:11] yunyu commented on #186
@micimize We didn't bother looking up the 10.0.2.2 and localhost difference for Android and iOS, and somehow ended up using the same one for testing. That said, I am running into this bug (or at least a variant of it) even when there are no networking issues - errors with a status code of 400 but returning a valid GraphQL response are "eaten" with 400 Bad Request (such as Apollo syntax/data format

[2019-04-02 03:10] BerndWessels opened #209 "AWS AppSync support"
AppSync is a very popular, complete serverless GraphQL service by AWS.

It would be great if we could support this with a dedicated Link.

There is already a [library that helps with the AWS authorization](https://medium.com/@wesselsbernd/flutter-and-aws-as-of-march-2019-1ad7f40fa9e4) which could be used to get this to work.

AppSync also supports serverless GraphQL subscriptions, but I have no id

[2019-04-02 04:56] micimize commented on #186
@yunyu exception swallowing is a different issue - at least I'm going to treat it that way, it's kind of a pervasive issue atm but we've got merged changes that should make it better.

Anyways, please provide more details in #177

[2019-04-02 12:46] Goolpe commented on #207
I found, app shows error if we don't pass variables inside query widget. I add empty brackets and it works fine

[code]

[2019-04-03 01:28] yunyu commented on #186
Just kidding, this is an issue with the current next branch of this library, but not with https://github.com/snowballdigital/flutter-graphql. I just did a quick conversion between the two, and flutter_graphql worked without a SocketError while rev `89fc23c45becd9a8fb90fbede734282941ec531c` of graphql_flutter did not.

[2019-04-03 18:16] micimize opened #212 "Can't connect to localhost in some setups"
This is pulled out of #186 as more general "development configuration"/documentation issue. This thread is generally documenting and organizing network (or seemingly network) issues. Some goals:
* nailing down exact conditions we expect connections to work
* ensuring they work (i.e. #210)
* raising an intelligible error when there's something wrong (#177)

#### How to connect to localhost to diffe

[2019-04-03 21:10] micimize commented on #186
So, I think @yunyu's PR fixed one root cause, and I made #212 for tracking this generally. Closing this, if y'all encounter it again please comment on #212 or make a new issue with more specific details (operation string, port server is running on, environment you're trying to connect from.

[2019-04-03 21:10] #186 closed

[2019-04-03 21:19] micimize commented on #207
@Goolpe can you break on exception and see what it's trying to iterate over? Also what branch/release is this on?

[2019-04-03 21:20] micimize commented on #196
@aaahrens I'm not sure what you mean, but please pop into discord to discuss further

[2019-04-04 05:50] Goolpe commented on #207
Fixed [#211](https://github.com/zino-app/graphql-flutter/pull/211)

[2019-04-04 05:50] #207 closed

[2019-04-07 18:34] joserocha3 commented on #208
Looks related to [this pull request](https://github.com/zino-app/graphql-flutter/pull/137). I had to fork the repo and make the change implemented in the pull request.

[2019-04-08 10:56] Goolpe commented on #208
Thank you very much

[2019-04-08 14:12] Goolpe commented on #208
maybe you know, how to unsubscribe?

[2019-04-09 16:58] oakmad opened #215 "Non widget query silently failing"
I'm using the non widget query code below and it is silently failing.

[code]

I cant step into the code with the debugger and the code is crashing the app with
Lost connection to device.
Exited (sigterm)

The query runs fine with Apollo client dev tools and I've used the technique for other queries, although this is the only query I'm using variables with. Mutations are working fine.

Any suggest

[2019-04-11 06:11] kasonde opened #216 "Can't act on errors without Mutation widget rebuilding."
**Describe the bug**
Since there is no documentation on your lib I'll file this as a bug. I'm trying to run a mutation but after that mutation runs, I'm trying to show a dialog with an error message. Because your error response is within the build function, I can't act on it only once. The dialog will show as many times as the Widget rebuilds. When I change routes, it will rebuild and show a dialo

[2019-04-11 10:18] Nazacheres commented on #188
@micimize Even tho it works great with the response, I can't find a way to print the body of request, cause BaseRequest has no body :\

[2019-04-11 16:50] micimize commented on #188
The `BaseRequest` should be either a `Request`, or a `MultipartRequest` in the event you're uploading a file. So, wherever you're trying to get the body, you should be able to do something like
[code]

[2019-04-11 17:06] oakmad commented on #215
Gonna close this. I deleted the app off my test devices and emulators, reloaded and its now working.

[2019-04-11 17:06] #215 closed

[2019-04-11 17:51] micimize opened #217 "Apollo-style Client-side resolution"
@thosakwe's [decoupling of dart:mirrors in angel 2.0](https://thosakwe.com/dependency-injection-patterns-in-angel-2/#use-in-flutter-without-mirrors) currently looks like the most promising path towards apollo-style optimistic query resolution on the client-side.

Not sure if apollo-style dynamic resolvers are possible with angel - if not we'd have to get full type generation going beforehand.

[2019-04-11 17:57] micimize commented on #55
@thosakwe congrats on reaching 2.0! A self-contained / runnable example server built with Angel and backed with static data would definitely be the ideal solution here. If you don't end up publishing one yourself I'll probably figure out how to bundle your [starwars example](https://github.com/angel-dart/graphql/blob/master/example_star_wars/lib/star_wars.dart) (basically what I did with `starwars

[2019-04-11 18:10] thosakwe commented on #55
Yes, the Star Wars example is the example server you’re looking for. I will
officially release Angel 2 this weekend, and by then, I’ll be sure to
finish the documentation, and make a tutorial video.

On Thu, Apr 11, 2019 at 1:57 PM Michael Joseph Rosenthal <
notifications@github.com> wrote:

[2019-04-13 21:41] micimize commented on #176
[These methods are exposed in Apollo](https://www.apollographql.com/docs/angular/features/caching) via the [DataProxy](https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cache/src/types/DataProxy.ts#L85) interface, which is implemented by the cache and exposed by the [`client`](https://github.com/apollographql/apollo-client/blob/724cda81ecad34d159615d4dda2249ba55435aa6/pack

[2019-04-14 21:41] todorstoev opened #218 "Mutation is not triggered"
Hello guys, i have a problem with the Mutation Widget.  I attached the runMutation callback on a button pressed event but its like the function its not being executed and dont trigger the API call.

This is my code , any help would be appreciated

![Untitled](https://user-images.githubusercontent.com/24528337/56099543-199b3780-5f17-11e9-803a-622834a3f38d.png)

[2019-04-15 02:50] chenxianqi opened #219 "Is the project still being maintained?"
Is the project still being maintained?

[2019-04-15 15:46] mainawycliffe commented on #218
What version are you running?

[2019-04-15 17:08] mainawycliffe commented on #219
Yes, its still being maintained.

[2019-04-15 18:05] todorstoev commented on #218
Hello , the version is graphql_flutter: ^0.9.5  . This is the repo
https://github.com/bloodrush/projectZ

[2019-04-15 18:22] mainawycliffe commented on #218
It looks like you are relying on a different folk of this package:

[code]
(
https://github.com/bloodrush/projectZ/blob/2c04329fa1a9316836f6e4a51657e38fa871596c/pubspec.yaml#L29)

It would be better of if you raised the issue there or switched to this package here https://pub.dartlang.org/packages/graphql_flutter/versions/1.0.0-beta.1+1

[2019-04-15 18:26] mainawycliffe commented on #218
And from my attempt without changing anything, i tried to login and am getting a valid (error though) response from the graphql server

[code]

So, it seems to be triggering the API Call on login.

[2019-04-15 18:57] todorstoev commented on #218
Sorry about that , because of the error i didnt commited the code.  The whole thing is that im migrating from flutter_graphql to graphql_flutter. The flutter_graphql implementation works fine, problems came when i changed.  I commited the new code now using graphql_flutter:1.0.0-beta.1+1 as u adviced. Now im making the call but i got failed to host lookup. Any idea on this one ? Thanks a lot in ad

[2019-04-15 19:09] mainawycliffe commented on #218
From my own experience, that happens when you have a problem with network connectivity. On my end, everything seems in order after the update, am getting the No such user found error above, which indicates  it works as expected.

[2019-04-15 20:36] todorstoev commented on #218
Nice yes it works as expected , thanks for the help!

[2019-04-15 21:21] #218 closed

[2019-04-16 16:18] Kyle-Mendes opened #220 "[Auth] How to re-request an operation with new context?"
I'm trying to write my own `AuthLink` to allow me to handle expired `access_token`s and refresh them.  In the ideal implementation, I would try the request again, like in Apollo.

In *Apollo* I'm able to use the `onError` link to just call `forward(newOperation)` after passing the updated headers.  This will pass the operation along and request it again.

I tried implementing a similar approach in

[2019-04-18 11:48] chenxianqi commented on #219
Thank you for your reply.

Thank you for your reply.

[2019-04-18 11:48] #219 closed

[2019-04-18 14:40] micimize opened #221 "Switch to pedantic style"
@truongsinh we have [clarification on `pedantic` usage](https://github.com/dart-lang/pedantic/issues/17#issuecomment-484398115). I think it'd be best to follow the ecosystem on this one

[2019-04-18 17:32] micimize commented on #127
closed by #199

[2019-04-18 17:32] #127 closed

[2019-04-18 17:33] micimize commented on #190
This should now happen automatically with #199 if you're using an `OptimisticCache`

[2019-04-18 17:33] #190 closed

[2019-04-18 17:45] micimize commented on #216
are you on the `next`? You might try depending on the latest:
[code]
With the latest, using [`onCompleted`](https://github.com/zino-app/graphql-flutter/blob/next/example/lib/graphql_widget/main.dart#L223) should avoid this. Also, having your `Mutation` below your routes would as well.

If errors remain after a valid response, or if `Mutations` that should have different results share errors, that

[2019-04-18 18:09] micimize commented on #209
This would be very cool, but I think it belongs in a stand-alone library. All you really need is an
`AwsAuthLink` using the logic outlined in the post, modeled on an [auth link](https://github.com/zino-app/graphql-flutter/blob/next/lib/src/link/auth/link_auth.dart). This should work for subscriptions as well, as [according to the AppSync docs](https://docs.aws.amazon.com/appsync/latest/devguide/re

[2019-04-18 18:09] #209 closed

[2019-04-18 18:19] micimize commented on #197
I'm implementing direct cache access ( #176  above) in my next PR.
Most of the differences in juicycleff's fork were now-merged outstanding PRs anyways, and he no longer has an interest with consolidating efforts.

[2019-04-18 18:19] #197 closed

[2019-04-19 17:39] bobwiller opened #222 "raw_operation_data.dart breaks AppSync Queries"
I have been spiking various scenarios against a simple AWS AppSync endpoint using the 'next' branch.  I have authentication working against Cognito w/help of the amazon_cognito_identity_dart package.  Here is my extremely simple GraphQL query:

`const readPets = '''{
  listPets(limit: 5) {
    nextToken
    items {
      id
      name
      description
    }
  }
}
''';`

If I call `QueryResult dat

[2019-04-19 17:56] mainawycliffe commented on #222
There are some differences between the version on dart, master and the next branch branch. Try updating to the latest next branch, it was pushed yesterday and see if it works.

[2019-04-19 19:23] bobwiller opened #223 "AppSync Subscriptions?"
Does anyone know if the vNext implementation of Subscriptions will support AWS AppSync subscriptions?
Thanks,
Bob

[2019-04-19 19:34] mainawycliffe commented on #223
https://github.com/zino-app/graphql-flutter/issues/209

[2019-04-19 20:19] #223 closed

[2019-04-19 20:48] kasonde commented on #216
okay thanks. I'll give that a try. If it doesn't work, I'll reopen the issue.

[2019-04-19 20:48] #216 closed

[2019-04-21 03:52] yunyu opened #224 "Can't optimistically write a list into OptimisticCache"
I have this update method that tries to append a photo to a User in the cache, after calling a submitPhoto mutation that returns a Photo type:

[code]

This succeeds, but instead of getting a list completely filled with `Map<String, dynamic>` when the rerender occurs, I get a list with several `LazyCacheMap` entries and a `List<Object>` containing `[ '@cache/reference', 'Photo/optim-2']` which cau

[2019-04-21 12:36] bobwiller commented on #222
I can confirm this is still an issue w/get latest.  AppSync will fail if you send it an operationName.

[2019-04-21 13:43] honkevin opened #225 "Cannot install the pub"
When I add the pub bu typing "flutter packages get"
I got the following message.

The current Dart SDK version is 2.1.2-dev.0.0.flutter-0a7dcf17eb.

Because <App name> depends on graphql_flutter >=1.0.0 which requires SDK version >=2.2.0 <3.0.0, version solving failed.

It would be great if you can point me the right direction to solve this problem. Thanks!!!!

[2019-04-21 14:03] mainawycliffe commented on #225
Hi, this needs dart Dart 2.2.0, which means for now until the next flutter release you need to change the channel to beta.

You can do so by running the following command:

`flutter channel beta`

[2019-04-21 16:58] #196 closed

[2019-04-21 17:59] eusdima opened #226 "Refactoring some parts of the client to allow easier development of new features"
I want to get myself involved more into the development of the library and push some of my ideas about how to make it speedy enough to take advantage of the low latency 5G boom that is coming.
I have a few steps I want to follow for this:

- [ ] Commenting on the current changes and discussing about what micro tweaks can be added to improve the performance / code quality
- [ ] Accepting suggestion

[2019-04-21 18:56] micimize commented on #226
* `/mutation` & `refetch` - The `optimisticResult` is optional, and `null`s are ignored by the manager. But yeah, I'm not sure loading so much in function signatures is good/idiomatic. maybe we should inject "controller" class instances for query and mutation for calls like
[code]
I don't think we can do something like `Union<JustResultCallback, ResultWithRefetch>` in dart.

We'll want to break th

[2019-04-21 19:58] yunyu commented on #224
For what it's worth, this code works fine with just NormalizedInMemoryCache. I think the issue is in the optimistic patching system.

[2019-04-22 00:44] honkevin commented on #225
It works!! Thanks a lot!!

[2019-04-22 00:44] #225 closed

[2019-04-22 01:31] yunyu commented on #224
This was likely user error: the optimism works fine if I add to the list obtained via read() from the cache instead of the object passed to build(). I still feel like this should be documented, as it would be a common use case.

[2019-04-22 03:19] #224 closed

[2019-04-22 08:19] bCliks opened #227 "AuthLink doesn't accept any parameter in version 1.0.0"
**Describe the bug**
I am using version `graphql_flutter: ^1.0.0`
And trying to assign Bearer access token in AuthLink class. But it doesn't accept any parameter.

**Screenshots**
![image](https://user-images.githubusercontent.com/3747809/56490957-92485800-6504-11e9-99cf-1b91109c6717.png)

[I am following this guide to install ](https://pub.dartlang.org/packages/graphql_flutter#installation)

[2019-04-22 08:29] eusdima commented on #227
I am trying to reproduce what you are getting but my AuthLink seems fine.

Can you hover over AuthLink and see what it shows? This is what is supposed to be displaying.
<img width="445" alt="Screenshot 2019-04-22 at 10 28 06" src="https://user-images.githubusercontent.com/4757453/56491597-666ba900-64e9-11e9-8f86-bef3b09141fc.png">

What version of Dart/Flutter do you have?

[2019-04-22 10:46] mainawycliffe commented on #227
@bCliks  Can you try it like this:

[code]

[2019-04-22 12:53] bobwiller commented on #209
@micimize @mainawycliffe I think I have the auth part working for this, however I believe there are other problems w/the way AppSync handles subscriptions.  I spent most of the weekend walking through things, and would love to help out here.  However I have what might be a silly question:  What is the best way to trace what is actually going across the wire?

[2019-04-22 13:06] chenxianqi commented on #227
It seems that the same problem is here.
![image](https://user-images.githubusercontent.com/27764334/56501753-7c598800-6542-11e9-8984-1a7c8e73bead.png)

[2019-04-22 13:08] mainawycliffe commented on #227
You need to cast `httpLink as Link` for that to work

[code]

[2019-04-22 13:11] chenxianqi commented on #227
Perfect jie'j Thank

[2019-04-22 14:01] techyrajeev opened #230 "Error while running with graphql standalone client in subscriptions"
Getting this error even if I am not using any Subscription component

[code]
  graphql_flutter: ^1.0.0

• Flutter version 1.5.4-pre.17 at /dir/flutter
    • Framework revision 0545c63b9b (3 days ago), 2019-04-19 20:41:32 -0400
    • Engine revision ca31a7c57b
    • Dart version 2.3.0 (build 2.3.0-dev.0.1 cf4444b803)

My code

[code]

[2019-04-22 14:37] chenxianqi opened #231 "Subscription, can use it without using subscription widgets？"
I want to open subscriptions programmatically. How do I write them?hope it's the same as queries. don't know how to write it.
[code]

[2019-04-22 14:54] micimize commented on #209
@bobwiller do you have a repo? A [logging link](https://github.com/zino-app/graphql-flutter/issues/188#issuecomment-473842839) would help log the request/response info.

I guess I should have read a bit more in the docs

So this might take an [mqtt_client](https://pub.dartlang.org/packages/mqtt_client) link also.

[2019-04-22 14:56] micimize commented on #227
resolved by #229

[2019-04-22 14:56] #227 closed

[2019-04-22 15:02] mainawycliffe commented on #231
Yes it is possible. You can check this example here using bloc https://github.com/zino-app/graphql-flutter/blob/master/example/lib/graphql_bloc/bloc.dart

[2019-04-22 15:11] bobwiller commented on #222
Sigh, I take this back -> figured out if I change my query it works as designed....sorry.

[2019-04-22 19:21] bobwiller commented on #209
I don't have a repo at the moment.  Still trying to prove I can connect at all.  I have been playing w/the mqtt_client package as well just to see if i can create a connection - as soon as I have something i will post it.  Right now I can't get past a connection error that my connection "was not upgraded to websocket" which I am assuming is because the Connection and Upgrade headers need to be set

[2019-04-23 00:52] chenxianqi commented on #231
How to use subscription (Socket) in bloc?

[2019-04-23 00:59] mainawycliffe commented on #231
You mean `flutter_bloc`?

[2019-04-23 01:04] chenxianqi commented on #231
I want to use it anywhere, No dependence Subscription widget

[2019-04-23 01:14] mainawycliffe commented on #231
You first need to create a `GraphQLClient` just like in a widget:

[code]

Then run the query:

[code]
Or mutation:

[code]

And then you can use the results, which is exactly the same as what you get when using the widget method.

[2019-04-23 01:17] chenxianqi commented on #231
I'm sorry, I said that. （Subscriptions (Experimental)） ，My description may not be clear enough.

[2019-04-23 01:35] mainawycliffe commented on #231
Sorry, about that. Am guessing, it should be something like this:

[code]

And then subscribe:

[code]

[2019-04-23 01:37] chenxianqi commented on #231
Thank you. Let me try and see. Thank you again for your patient reply.

[2019-04-23 03:01] Kyle-Mendes opened #234 "Refetch should be optional"
In one of the recent releases `refetch` was added to the `builder` on `queries`.

This is a great addition, but `refetch` should definitely default to `{ VoidCallback refetch }` so that we don't need include it on every single Query.

[2019-04-23 03:14] Kyle-Mendes opened #235 "[Beta 2] query keyword is required in all queries"
**Describe the bug**
Previously, you could make a query like so:
[code]

however, now the `query` keyword is required, even if no variables are being passed.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to make the first query (any query without `query`
2. *Failure*

**Expected behavior**
`query` should not be required.

[2019-04-23 11:17] friebetill opened #236 "ArgumentError with SingleUpload of MultiPart Request"
**Describe the bug**
I have a question about the multipart request feature and I am trying to implement a single upload. Since there is only information in the documentation about the multi file upload, my first question is whether the single upload, as described in the [spec](https://github.com/jaydenseric/graphql-multipart-request-spec), is already possible. Since I'm currently getting a `Argume

[2019-04-23 12:35] HofmannZ opened #237 "Implement 'Keep a Changelog'"
When releasing a new version it's always hard to deliver a proper changelog. [Keep a changelog](https://keepachangelog.com/en/1.0.0/) is a proposal on how we can deliver a consistent and complete changelog.

I propose we implement it in this repo. I would require the following steps:
- [ ] Refactor the changelog to the [keep a changelog spec](https://keepachangelog.com/en/1.0.0/).
- [ ] Add update

[2019-04-23 15:29] mainawycliffe commented on #237
Is it possible to automatically parse changes from PRs, so we can have a section for change log in the PR?

[2019-04-24 08:31] HofmannZ commented on #237
For PRs; I’m not sure, but for [branches it does work](https://github.com/semantic-release/semantic-release). It does requires better commit messages so that’s a possible bottle neck.

The flow would be:
- Merge to beta branch: create a beta Github version tag.
- Merge to master: create a stable Github version tag.

Then we can add a CI trigger on git tags to do a `pub publish`.

The only problem

[2019-04-24 14:37] mateusfsilva opened #238 "Compile error on Flutter 1.5.5"
**Describe the bug**
After update flutter to version 1.5.5 the following error is happening on run:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `flutter channel dev`
2. `flutter upgrade`
3. `flutter run` or `flutter test`
4. See error

**Expected behavior**
The project needs to run without compile errors.

**Desktop:**
 - OS: macOS High Sierra
 - Version 10.13.6

**Additional con

[2019-04-24 15:29] HBO2 opened #240 "response with nested objects using array relation"
**Describe the bug**
Is it possible to use  a API response with nested objects using array relation

**To Reproduce**
see https://docs.hasura.io/1.0/graphql/manual/queries/nested-object-queries.html#fetch-nested-objects-using-an-array-relationship

**Additional context**
So, how should I make ise of  an array with [ item {...} item {..} ..ect
] in the response of the GraphQl API

[2019-04-24 15:32] mainawycliffe commented on #240
Yes, it is possible.

[2019-04-24 15:38] HBO2 commented on #240
How? Could you show example. Or give me hint? A kind of proof of concept?

[2019-04-24 15:47] mainawycliffe commented on #240
It is not different from any other queries. If you ran the following query (from the link you gave above):

[code]

The results will be a JSON Array, and you can use like this:

For instance to fetch the id of the first article:

[code]

You can also serialize it using something like [jaguar_serializer](https://pub.dartlang.org/packages/jaguar_serializer) to make it easier to access the inner obje

[2019-04-24 16:15] HBO2 commented on #240
I am afraid [] are not behaving like the normal nested arrays. Because inside are multiple arrays. So you have an idea and inside multiple id items. It's like a map in a map.

[2019-04-24 16:18] mainawycliffe commented on #240
Please share a sample of your data or at least the expected response from GraphQL server.

[2019-04-24 18:09] HBO2 commented on #240
OK, let me start with GraphQl query:
[code]

Next the response -> Only 4 items :
[code]

In general I am following the example which means

`final List advisoryservices = (result.data['advisory_service']) as List<dynamic>;`

and

[code]
so, when comment `final String amount = advisoryservice["contracts"]["amount"];
 `
I get a response like
[code]

But when uncomment ` final String amount = advisor

[2019-04-24 18:20] mainawycliffe commented on #240
First, this is not a problem specific to this package, but rather you are assuming that amount is string, while it is an int. So basically, you can't assign type int into string. You need to be do type conversion.  If you try this, `final dynamic amount = advisoryservice["contracts"]["amount"];` will work. And then convert it to string, the other option is to convert to string on the server and le

[2019-04-24 18:41] HBO2 commented on #240
HI Makes sense, but get same error:
`flutter: Another exception was thrown: type 'String' is not a subtype of type 'int' of 'index'`

[2019-04-24 18:48] mainawycliffe commented on #240
Sorry, i missed something. You are accessing the data under contracts incorrectly. It is an array, and you need to loop over it to get individual fields. This `advisoryservice["contracts"]["amount"];` can not access amount under contracts, you need an index `advisoryservice["contracts"][0]["amount"];` hence the not a subtype of type int of index.

[2019-04-24 18:52] HBO2 commented on #240
Great!!

But now I have to solve empty [] :-)
because i get
`flutter: Another exception was thrown: RangeError (index): Invalid value: Valid value range is empty: 0`
But in essence that has nothing to do with graphql-flutter
Can you give me hint how to deal with empty values in graphQl response

[2019-04-24 18:55] mainawycliffe commented on #240
have you provided the itemCount?

[2019-04-24 18:58] HBO2 commented on #240
Sorry, but I am not where to provide it?

[2019-04-24 18:59] mainawycliffe commented on #240
is it a listviewBuilder?

[2019-04-24 19:00] HBO2 commented on #240
yes

[2019-04-24 19:03] mainawycliffe commented on #240
Can you clarify what you meant here?

[2019-04-24 19:13] HBO2 commented on #240
hmm, I am using a ListTile to show the date.  like this:
[code]

and then get error. When using only print(amount);
no range error

[2019-04-24 19:17] mainawycliffe commented on #240
Not sure why, try and convert the amount from dynamic to string and see if the error persists, or use int instead of dynamic, since i see all the amount can qualify as int

[2019-04-24 19:34] HBO2 commented on #240
I am afraid I am doing something wrong:
[code]

because after 2 id's i get an error.

and id 3 is having an empty []
[code]

[2019-04-24 19:40] mainawycliffe commented on #240
For that, you can always check length of the array before reading the value. Something like

[code]

**NB** This is getting of context.

[2019-04-24 19:41] HBO2 commented on #240
yes, agree

many thx

[2019-04-24 19:44] mainawycliffe commented on #240
Yes, you can close it. I Hope that last answer helped you.

[2019-04-24 19:48] #240 closed

[2019-04-24 19:49] HBO2 commented on #240
sure, appreciated !!!

[2019-04-25 06:45] psyanite commented on #238
I have the same issue

[2019-04-25 08:41] mainawycliffe commented on #238
@psyanite  Are you too using dart 2.3?

[2019-04-25 10:48] psyanite commented on #238
Flutter 1.5.5 and 1.5.4 failed. 1.5.3 worked.

[2019-04-25 12:05] mainawycliffe commented on #238
It seems this a bug with dart 2.3. @mateusfsilva has a PR on the same, you can try it out.

[2019-04-25 20:27] micimize commented on #238
merged and should be fixed in `1.0.0+4` (tested on my own depending app)

It might be a regression in dart 2.3, but it might also have been previously-invalid syntax that the compiler didn't throw on. Regardless, the signature was incorrect

[2019-04-25 20:27] #238 closed

[2019-04-25 21:25] psyanite commented on #238
Thanks @micimize and @mainawycliffe.

[2019-04-26 03:24] gideonairex opened #242 "Cant connect to my websocket server ( hasura )"
**Always gives me  "Error in $: expected ClientMessage, encountered String"**
Always throws that error on flutter and checking on the backend its also gives me that message. But when testing the subscription on the console or using apollo it works perfectly.

**To Reproduce**
Steps to reproduce the behavior:

Install graphql_flutter: ^1.0.0+3

1. Initialize the HTTPLink, AuthLink and WebsocketLink

[2019-04-26 07:03] gideonairex commented on #242
Was able to fix it. changed 2 files
https://github.com/zino-app/graphql-flutter/blob/master/lib/src/socket_client.dart#L43
from
[code]
to
[code]

https://github.com/zino-app/graphql-flutter/blob/master/lib/src/websocket/messages.dart#L55-L66
from
[code]
to
[code]
So my problem was that my hasura's authentication uses the headers payload and the implementation of this library encodes it. Are there

[2019-04-26 07:13] gideonairex commented on #242
Or I can make a PR for this? but need an elegant way to handle this.

[2019-04-26 07:41] Goolpe commented on #242
I have this issue to and PR exists already https://github.com/zino-app/graphql-flutter/pull/137

[2019-04-26 07:44] gideonairex commented on #242
Yes Ive seen it but it only removes `json.encode`. On my use case I need to send a` Map<String, dynamic> initPayload;` and currently its `final Map<String, String> initPayload;`

[2019-04-26 09:58] felixvdh opened #243 "Unknown operation, undefined location with FutureBuilder and GraphQLClient"
So I Just started to set up a graphql client. For now I use a public [api](https://bahnql.herokuapp.com). I am planning on separating the api code from my views, via a bloc, so I am not using the Widgets provided by this library.

I set up the client:
[code]

The query:
[code]

[code]
And a Widget:

[code]
What I get is an `Unknown operation named "UNNAMED/224188357".: Undefined location`.
![Scree

[2019-04-26 10:17] felixvdh commented on #243
Alright I got It, It is linked to #235. I was expecting to be able to omit the `query` keyword in my query string. Which is not the case appearantly.

[2019-04-26 10:17] #243 closed

[2019-04-26 15:57] micimize commented on #242
@gideonairex are you sure you even need to send this `initPayload`? The initial connection seems like it should authorize with your headers:
[code]
That aside, `initPayload` should definitely be at least as flexible as `Map<String, dynamic>`. Will follow through in #137 to  see exactly why it is so constrained .

[2019-04-26 16:04] micimize commented on #242
as an aside, subscriptions probably require a lot more attention to implement robustly, given that apollo made their own standalone client [`subscriptions-transport-ws`](https://github.com/apollographql/subscriptions-transport-ws).

[2019-04-26 19:04] marwfair commented on #53
@HofmannZ Not sure where else to put this, but how would you create a custom Link that would listen for the responses and chain a request if needed? So if I try to make a mutation but my authentication token is expired, how can I check the graphql response for the authentication error, refresh my token, then retry my mutation?

[2019-04-27 02:59] gideonairex commented on #242
@micimize I actually tried using headers but the problem is that hasura authenticates through the initial payload.

[2019-04-27 18:02] micimize opened #244 "Fix links in READMEs"
The READMEs still have a bunch of placeholders from the original build and coverage work
[code]

[2019-04-27 19:41] micimize commented on #72
`graphql/client.dart` is now [in beta](https://pub.dartlang.org/packages/graphql/versions/1.0.1-beta), though reeeeeaaaaally lacking in docs

will leave this open until it is better documented and out of beta

[2019-04-27 22:35] yunyu opened #246 "Stack overflow when optimistically adding to list with a cyclical data structure"
**Describe the bug**
I am getting this stack overflow on 1.0.0+4:

[code]

It only occurs with the optimistic update and not with the real update.

**To Reproduce**
I don't have a simple test case, but here is my update method (basically adding an entry to a list, essentially equivalent to [Apollo's example](https://www.apollographql.com/docs/react/features/optimistic-ui#optimistic-advanced)):

[c

[2019-04-28 07:52] wizcas commented on #235
+1. Query builder should support default behavior of no `query` keyword.

Moreover, request would fail by unknown operation if there was a parameter list after `query` keyword without query name.

For example this query **doesn't work**:
[code]

It has to be:
[code]

[2019-04-28 15:15] yunyu commented on #246
I attempted to fix this with https://github.com/yunyu/graphql-flutter/commit/258e2dbae1e988673f43292e659ac817e04778b1, and it works but seems really hacky (and I can think of some really obscure edge case breakages).

[2019-04-29 08:13] chenxianqi opened #249 "Error reporting in query"
[No operation named "UNNAMED/123856237": Undefined location]

[2019-04-29 08:21] eusdima commented on #249
@chenxianqi Can you use the bug report template? Otherwise it's impossible to analyse what happen and why.

[2019-04-29 08:34] chenxianqi commented on #249
Hey, I've found the problem, query {} can't be written like this.The problem is closed. 3Q

[2019-04-29 08:34] #249 closed

[2019-04-29 15:01] micimize opened #250 "Consider sync version number from CI"
[Circle CI is going to be in charge of releases](https://github.com/zino-app/graphql-flutter/pull/247/files#r279200394), but I think it would still be good to have a proper version number in pubspec via an [automated commit](https://support.circleci.com/hc/en-us/articles/360018860473-How-to-push-a-commit-back-to-the-same-repository-as-part-of-the-CircleCI-job)

[2019-04-29 15:16] micimize commented on #246
Sorry - thought I squashed the last of these stack overflow issues by unwrapping the lazy maps in merge. `LazyCacheMap` should behave pretty much like a map - it should be editable and writable back into the cache without problems

[2019-04-29 15:20] yunyu commented on #246
FWIW, I worked around the issue by writing only the `_id` and `__typename` back for all the objects in the list.

[2019-04-29 16:19] mainawycliffe commented on #230
This is the same issue as [this ](https://github.com/zino-app/graphql-flutter/issues/238) and was fixed by this [PR](https://github.com/zino-app/graphql-flutter/pull/239).

[2019-04-29 16:19] #230 closed

[2019-04-29 18:30] nitishk72 opened #251 "Readme file is having grammer mistake and spelling mistake"
There is some punctuation and spelling mistake in the readme file.

[2019-04-29 19:32] netwrkx opened #253 "Null on Mutation"
**Describe the bug**
mutation return null in flutter but works in graphql browser

Response from flutter
I/flutter ( 4727): RESULT
I/flutter ( 4727): Instance of 'QueryResult'
I/flutter ( 4727): null
I/flutter ( 4727): null

**System Setup**
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

[code]

[code]

[2019-04-29 19:43] eusdima commented on #253
@netwrkx can you use the bug report template? Right now its hard to follow and figure out what the issue is.

[2019-04-29 21:54] netwrkx commented on #253
@eusdima i hope its better this way

[2019-04-30 05:10] endigo commented on #253
@netwrkx
[code]

[2019-04-30 06:24] patelmanjeet commented on #235
When we use query or mutation without Operation name it will add operation name like
`_operationName ??= 'UNNAMED/' + document.hashCode.toString();`

And my backend hasura graphql server gives error in **invalid operation**

[2019-04-30 12:47] xxhenglyxx opened #257 "Dart does not like when I import FetchResult and Operation from the package"
I am trying to implement my own `CustomLink` which extends from the `Link` from this package and follow from this https://github.com/zino-app/graphql-flutter/issues/173. When I try to import `FetchResult` and `Operation` from the package, dart complaints about not to import implementation from other packages.

[2019-04-30 15:09] HofmannZ commented on #127
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:09] HofmannZ commented on #190
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:09] HofmannZ commented on #186
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:09] HofmannZ commented on #183
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:09] HofmannZ commented on #155
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:09] HofmannZ commented on #109
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:09] HofmannZ commented on #103
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:09] HofmannZ commented on #75
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:09] HofmannZ commented on #74
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:10] HofmannZ commented on #61
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:10] HofmannZ commented on #21
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 15:10] HofmannZ commented on #14
:tada: This issue has been resolved in version 1.0.0-beta.1 :tada:

The release is available on [GitHub release](https://github.com/zino-app/graphql-flutter/releases/tag/v1.0.0-beta.1%40beta)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-04-30 20:17] netwrkx commented on #253
thanks....

[code]

[code]

[2019-05-01 01:50] endigo commented on #253
You can't write input type on your client side.

But you can pass through variables:
[code]

[2019-05-01 06:46] netwrkx commented on #253
@endigo  Then what data type will categoryIds be in my mutation file.
If name is a String, categoryIds is ??

[2019-05-01 06:48] endigo commented on #253
What is type in your GraphQL API?

[2019-05-01 06:50] netwrkx commented on #253
Feathersjs with graphql
If name is a String, categoryIds is ?? In flutter mutation file

[2019-05-01 07:07] netwrkx commented on #253
@endigo how do I represent array of string or Json list type in my mutation file since I can't use input type on client-side

[2019-05-01 07:20] endigo commented on #253
input types are backend side feature, so you can use json in categoryids

[2019-05-01 07:23] HofmannZ opened #262 "Create contributor guidelines"
The automated CD requires us to use [Angular style](https://github.com/angular/angular.js/blob/master/DEVELOPERS.md#-git-commit-guidelines) commit messages. This needs to be communicated to all contributors. So we should add some contributor guidelines.

[2019-05-01 09:04] netwrkx commented on #253
Thanks

[2019-05-01 09:04] #253 closed

[2019-05-03 12:34] bobwiller commented on #209
@micimize I finally have this working in Dart/Flutter (but outside of this package).  I don't know a lot about  other GraphQL implementations, but for AWS Appsync, this is a two step process:  An http query, and then the socket is built based on the response from that call.  (The socket gets all the data it needs to connect from the response, including auth token and uri - and yes, it uses MQTT).

[2019-05-04 11:38] mainawycliffe commented on #144
@micimize Was this ever resolved?

[2019-05-04 17:05] #91 closed

[2019-05-04 17:05] #204 closed

[2019-05-06 07:34] endigo commented on #235
It's not in just query when I run mutation from bloc (not using mutation widget) throws this error.

[2019-05-06 15:55] chenxianqi commented on #231
·

[2019-05-06 16:02] chenxianqi commented on #231
I can't connect to websocket

I/flutter ( 9135): Scheduling to connect in 5 seconds...
I/flutter ( 9135): Connecting to websocket: ws://meemeeapp.com/cable...
I/flutter ( 9135): Disconnected from websocket.
I/flutter ( 9135): Scheduling to connect in 5 seconds...
I/flutter ( 9135): Connecting to websocket: ws://meemeeapp.com/cable...
I/flutter ( 9135): Disconnected from websocket.
I/flutter ( 9135

[2019-05-06 16:20] Kyle-Mendes commented on #220
Sorry to bump this with a comment, but I would love if any of the contributors / maintainers could provide some direction here.  I'm new to dart, so I might be missing something in how the Streams work.

I would love to contribute to this project in terms of documentation or a PR if I'm able to get this to work.

We're wrapping up work on our app soon, and this is the last major thing we have left

[2019-05-06 20:05] mainawycliffe commented on #231
Sorry, I don't have a readily available websocket graphql server at hand to give you a readily working solution. But i have been going through the code and i think you just need to replace `HttpLink` with `WebSocketLink` as shown below:

[code]

I extracted that from the example [here](https://github.com/zino-app/graphql-flutter/blob/4576a80e23d4007f64aff57c1748a95510d7bce6/packages/graphql/exampl

[2019-05-06 20:09] mainawycliffe commented on #220
Have you tried stepping through the code using a debugger and see why the second request doesn't work. I will try and re-create your example when i get sometime tomorrow.

[2019-05-06 20:51] mainawycliffe commented on #257
How are you importing the packages? Can you try something like:

[code]

[2019-05-07 00:56] chenxianqi commented on #231
Is my writing correct?
Still not connected

use

[2019-05-07 01:54] xxhenglyxx commented on #257
@mainawycliffe Hi, thanks for the comment. importing the `package:graphql/internal.dart` removed the dart warning. I was importing them from inside the `graphql_flutter` lib, i am sorry I forgot what was the path and my editor autocomplete does not show it this time, so weird, but it was something like inside the package `../link/operation.dart`

[2019-05-07 02:57] #257 closed

[2019-05-07 09:52] HofmannZ commented on #235
@Kyle-MendeHow is this a valid query?

[code]

Even if the `query` keyword is omitted shouldn't there always be wrapping brackets like so:

[code]

[2019-05-07 12:03] Fhffsthu opened #264 "Certain queries fail due to parser issue"
There is an issue in the graphql_parser with certain queries - see [https://github.com/angel-dart/graphql/issues/23](https://github.com/angel-dart/graphql/issues/23) for the issue and sample queries.

The parsing failure causes the "operationName" to be set to null. In the 1.0.0+4 (as opposed to 1.0.0-beta.1+1) this has been detected and fixed by changing a null "operationName" to `'UNNAMED/' + do

[2019-05-07 14:41] endigo commented on #264
@HofmannZ Related to #235

I have the same problem.

[2019-05-07 15:05] Kyle-Mendes commented on #235
@HofmannZ Oops! I accidentally typed it out wrong :) Good catch!

[2019-05-07 15:07] Kyle-Mendes commented on #220
@mainawycliffe

I'll see if I can get that to work, but right now I'm struggling.  I might just be misunderstanding the order that things get resolved, and how Streams work.  I'll make sure to update here if I have a breakthrough!

[2019-05-07 15:16] jaumard commented on #72
graphql is not yet in pub right ? Does it change a lot from the one currently bundled into this one ?

[2019-05-07 15:23] jaumard opened #265 "Map QueryResult to dart model object"
**Is your feature request related to a problem? Please describe.**
Would be nice to be able to use models instead of just Map, because in big payload it become really messy ^^

**Describe the solution you'd like**
having some code generation "fromMap" would be nice, we can then use `client.query<MyQueryResultMapped>(...)` that will internally call fromMap

**Describe alternatives you've considered

[2019-05-07 15:31] mainawycliffe commented on #72
@jaumard It doesn't change much at all. You can find the beta on pub [here](https://pub.dev/packages/graphql/versions/1.0.1-beta.7). There are some examples too, though more docs and examples are required.

[2019-05-07 15:36] mainawycliffe commented on #231
Everything seems in order. i will have to setup a Web Socket GraphQL Server to help you out and create a workable example. I hope i can sometime this week find sometime to do so.

[2019-05-07 15:41] jaumard commented on #72
Ho ok didn't pop on search ^^ thanks @mainawycliffe ! I'll try it, as I don't need the flutter part I prefer not having it in my deps :)

[2019-05-07 16:24] micimize commented on #235
yeah this looks like a regression - probably need to decouple `operationName` from the operation identification functionality I added the default for.

I've been a bit busy, but I should be able to get to this later this week

[2019-05-07 22:12] lenaschimmel commented on #222
So I'm running into a similar problem, using version 1.0.0+4. I'm using a backend powered by Apollo-Server 2.4.8 and it also doesn't like the generated names. The error is:

    [Unknown operation named "UNNAMED/242467548".: Undefined location]

If I comment out [Line 34](https://github.com/zino-app/graphql-flutter/blob/59c838e511e4d4c2b63d839da34492e6c4cadc34/lib/src/core/raw_operation_data.dart#

[2019-05-08 21:37] klavs commented on #72
Why is it dependent on `dart:io`? As far as I know, it makes it incompatible with web platform

[2019-05-09 11:04] friebetill commented on #236
If I added authentication to the mutation and the error no longer occurred, close the issue.

[2019-05-09 11:04] #236 closed

[2019-05-13 03:29] endigo commented on #235
@micimize any progress?

[2019-05-13 16:41] xxhenglyxx opened #269 "subscription not working"
flutter version: 1.5.9-pre.223
graphql_flutter version: 1.0.1-beta7

flutter doctor:
[code]

The init code
[code]

subscription query
[code]

The subscription just basic "hello world" stuff and `absinthe` as elixir graphql server. The subscription works when testing it on graphiql, below are the schema of the subscription on the server.

[code]

I am doing a chat application, so how it works is I

[2019-05-14 05:48] gabrieltong commented on #169
+1

[2019-05-14 15:29] micimize commented on #235
@endigo I haven't had time to work on it - I would update here proactively if I had

[2019-05-15 07:06] xxhenglyxx commented on #269
I found out the problem is from the `absinthe` package, I tried using the same code on flutter but change the subscription endpoint to node `apollo-server` and it works as expected.

[2019-05-15 07:06] #269 closed

[2019-05-15 08:29] NhaPCS opened #270 "Version conflicts with other libs, update rxdart to ^0.22.0"
**Describe the bug**
I am using bloc and graphql_flutter, but bloc 0.13.0 is using rxdart ^0.22.0, graphql is using rxdart ^0.21.0.

**Additional context**
Please update rxdart to 0.22.0!

Thanks and best regards!

[2019-05-15 09:30] dbrb commented on #270
Submitted a PR for this https://github.com/zino-app/graphql-flutter/pull/268

In the meantime, if you're in a rush you can use my fork.

[2019-05-15 09:38] NhaPCS commented on #270
@dbrb thanks :))

[2019-05-16 17:33] HofmannZ commented on #250
Fixed in #247

[2019-05-16 17:33] #250 closed

[2019-05-17 00:26] smkhalsa commented on #198
I'm also getting this error when I try to use audioplayers 0.12.0

[2019-05-17 00:53] mainawycliffe commented on #198
You have a dependency conflict, both this package and audioplayers package are using different versions of path_provider package causing conflict. We will update to the latest version of path_provider (or if you can, you can submit a PR), in the meantime, version 0.11.0 shouldn't cause any conflicts, as a temporary work around.

[2019-05-17 01:10] smkhalsa commented on #198
Updated dependency in #271

[2019-05-17 01:17] mainawycliffe commented on #198
That was quick. I was about to do the same. Could you please also update any other packages, on both packages, there are several ones that needs updates.
![Annotation 2019-05-17 041644](https://user-images.githubusercontent.com/12270550/57896699-b0cb1600-785a-11e9-9ac3-67dd84592b76.png)
![Annotation 2019-05-17 041715](https://user-images.githubusercontent.com/12270550/57896702-b163ac80-785a-11e9-9

[2019-05-17 13:04] CalebJTSmith opened #272 "Can I refetch outside of the Query() block in another part of the context?"
I have a Query() that renders a listview of items. In the AppBar, I have an action for adding a new item that sends a mutation back to the server. Is there a way to force a refetch on the query with a mutation outside of the Query()? I didn't really want to setup a specific state for a small query.

[2019-05-17 14:11] smkhalsa opened #273 "Make mutate function return a Future"
the mutate function currently returns `void`. I suggest we change it to return a Future with the mutation result.

[2019-05-17 15:01] smkhalsa commented on #273
In case anyone else lands here, an alternative is to call the mutate function on the `GraphqlClient`'s `QueryManager` directly. I am now using `package:provider` to pass my `GraphqlClient` down my widget tree. This approach is very similar to React's hooks, and I actually prefer it to the Mutation widget.

[2019-05-17 17:39] mainawycliffe commented on #272
There are a number of ways i can think of, one is subscriptions to push data down from the server, any changes would be picked up by the listener. The second option is to use polling, and i think the easiest option, where your query will poll the server on interval.

[2019-05-17 17:45] mainawycliffe commented on #273
Yea, i agree with you in regards to mutations, should definitely return a future with the results from the server. If you prefer not to use the widgets, there is a separate core package, which you can use with any state management solution of your choice. Though its still in beta. You can learn more [here](https://github.com/zino-app/graphql-flutter/blob/beta/packages/graphql)

[2019-05-17 18:03] CalebJTSmith commented on #272
Subscriptions was my first big stab - I was really struggling (from a server perspective) to get that all flowing right, so I wanted to explore some other ways to handle it in the meantime. I like the idea of changing the polling interval. I might try to set that number dynamically, flip it down to 1, then flip it back to a higher interval after the first refetch.

[2019-05-17 18:08] mainawycliffe commented on #272
I still think you should try and implement a state management solution, something like inherited widget or scoped model. This would allow you to fetch the query when you need to, like on mutation, while avoiding to constantly poll the server for changes.

[2019-05-17 18:09] CalebJTSmith commented on #272
I agree - Thanks for the tips! I wanted to make sure I wasn't missing something obvious first, so I'm glad I wasn't too far off track.

[2019-05-17 18:09] #272 closed

[2019-05-18 09:41] smkhalsa commented on #273
@mainawycliffe Looking through the source, it looks like the mutate function in the graphql package doesn't accept an `update` function to update the cache. I can open a separate issue for that. That would be important to have for my use case.

[2019-05-18 09:58] smkhalsa commented on #198
@mainawycliffe #268 updates rxdart. flutter_test depends on meta 1.1.6, so upgrading it to 1.1.7 fails.

[2019-05-18 11:04] anirudhsharma392 opened #274 "How to update client after 2-3 page??"
I have made graphqlprovider in main but after 2-3 screen i want to change the client in graphqlprovider of main. can i do it with GraphQL consumer??
if yes, how??

return GraphQLConsumer(
                  builder: (GraphQLClient client){
                    client=GraphQLClient(cache: InMemoryCache(), link: httpLink);
                    return Season();
                  },

[2019-05-18 11:08] mainawycliffe commented on #273
Yes, open a new issue, i will pick it once am done with the current feature am working on or someone else will.

[2019-05-18 11:13] mainawycliffe commented on #198
Yea, i see it. The only problem is that the PR is against master instead of beta. I will add a comment there.

[2019-05-18 22:06] #198 closed

[2019-05-18 23:39] mohammadanton commented on #86
why this is not on documented yet?

[2019-05-19 00:43] micimize commented on #270
closed by #275

[2019-05-19 00:43] #270 closed

[2019-05-19 03:38] micimize commented on #274
You would have to use a callback, `InheritedWidget`, or other external logic. But, from what I can understand from your code, what you really want to do authenticate below the client.

If so, I'd recommend something like:
1. saving the token in the `update` of your `AuthenticationMutation` to the cache under `"@authentication_token"`
2. where you define the cache, define `getToken` for an `AuthLin

[2019-05-19 03:38] #274 closed

[2019-05-19 04:09] micimize commented on #273
This would indeed be [more in line with Apollo](https://www.apollographql.com/docs/react/essentials/mutations#render-prop):

But there is a question as to whether it should fulfill optimistically

[2019-05-19 04:10] micimize commented on #264
(hopeflly) closed by #276

[2019-05-19 04:10] #264 closed

[2019-05-19 04:11] #251 closed

[2019-05-19 04:16] micimize commented on #265
This is planned eventually and tracked in #26, but for now you can check out [graphql-to-dart](https://github.com/micimize/graphql-to-dart)  and the [`TypedQuery`](https://github.com/micimize/graphql-to-dart/blob/master/example/lib/episode.dart#L47) usage in the example.

Still pretty janky though, and I don't have much time to work on it.

[2019-05-19 04:16] #265 closed

[2019-05-19 04:34] micimize commented on #244
closed by 42a70b1

[2019-05-19 04:34] #244 closed

[2019-05-19 04:34] micimize commented on #244
though one issue is links in master vs beta

[2019-05-19 04:51] micimize commented on #234
Do you mean it's annoying to have to add `refetch` into your `builder` arguments? If so, I agree, I'm just not sure what the better way to do it would be.

There isn't a "union typedef" in dart, so we can't make an api that takes "either a function with a `refetch` argument, or one without".

We could maybe add multiple `builder` params, or multiple widgets, but I'm mostly inclined to wait a while

[2019-05-19 04:53] micimize commented on #235
closed by #276

[2019-05-19 04:53] #235 closed

[2019-05-19 04:55] micimize commented on #222
should be fixed by #276, along with #235

[2019-05-19 04:55] #222 closed

[2019-05-19 05:43] micimize commented on #179
Closing as this is not a priority anytime soon. Would be interesting to do with angel's orm, maybe

[2019-05-19 05:43] #179 closed

[2019-05-19 05:51] micimize commented on #185
You mean `error.message`?

[2019-05-19 05:53] #185 closed

[2019-05-19 05:55] micimize commented on #206
no time / who cares

[2019-05-19 05:55] #206 closed

[2019-05-19 06:00] micimize commented on #141
This seems outdated - I think today this could be resolved with a custom http link, which I think is fine given the niche nature of it